@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";

@switcher-border-color: #c4c9cc;

.ux-switcher-field {
    position: relative;
    display: block;
    transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;

    &._disabled, &:active._disabled {
        .state_disabled;
    }

    &__label {
        display: flex;
        align-items: center;
    }

    &:not(._disabled) > &__label:hover {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &__label-text {
        .font-regular;
        color: inherit; /*!-designToken-switcher-field-label-color*/

        line-height: 18px;

        &._left {
            padding-right: 8px;
        }

        &._right {
            padding-left: 8px;
        }
    }

    &__input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-transform: none;
        width: 1px;
    }

    &__control-wrapper {
        display: inline-block;
        width: 38px; /*!-designToken-switcher-field-width*/
        height: 24px; /*!-designToken-switcher-field-height*/
        .state_focus-passive(relative, 0, 14px);
        user-select: none;
    }

    &__control {
        position: relative;
        width: 38px; /*!-designToken-switcher-field-width*/
        height: 24px; /*!-designToken-switcher-field-height*/
        border: 1px solid @default-border-color; /*!-designToken-switcher-field-border-size solid -designToken-switcher-field-border-color*/
        border-radius: 22px;
        user-select: none;
        transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    }

    &__control,
    &:active._disabled &__control {
        background-color: @primary-background-color; /*!-designToken-switcher-field-inactive-background-color*/
        border: 1px solid @switcher-border-color; /*!-designToken-switcher-field-inactive-border-size solid -designToken-switcher-field-inactive-border-color*/
    }

    &._active &__control,
    &:active._active._disabled &__control {
        background-color: @primary-color; /*!-designToken-switcher-field-active-background-color*/
        border: 1px solid @primary-color; /*!-designToken-switcher-field-active-border-size solid -designToken-switcher-field-active-border-color*/
    }

    &__control:after {
        content: '';
        transition-delay: 0.03s;
    }

    &__control:after,
    &__icon {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: @main-background-color; /*!-designToken-switcher-field-icon-background-color*/
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
        box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.07);
    }

    &__icon,
    &._disabled:hover &__icon,
    &._active._disabled:hover &__icon {
        box-shadow: 0 4px 12px 0 @default-border-shadow-color;
    }

    &:hover &__icon {
        .state_hover;
    }

    &._active:hover &__icon {
        .state_hover;
    }

    &._active:hover &__control {
        background-color: @primary-color; /*!-designToken-switcher-field-active-hover-background-color*/
    }

    &:active &__icon {
        transform: translate3d(2px, 0, 0);
        transition-duration: 0.2s;
    }
    &:active._disabled &__icon,
    &:active._disabled &__control:after {
        transform: translate3d(0px, 0, 0);
    }

    &:active._active &__icon {
        transform: translate3d(12px, 0, 0);
        transition-duration: 0.2s;
    }
    &:active._disabled._active &__icon,
    &:active._disabled._active &__control:after {
        transform: translate3d(14px, 0, 0);
    }

    &._active &__control:after,
    &._active &__icon {
        transform: translate3d(14px, 0, 0);
    }

    &._focused:not(._disabled) &__control-wrapper {
        .state_focus-active(0, 16px);
    }

    &:not(._disabled) &__label:hover &__control-wrapper {
        .state_focus-active(0, 16px);
    }
}
