@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";
@import "../../../common/mixins.less";

.dropdown_value_text() {
    display: inline-block;
    max-width: 100%;
    .ellipsis;
}

.ux-dropdown-field {
    position: relative;
    display: block;
    touch-action: manipulation;

    &__input {
        overflow: hidden;
        width: 0;
        height: 0;
    }

    &__label {
        .state_default;
        .state_focus-passive();
        color: @main-text-color; /*!-designToken-dropdown-field-color*/
        background-color: @main-background-color; /*!-designToken-dropdown-field-background-color*/
        border: 1px solid @default-border-color; /*!-designToken-dropdown-field-border-size solid -designToken-dropdown-field-border-color*/
        user-select: none;
        cursor: pointer;
        padding: 0 32px 0 10px;

        display: flex;
        flex-direction: row;
        align-items: center;

        &-placeholder {
            .dropdown_value_text;
            color: @default-inactive-color; /*!-designToken-dropdown-placeholder-color*/
        }

        &-text {
            .dropdown_value_text;
        }
    }

    &._error &__label {
        .state_error;
    }

    &:active._disabled &__label {
        .default_field_border;
    }

    &._disabled &__label {
        .state_disabled;
    }

    &._focused:not(._disabled) &__label,
    &._opened &__label {
        .state_focus-active();
    }

    &._error._focused:not(._disabled) &__label,
    &._error._opened &__label {
        .state_focus-active(2px);
    }

    &._mobile &__label {
        padding: 0;
    }

    &__icon {
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        fill: @main-color;
        fill-rule: evenodd;
        stroke: none;
        overflow: hidden;

        &._input {
            margin-right: 7px;
        }

        & > :first-child {
            width: 20px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__items {
        padding: 7px 0;
        overflow-x: hidden;
        .font-regular;
    }

    &__item {
        font-weight: normal;
        cursor: pointer;
        padding: 6px 12px 7px 12px;
        text-align: left;
        outline: none;

        &-value {
            display: block;

            &._nowrap {
                .ellipsis;
            }
        }

        & + & {
            margin-top: 1px;
        }

        &_highlight {
            background: @default-info-color; /*!-designToken-dropdown-field-item-selected-background-color*/
        }

        &:not(&_highlight):not(._disabled):hover {
            background: @default-warning-color; /*!-designToken-dropdown-field-item-hover-background-color*/
        }

        &_empty {
            text-indent: -9999px;
        }

        &._disabled {
            .state_disabled;
        }
    }

    &__input-wrapper {
        clip: rect(0 0 0 0);
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        display: inline-block;
        height: 100%;
    }

    .ux-paging__dropdown & {
        &__list {
            margin-top: 0;
        }

        &__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 1px 16px 0 0;
            height: 20px;
            border: none;
            box-shadow: none;
            color: @main-color;
            font-size: inherit;
            &::after {
                border: transparent;
            }

            &-text {
                min-width: 24px;
                text-align: end;
            }
        }

        &__trigger {
            padding: 0;
            width: 12px;
            &::after {
                left: 0;
            }
        }

        &__icon {
            margin-right: 0;
        }
    }

    &.ux-paging__dropdown:active._disabled .ux-dropdown-field__label {
        border: none;
    }

    &__empty-message {
        padding: 7px 8px;
        color: @default-dark-color;
        cursor: default;
    }

    &__select {
        width: 100%;
        border: none;
        outline: 0;
        z-index: 1000;
        padding-left: 7px;
        transform: translate3d(0, -1px, 0);
        background-color: transparent;
    }

}
