@import "../../../common/color-vars.less";

.ux-multiple-selector-field-popover-content {
    display: block;
    padding: 7px 10px;
    background-color: transparent; /*!-designToken-multiple-selector-field-popover-content-background-color*/

    &__checkbox-group {
        padding: 10px;
    }

    &__empty-message {
        padding: 7px 8px;
        color: @default-dark-color;
        cursor: default;
    }
}
