@import "../../../common/color-vars.less";
@import "../../../common/font-vars.less";

.ux-multiple-field {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    &__value-item {
        display: flex;
        overflow: hidden;
        margin: 6px 4px 6px 0;
        padding: 2px 4px 2px 8px;
        width: initial; /*!-designToken-multiple-field-value-item-width*/
        height: initial; /*!-designToken-multiple-field-value-item-height*/
        border-radius: 3px;
        background-color: @default-info-color; /*!-designToken-multiple-field-value-item-background-color*/

        &._last {
            margin-right: 8px;
        }

        &-caption {
            width: ~'calc(100% - 16px)';
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .font-regular;
            line-height: 1.21;
            color: @main-text-color; /*!-designToken-multiple-field-value-item-caption-color*/
        }

        &-remove {
            margin-left: 4px;
            width: 14px;
            height: 14px;

            &-icon {
                width: 14px;
                height: 14px;
                fill: #363d4d;
                transform: translate3d(-1px, 1px, 0);
                vertical-align: top;
            }
        }

        &-remove:not(._disabled):hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &._add-button-before &__button {
        order: -1;
    }
    &._add-button-before &__value-item._last {
        margin-right: 4px;
    }
    &._add-button-before &__value-item:first-child {
        margin-left: 8px;
    }
}
