.ux-multiple-text-field-popover-content {
    display: block;
    padding: 17px 20px 20px 20px;
    background-color: transparent; /*!-designToken-multiple-text-field-popover-content-background-color*/

    &__toolbar {
        margin-top: 20px;
    }

    &__field {
        /* Fix for correct width of text field*/
        max-width: 0;
        min-width: 100%;
    }
}
