<sq-overlay-popup [title]="_creatingMode ? 'Create new folder' : 'Folder details'"
                  [visible]="_visible"
                  [contentTemplate]="contentTemplate"
                  [controlsTemplate]="controlsTemplate"
                  [statusEnable]="operationStatus"
                  [statusTemplate]="statusTemplate"
                  (onClose)="_onCloseClick()"
>
</sq-overlay-popup>


<ng-template #contentTemplate>
  <form novalidate
        #folderEditForm
        class="sq-folder-popup__form"
        [formGroup]="_formGroup">
    <ux-label [text]="'Folder name'"
              [required]="true"
    >
      <ux-text-field #folderNameCtrl
                     formControlName="folderNameCtrl"
                     [(value)]="_folderName"
                     [placeholder]="'Enter folder name'"
                     [uxTooltip]="!folderNameCtrl.focused && !_formGroup.controls.folderNameCtrl.untouched && _getErrorText('folderNameCtrl')"
                     uxTooltipAppendTo="target"
                     [ngClass]="{
                          '_error': !folderNameCtrl.focused && !_formGroup.controls.folderNameCtrl.untouched && _getErrorText('folderNameCtrl')
                       }"
      >
      </ux-text-field>
    </ux-label>
  </form>
</ng-template>

<ng-template #controlsTemplate>
  <ux-button (tap)="_onEditConfirm()"
             [text]="creatingMode ? 'Create' : 'Update'"
             [kind]="'primary'"
             [disabled]="!_formGroup.valid"
  >
  </ux-button>
</ng-template>


<ng-template #statusTemplate>
  <ux-label [text]="operationStatus"
            [ngClass]="'_error'"
  >
  </ux-label>
</ng-template>
