@import "../../common/common-vars.less";
@import "../../common/color-vars.less";
@import "../../common/font-vars.less";

.ux-accordion-item {
    display: block;

    &__header {
        position: relative;
        margin-bottom: 6px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 30px;
        color: @main-text-color;
        letter-spacing: .05em;
        user-select: none;

        &:hover {
            cursor: pointer;
        }

        &._disabled {
            cursor: default;
        }

        &-caption, &-content {
            max-width: 100%;
            position: relative;
            display: inline-block;
            vertical-align: top;
            .font-bold;
            color: @main-text-color; /*!-designToken-accordion-item-header-color*/
        }

        &-icon > :first-child {
            position: absolute;
            left: -4px;
            top: 0;
            width: 18px;
            height: 30px;
            fill: @main-color;
            fill-rule: evenodd;
            stroke: none;
            overflow: hidden;
            transition: transform .2s;
        }

        &._active > &-icon > :first-child {
            transition: transform .2s;
            transform: rotate(90deg) translate3d(0, 0, 0);
        }
    }

    &__content {
        transition: max-height .3s ease;

        &-inner {
            position: relative;
            width: 100%;
            font-size: 14px;
            letter-spacing: .02em;
            color: @main-text-color;
            text-overflow: ellipsis;
        }
    }
}
