.sq-login {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10% auto;
    .flat_border;
    background: @main-background-color;

    &-content {
      display: flex;
      flex-direction: column;
      margin: 36px 36px 36px 36px;

      & ux-label {
        margin: 16px 0 16px 0;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      &-error {
        height: 20px;
        .font-bold-small;
        color: @primary-error-color;
      }
    }

    &-footer {
      display: flex;
      flex-direction: row;
      margin: 8px 36px 36px 36px;
      height: 32px;
      justify-content: center;

      & .ux-linear-dots-loader__inner {
        height: 32px;
      }
    }
  }
}

