@import "../../common/common-vars.less";

@tooltipArrowSize: 4px;
@tooltipPaddingSize: 4px;
// Sum of arrow size and padding size
@tooltipArrowPaddingSize: 8px;

@tooltipArrowShift: 16px;
@tooltipBackgroundColor: #4c4c4c;

.ux-tooltip {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    user-select: none;

    &._left,
    &._right {
        padding: 0 @tooltipArrowPaddingSize;
    }

    &._top,
    &._bottom {
        padding: @tooltipArrowPaddingSize 0;
    }

    &._align {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
    }

    &__text {
        padding: 5px 8px 6px 8px;
        background-color: @tooltipBackgroundColor;
        color: #ffffff; /*!-designToken-tooltip-color*/
        .font-regular-small;
        box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &__arrow {
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
    }

    &._right &__arrow {
        top: 50%;
        left: @tooltipPaddingSize;
        margin-top: -@tooltipArrowSize;
        border-width: @tooltipArrowSize @tooltipArrowSize @tooltipArrowSize 0;
        border-right-color: @tooltipBackgroundColor;
    }

    &._left &__arrow {
        top: 50%;
        right: @tooltipPaddingSize;
        margin-top: -@tooltipArrowSize;
        border-width: @tooltipArrowSize 0 @tooltipArrowSize @tooltipArrowSize;
        border-left-color: @tooltipBackgroundColor;
    }

    &._align-top &__arrow {
        top: @tooltipArrowShift;
    }

    &._align-bottom &__arrow {
        top: auto;
        bottom: @tooltipArrowShift;
        margin-top: auto;
        margin-bottom: -@tooltipArrowSize;
    }

    &._top &__arrow {
        bottom: @tooltipPaddingSize;
        left: 50%;
        margin-left: -@tooltipArrowSize;
        border-width: @tooltipArrowSize @tooltipArrowSize 0;
        border-top-color: @tooltipBackgroundColor;
    }

    &._bottom &__arrow {
        top: @tooltipPaddingSize;
        left: 50%;
        margin-left: -@tooltipArrowSize;
        border-width: 0 @tooltipArrowSize @tooltipArrowSize;
        border-bottom-color: @tooltipBackgroundColor;
    }

    &._align-left &__arrow {
        left: @tooltipArrowShift;
    }

    &._align-right &__arrow {
        right: @tooltipArrowShift;
        left: auto;
    }
}
