@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";
@import "../../../common/mixins.less";

.ux-search-field {
  display: block;
  .state_composite_main("__input");
  padding-left: 27px;
  background-color: @main-background-color; /*!-designToken-search-field-background-color*/
  border: 1px solid @default-border-color; /*!-designToken-search-field-border-size solid -designToken-search-field-border-color*/
  .field-placeholder-default;

  &._show-clear-button {
    padding-right: 27px;
  }

  &._show-clear-button &__clear {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, visibility 0.2s;
  }

  &._show-clear-button._empty &__clear {
    opacity: 0;
    visibility: hidden;
  }

  &__input {
    color: @main-text-color; /*!-designToken-search-field-input-color*/
    background-position: 0 center;
    background-size: 14px;

    &::-ms-clear {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 30px;
  }

  &__icon > :first-child {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    fill: @default-icon-color;
    fill-rule: evenodd;
    stroke: none;
    overflow: hidden;
  }

  &._error {
    .state_error;
  }

  &__clear {
    display: none;
    cursor: pointer;
    width: 27px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &-icon {
      fill: @default-icon-color;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      left: 2px;
    }
  }

  &._show-clear-button &__clear {
    display: block;
  }
}
