@import "../../../common/common-vars.less";

.ux-round-dots-loader {
  display: none;

  &._visible {
    display: block;
  }

  &._absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__inner {
    transform: scale(0.14);
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -27px;
  }

  &__spinner-item {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: @primary-color;

    &-wrapper {
      width: 24px;
      height: 24px;
      margin-left: 4px;
      margin-top: 4px;
      position: absolute;
    }

    &-wrapper:nth-of-type(1) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0s;
    }

    &-wrapper:nth-of-type(1) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0s;
    }

    &-wrapper:nth-of-type(1) {
      transform: translate3d(84px, 84px, 0) rotate(45deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(2) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.12s;
    }

    &-wrapper:nth-of-type(2) {
      transform: translate3d(84px, 84px, 0) rotate(90deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(3) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.25s;
    }

    &-wrapper:nth-of-type(3) {
      transform: translate3d(84px, 84px, 0) rotate(135deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(4) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.37s;
    }

    &-wrapper:nth-of-type(4) {
      transform: translate3d(84px, 84px, 0) rotate(180deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(5) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.5s;
    }

    &-wrapper:nth-of-type(5) {
      transform: translate3d(84px, 84px, 0) rotate(225deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(6) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.62s;
    }

    &-wrapper:nth-of-type(6) {
      transform: translate3d(84px, 84px, 0) rotate(270deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(7) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.75s;
    }

    &-wrapper:nth-of-type(7) {
      transform: translate3d(84px, 84px, 0) rotate(315deg) translate3d(70px, 0, 0);
    }

    &-wrapper:nth-of-type(8) & {
      animation: ux-round-dots-loader 1s linear infinite;
      animation-delay: 0.87s;
    }

    &-wrapper:nth-of-type(8) {
      transform: translate3d(84px, 84px, 0) rotate(360deg) translate3d(70px, 0, 0);
    }
  }
}

@keyframes ux-round-dots-loader {
  0% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
