@import "../../common/common-vars.less";
@import "../../common/color-vars.less";
@import "../../common/font-vars.less";
@import "../../common/component-states.less";

@card-checkbox-position: 16px;
@card-checkbox-position-step: 60px;

.ux-card-tree {
  display: flex;
  flex-direction: column;
  width: 100%;

  ._with-checkbox {
    padding: 0 0 0 40px;
  }

  &__node {
    &-list {
      padding: 8px;
      border: 1px solid @default-border-color;
      border-radius: 4px;
      background-color: @default-background-color; /*!-designToken-card-tree-node-content-background-color*/
    }

    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 20px;
    padding-left: 60px;

    &._full-selector {
      display: flex;
      flex-direction: row;

      &-wrapper {
      }
    }

    &._full-selector > &-content {
      width: 100%;
    }

    &._full-selector &-checkbox {
      top: 15px;
    }

    &._full-selector &-content-wrapper {
      .font-bold-small;
      color: @primary-color;
      cursor: pointer;
      margin: 6px 0 0 0;

      :hover {
        color: @primary-active-color;
      }
    }

    &._root {
      padding: 0;
    }

    &._branch ~ &._branch,
    &._leaf ~ &._branch,
    &._branch ~ &._leaf,
    &._leaf ~ &._leaf {
      padding-top: 8px;
    }

    &-horizontal-line {
      display: block;
      position: absolute;
      top: 63px;
      left: 20px;

      width: 40px;
      border-bottom: 1px dashed @default-border-color; /*!-designToken-card-tree-node-horizontal-line-border-bottom-width dashed --designToken-card-tree-node-horizontal-line-border-bottom-color*/
    }

    &._root > &-horizontal-line {
      display: none;
    }

    &._branch ~ &._branch > &-horizontal-line,
    &._leaf ~ &._branch > &-horizontal-line,
    &._branch ~ &._leaf > &-horizontal-line,
    &._leaf ~ &._leaf > &-horizontal-line {
      top: 83px;
    }

    &-vertical-line {
      display: block;
      position: absolute;
      top: 0;
      left: 20px;

      height: 100%;
      border-left: 1px dashed @default-border-color; /*!-designToken-card-tree-node-vertical-line-border-left-width dashed --designToken-card-tree-node-vertical-line-border-left-color*/
    }

    &._root > &-vertical-line {
      display: none;
    }

    &._last > &-vertical-line {
      height: 63px;
    }

    &._branch ~ &._branch._last > &-vertical-line,
    &._leaf ~ &._branch._last > &-vertical-line,
    &._branch ~ &._leaf._last > &-vertical-line,
    &._leaf ~ &._leaf._last > &-vertical-line {
      height: 83px;
    }

    &-content {
      min-height: 32px;
      display: flex;
      flex-direction: column;
      position: relative;

      border: 1px solid @default-border-color; /*!-designToken-card-tree-node-content-border-width solid -designToken-card-tree-node-content-border-color*/
      border-radius: 4px;
      background-color: @main-background-color; /*!-designToken-card-tree-node-content-background-color*/

      &-wrapper {
        padding: 0 0 0 8px;

      }

      &-arrow {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 40px;
        height: ~'calc(100% + 2px)';

        border: 1px solid @default-border-color; /*!-designToken-card-tree-node-content-arrow-border-width solid -designToken-card-tree-node-content-arrow-border-color*/
        border-radius: 4px;
        background-color: @default-background-color; /*!-designToken-card-tree-node-content-arrow-background-color*/
        user-select: none;

        &:not(._loading):hover {
          cursor: pointer;
          background-color: @primary-background-color; /*!-designToken-card-tree-node-content-arrow-hover-background-color*/
        }

        &-svg, &-loader {
          left: 10px;
          top: 32px;
          width: 18px;
          height: 18px;
          position: absolute;
        }

        &-svg {
          transition: transform .2s;
        }
      }

      &._opened > &-control > &-arrow {
        background-color: @main-background-color; /*!-designToken-card-tree-node-content-arrow-opened-background-color*/

        &:not(._loading):hover {
          background-color: @primary-background-color; /*!-designToken-card-tree-node-content-arrow-not-loading-background-color*/
        }
      }

      &._opened > &-control > &-arrow > &-arrow-svg {
        transition: transform .2s;
        transform: rotate(90deg) translate3d(0, 0, 0);
      }

      &-title {
        .font-bold-large;
        line-height: 30px;
      }
    }

    &._branch > &-content {
      padding-left: 40px;
    }

    &-checkbox {
      position: absolute;
      top: 30px;
      left: 0;
      opacity: 1;
      transition: opacity 0.3s;

      &-wrapper:hover > & {
        opacity: 1;
      }

      &-wrapper {
        height: 100%;
        top: -10px;
        position: absolute;
      }
    }

    &-content:hover > &-checkbox-wrapper > &-checkbox {
      opacity: 1;
    }

    &[data-level='0'] > &-content > &-checkbox-wrapper {
      width: 40px;
      left: @card-checkbox-position;
    }

    &[data-level='1'] > &-content > &-checkbox-wrapper {
      width: 40px + @card-checkbox-position-step*1;
      left: -(@card-checkbox-position + @card-checkbox-position-step*1);
    }

    &[data-level='2'] > &-content > &-checkbox-wrapper {
      width: 40px + @card-checkbox-position-step*2;
      left: -(@card-checkbox-position + @card-checkbox-position-step*2);
    }

    &[data-level='3'] > &-content > &-checkbox-wrapper {
      width: 40px + @card-checkbox-position-step*3;
      left: -(@card-checkbox-position + @card-checkbox-position-step*3);
    }

    &[data-level='4'] > &-content > &-checkbox-wrapper {
      width: 40px + @card-checkbox-position-step*4;
      left: -(@card-checkbox-position + @card-checkbox-position-step*4);
    }

    &[data-level='5'] > &-content > &-checkbox-wrapper {
      width: 40px + @card-checkbox-position-step*5;
      left: -(@card-checkbox-position + @card-checkbox-position-step*5);
    }
  }

  &._show-always .ux-card-tree__node-checkbox {
    opacity: 1;
  }
}
