@import "../../common/color-vars.less";

.ux-scroll {
    display: block;
    position: relative;
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &._border {
        .default_border;
        border: 1px solid @default-border-color; /*!-designToken-scroll-border-width solid -designToken-scroll-border-color*/
    }

    & > &__inner > &__content {

        transform: translate3d(0, 0, 0);

        &._no-pointer-events {
            pointer-events: none;
        }
    }

    &._no-padding > &__inner > &__content {
        padding: 0;
    }

    &._full-size-flex {
        flex-grow: 1;
    }

    &._full-size-flex > &__inner > &__content {
        display: flex;
        flex-grow: 1;
    }

    &._full-height,
    &._full-height > &__inner > &__content {
        height: 100%;
    }

    &._full-width {
        width: 100%;
    }

    &__inner,
    &__custom-scrollable-block > :first-child {
        position: relative;
        overflow: scroll !important;
        -webkit-overflow-scrolling: touch;

        &._mobile::-webkit-scrollbar,
        &._mobile::-webkit-scrollbar-thumb,
        &._mobile::-webkit-scrollbar-track {
            display: none;
            width: 0;
            height: 0;
            background-color: transparent;
        }
    }

    &__custom-scrollable-block {
        height: 1px;
        min-width: 132px;
        min-height: 64px;
    }

    &__slider-vertical-wrap {
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        width: 10px;
        height: 100%;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s;

        &._transparent {
            opacity: 0.3;
        }
    }

    &__slider-horizontal-wrap {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s;

        &._transparent {
            opacity: 0.3;
        }
    }

    &:hover > &__slider-vertical-wrap,
    &:hover > &__slider-horizontal-wrap {
        opacity: 0.6;
    }

    &__slider-vertical {
        position: absolute;
        right: 3px;
        top: 0;
        width: 4px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 6px;
            bottom: 6px;
            width: 4px;
            border-radius: 10px;
            background: #bac0c8;
        }
    }

    &__slider-horizontal {
        position: absolute;
        left: 0;
        bottom: 3px;
        height: 4px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 6px;
            right: 6px;
            height: 4px;
            border-radius: 10px;
            background: #bac0c8;
        }
    }
}
