@import "../../../common/common-vars.less";

.ux-bagel-loader {
  &._absolute {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__svg {
    width: 25px;
    height: 25px;
    transform: rotate(-90deg);

    &-background-circle {
      fill: none;
      stroke: @default-color;
      stroke-width: 4px;
    }

    &-foreground-circle {
      fill: none;
      stroke: @primary-color;
      stroke-width: 4px;
      stroke-dasharray: 62.8;
      transition: stroke-dashoffset 0.1s linear;
    }
  }
}
