@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";

.ux-radio-group-field {
  display: block;

  &__items {
    list-style: none;
  }

  &__item {
    &+& {
      margin-top: 5px;
    }
  }
}
