.sq-overlay-popup {

  &__form {
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    background: #f5f6f7;
    padding: 24px 32px 24px 32px;
    margin: 100px auto;
    width: fit-content;
    min-width: 200px;
    .default_border;
  }

  &__header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 32px 24px 0;

    &-inner {
      .font-bold-medium;
      user-select: none;
    }

    &__close-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      right: -48px;
      top: -4px;
      width: 16px;
      height: 16px;
      cursor: pointer;

      transition: border-color .2s ease,
      background-color .2s ease,
      box-shadow .2s ease;

      .state_focus-passive(absolute);

      &:hover, &:focus {
        .state_focus-active();
      }

      &-svg {
        fill: @primary-icon-color;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    margin: 32px 0 0 0;
    justify-content: flex-end;

    & > * {
      margin: 0 10px 0 10px;
    }

    & > *:first-child {
      margin: 0 10px 0 0;
    }

    & > *:last-child {
      margin: 0 0 0 10px;
    }
  }

  &__status {
    display: flex;
    flex-direction: row;
    margin: 32px 0 0 0;
  }
}
