<div class="sq-tests-card-list__wrapper">
  <div class="sq-tests-card-list__content"
       [ngClass]="{
        _empty: !_entityCards || _entityCards.length === 0,
        _filled: _entityCards?.length > 0
       }"
  >
    <ng-container *ngIf="loadStatus === 'loading'">
      <div class="sq-tests-card-list__card">
        <div class="sq-tests-card-list__card-empty-content">
          <ux-round-dots-loader [visible]="loadStatus === 'loading'"></ux-round-dots-loader>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(loadStatus === 'loaded' || loadStatus === 'no_data') && (!_entityCards || _entityCards.length === 0)">
      <div class="sq-tests-card-list__card">
        <div class="sq-tests-card-list__card-empty-content">
          <div class="sq-tests-card-list__card-empty-content-label">
            No tests found
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="loadStatus === 'loaded' && _entityCards.length > 0">
      <ux-card-tree [model]="_cardsModel"
                    [selectAllEnabled]="selectAllEnabled"
                    [selectAllCaption]="selectAllCaption"
                    (onChecked)="onCardChecked.emit($event)"
                    (onCheckedAll)="onCardCheckedAll.emit($event)"
      >
      </ux-card-tree>
    </ng-container>
  </div>
  <div class="sq-tests-card-list__footer"
       *ngIf="pagingEnabled && _pagingVisible">
    <ux-paging [totalCount]="totalCount"
               [(pageSize)]="pageSize"
               [(currentPage)]="currentPage"
               [pageSizeOptions]="pageSizeOptions"
               (onPageChange)="onPageChange.emit($event)"
               (onPageSizeChange)="onPageSizeChange.emit($event)"
    >
    </ux-paging>
  </div>
</div>

<ng-template #cardTemplate
             let-node="node">
  <div class="sq-tests-card-list__card">
    <ng-template
      [ngTemplateOutlet]="cardContent"
    >
    </ng-template>
    <ng-template
      *ngIf="node.expanded"
      [ngTemplateOutlet]="cardExpandable"
    >
    </ng-template>
  </div>

  <ng-template #cardContent>
    <div class="sq-tests-card-list__card-content">
      <div class="sq-tests-card-list__card-item _icon _type"
           *ngIf="node.command === 'call'"
           [ngClass]="{_selectable_row: selectItemEnabled}"
      >
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             width="24" height="24"
             viewBox="0 0 1000 1000"
             style=" fill:#646464;">
          <g>
            <g>
              <path
                d="M895.2,906.2l-65,65c-11.6,11.5-45.6,18.8-46.6,18.8c-205.6,1.7-403.6-79-549.1-224.5C88.6,619.6,7.8,420.8,10,214.6c0-0.1,7.4-33.1,19-44.6l65-65c23.8-23.8,69.5-34.6,101.4-23.9l13.7,4.6c32,10.7,65.4,45.9,74.2,78.4l32.7,120.1c8.9,32.5-3.1,78.8-26.9,102.6l-43.4,43.4C288.4,588,412.2,711.7,570,754.4l43.4-43.4c23.8-23.8,70.2-35.7,102.8-26.9l120.1,32.8c32.4,8.8,67.7,42.2,78.4,74.2l4.6,13.7C929.8,836.7,919,882.4,895.2,906.2z M990,139.9L860.1,10L649.4,220.7l-88.2-88.2v306.3h306.3l-88.2-88.2L990,139.9z"/>
            </g>
          </g>
        </svg>
      </div>
      <div class="sq-tests-card-list__card-item _icon _type"
           *ngIf="node.command === 'answer'"
           [ngClass]="{_selectable_row: selectItemEnabled}"
      >
        <svg version="1.1"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
             x="0px" y="0px"
             width="24" height="24"
             viewBox="0 0 1e3 1e3"
             style=" fill:#646464;">
<g stroke-width=".1"><path d="m212.42 11.04c-1.53 0.38-9.38 1.72-17.23 2.87-15.51 2.49-45.57 13.02-64.14 22.59-18.19 9.19-37.72 23.93-55.91 41.93-82.14 81.57-86.73 204.3-13.02 348.09 47.29 92.29 116.41 181.7 222.87 288.35 105.31 105.31 196.26 175.58 288.35 222.87 124.45 63.76 233.21 69.12 314.01 15.32 28.91-19.15 61.08-54.95 76.01-84.25 16.47-32.36 28.34-77.74 25.66-98.8-2.68-22.02-18-39.06-47.87-53.42-21.83-10.34-161.79-62.99-179.21-67.21-17.42-4.41-25.08-4.6-37.72-0.77-17.23 5.17-24.89 13.98-43.65 51.12-18.38 36.19-21.06 40.21-32.55 46.14-9.76 4.98-34.66 6.51-53.04 3.25-21.44-3.83-82.14-37.15-122.54-67.01-49.02-36.76-116.03-103.2-152.6-152.03-28.72-38.1-63.18-99.37-68.35-120.82-4.21-18.57-3.06-46.91 2.49-57.44 5.93-11.3 10.15-14.36 43.65-31.21 16.85-8.43 34.27-18.57 38.68-22.21 14.93-13.02 20.29-32.17 15.32-55.91-3.45-16.27-59.93-167.73-70.27-188.41-9.38-18.76-22.02-32.74-34.27-38.1-9.01-3.79-28.16-6.47-34.67-4.94z"/><path d="m646.33 436.01c3.06-1.53 52.84-49.97 110.48-107.6l104.92-104.74 44.42 44.23c24.51 24.51 46.53 45.38 48.82 46.53 10.34 5.17 25.66-0.38 31.59-11.49 3.25-6.13 3.45-14.36 3.45-139.58 0-125.22-0.18999-133.45-3.45-139.58-1.92-3.64-6.51-8.23-10.15-10.15-6.13-3.25-14.36-3.45-139.2-3.45-149.54 0-141.88-0.77001-149.73 14.17-3.45 6.32-4.02 9.57-3.06 15.7 1.34 6.51 7.08 13.02 46.72 53.04l45.38 45.38-106.65 106.84c-115.46 115.45-112.2 111.63-107.03 127.14 2.49 7.66 55.91 61.65 63.95 64.72 7.48 2.66 12.84 2.47 19.54-1.16z"/></g>
</svg>
      </div>
      <div class="sq-tests-card-list__card-item _head">
        <div class="sq-tests-card-list__card-row _title">
          {{node.name}}
        </div>
        <div class="sq-tests-card-list__card-row _text">
          {{node.command}}
        </div>
      </div>
      <div class="sq-tests-card-list__card-item">
        <div class="sq-tests-card-list__card-row _label">
          Target:
        </div>
        <div class="sq-tests-card-list__card-row _text">
          {{node.target}}
        </div>
      </div>
      <div class="sq-tests-card-list__card-item">
        <div class="sq-tests-card-list__card-row _label">
          CRON:
        </div>
        <div class="sq-tests-card-list__card-row _text">
          {{node.cron}}
        </div>
      </div>
      <div class="sq-tests-card-list__card-item"
           *ngIf="statisticsEnabled"
      >
        <ng-template [ngTemplateOutlet]="statisticItem"></ng-template>
      </div>
      <div class="sq-tests-card-list__card-item">
        <div class="sq-tests-card-list__card-row">
          <div class="_icon _action _edit"
               *ngIf="editEnabled"
               (tap)="_onEdit(node)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 class="_action-icon-edit"
                 width="24" height="24"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                 stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                 font-family="none" font-weight="none" font-size="none" text-anchor="none"
                 style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#0c6cb0">
                  <path
                    d="M131.96744,14.33333c-1.83376,0 -3.66956,0.69853 -5.06706,2.09961l-12.23372,12.23372l28.66667,28.66667l12.23372,-12.23372c2.80217,-2.80217 2.80217,-7.33911 0,-10.13412l-18.53255,-18.53255c-1.40108,-1.40108 -3.23329,-2.09961 -5.06706,-2.09961zM103.91667,39.41667l-82.41667,82.41667v28.66667h28.66667l82.41667,-82.41667z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="_icon _action _delete"
               *ngIf="deleteEnabled"
               (tap)="_onDelete(node)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 class="_action-icon-delete"
                 width="24" height="24"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                 stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                 font-family="none" font-weight="none" font-size="none" text-anchor="none"
                 style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#0c6cb0">
                  <path
                    d="M71.66667,14.33333l-7.16667,7.16667h-35.83333v14.33333h114.66667v-14.33333h-35.83333l-7.16667,-7.16667zM35.83333,50.16667v93.16667c0,7.88333 6.45,14.33333 14.33333,14.33333h71.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-93.16667zM67.43945,71.66667l18.56055,18.56055l18.56055,-18.56055l10.10612,10.10612l-18.56055,18.56055l18.56055,18.56055l-10.10612,10.10612l-18.56055,-18.56055l-18.56055,18.56055l-10.10612,-10.10612l18.56055,-18.56055l-18.56055,-18.56055z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="_icon _action _unlink"
               *ngIf="unlinkEnabled"
               (tap)="_onUnlink(node)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 class="_action-icon-unlink"
                 width="24" height="24"
                 viewBox="0 0 16 16"
                 style="fill:#000000;">
              <path fill="#0c6cb0" stroke="#0c6cb0" stroke-width="0.5" d="M 11.380859 1 C 10.684859 1 10.029109 1.2716719 9.5371094 1.7636719 L 7.7304688 3.5703125 C 7.0804687 4.2203125 6.8520625 5.1306563 7.0390625 5.9726562 L 8.0371094 4.9726562 C 8.1081094 4.7186562 8.2375 4.4773438 8.4375 4.2773438 L 10.246094 2.4707031 C 10.549094 2.1677031 10.951859 2 11.380859 2 C 11.809859 2 12.212203 2.1672813 12.533203 2.4882812 C 12.836203 2.7912812 13.003906 3.1940469 13.003906 3.6230469 C 13.003906 4.0520469 12.836203 4.4548125 12.533203 4.7578125 L 10.726562 6.5644531 C 10.533563 6.7574531 10.293062 6.8840781 10.039062 6.9550781 L 9.0273438 7.96875 C 9.2113437 8.00875 9.3997969 8.0351562 9.5917969 8.0351562 C 10.287797 8.0351562 10.942594 7.7634844 11.433594 7.2714844 L 13.240234 5.4648438 C 14.255234 4.4488437 14.256656 2.7976719 13.222656 1.7636719 C 12.731656 1.2716719 12.076859 1 11.380859 1 z M 9.4941406 4.9960938 A 0.50005 0.50005 0 0 0 9.1503906 5.1464844 L 5.1503906 9.1464844 A 0.50005 0.50005 0 1 0 5.8574219 9.8535156 L 9.8574219 5.8535156 A 0.50005 0.50005 0 0 0 9.4941406 4.9960938 z M 5.4160156 6.9648438 C 4.7200156 6.9648438 4.0652187 7.2355625 3.5742188 7.7265625 L 1.765625 9.5351562 C 0.749625 10.551156 0.75015625 12.202328 1.7851562 13.236328 C 2.2921562 13.744328 2.9599531 13.998047 3.6269531 13.998047 C 4.2939531 13.998047 4.96075 13.745281 5.46875 13.238281 L 7.2753906 11.429688 C 7.9253906 10.779687 8.15575 9.8693438 7.96875 9.0273438 L 6.9707031 10.025391 C 6.8987031 10.280391 6.7683594 10.522656 6.5683594 10.722656 L 4.7617188 12.529297 C 4.1357187 13.154297 3.1146562 13.156719 2.4726562 12.511719 C 2.1696563 12.208719 2.0039062 11.805953 2.0039062 11.376953 C 2.0039062 10.947953 2.1696563 10.543234 2.4726562 10.240234 L 4.28125 8.4335938 C 4.47725 8.2375938 4.7185156 8.10425 4.9785156 8.03125 L 5.9804688 7.0292969 C 5.7964687 6.9892969 5.6090156 6.9648437 5.4160156 6.9648438 z M 9.8535156 9.1464844 L 9.1464844 9.8535156 L 11.792969 12.5 L 9.1464844 15.146484 L 9.8535156 15.853516 L 12.5 13.207031 L 15.146484 15.853516 L 15.853516 15.146484 L 13.207031 12.5 L 15.853516 9.8535156 L 15.146484 9.1464844 L 12.5 11.792969 L 9.8535156 9.1464844 z"/>
            </svg>
          </div>
          <div class="_icon _action _chart"
               *ngIf="chartEnabled"
               (tap)="_onChart(node)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 class="_action-icon-chart"
                 width="24" height="24"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                 stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                 font-family="none" font-weight="none" font-size="none" text-anchor="none"
                 style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#0c6cb0">
                  <path
                    d="M68.08333,78.83333h35.83333v71.66667h-35.83333zM21.5,43h35.83333v107.5h-35.83333zM114.66667,21.5h35.83333v129h-35.83333z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="_icon _action"
               *ngIf="expandEnabled"
               [ngClass]="{
                  _expand: !node.expanded,
                  _collapse: node.expanded
                  }"
               (tap)="_onExpand(node)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="24" height="24"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g transform="">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                   font-family="none" font-weight="none" font-size="none" text-anchor="none"
                   style="mix-blend-mode: normal">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <path
                    d="M12.04,86c0,-40.84698 33.11302,-73.96 73.96,-73.96c40.84698,0 73.96,33.11302 73.96,73.96c0,40.84698 -33.11302,73.96 -73.96,73.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96zM86,153.08c37.04726,0 67.08,-30.03274 67.08,-67.08c0,-37.04726 -30.03274,-67.08 -67.08,-67.08c-37.04726,0 -67.08,30.03274 -67.08,67.08c0,37.04726 30.03274,67.08 67.08,67.08z"
                    fill="#0c6cb0"></path>
                  <g fill="#0c6cb0">
                    <path
                      d="M56.92305,71.12861l-9.5432,9.5432l38.62015,38.62015l38.62015,-38.62015l-9.5432,-9.5432l-29.07695,29.07695z"></path>
                  </g>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                    fill="none"></path>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,165.12c-43.69677,0 -79.12,-35.42323 -79.12,-79.12v0c0,-43.69677 35.42323,-79.12 79.12,-79.12v0c43.69677,0 79.12,35.42323 79.12,79.12v0c0,43.69677 -35.42323,79.12 -79.12,79.12z"
                    fill="none"></path>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z"
                    fill="none"></path>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,158.24c-39.89705,0 -72.24,-32.34295 -72.24,-72.24v0c0,-39.89705 32.34295,-72.24 72.24,-72.24h0c39.89705,0 72.24,32.34295 72.24,72.24v0c0,39.89705 -32.34295,72.24 -72.24,72.24z"
                    fill="none"></path>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z"
                    fill="none"></path>
                  <path
                    d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                    fill="none"></path>
                  <path
                    d="M86,165.12c-43.69677,0 -79.12,-35.42323 -79.12,-79.12v0c0,-43.69677 35.42323,-79.12 79.12,-79.12v0c43.69677,0 79.12,35.42323 79.12,79.12v0c0,43.69677 -35.42323,79.12 -79.12,79.12z"
                    fill="none"></path>
                  <path
                    d="M86,171.14c-47.02152,0 -85.14,-38.11848 -85.14,-85.14v0c0,-47.02152 38.11848,-85.14 85.14,-85.14h0c47.02152,0 85.14,38.11848 85.14,85.14v0c0,47.02152 -38.11848,85.14 -85.14,85.14z"
                    fill="none"></path>
                  <path
                    d="M86,164.26c-43.2218,0 -78.26,-35.0382 -78.26,-78.26v0c0,-43.2218 35.0382,-78.26 78.26,-78.26h0c43.2218,0 78.26,35.0382 78.26,78.26v0c0,43.2218 -35.0382,78.26 -78.26,78.26z"
                    fill="none"></path>
                  <path
                    d="M86,167.7c-45.12166,0 -81.7,-36.57834 -81.7,-81.7v0c0,-45.12166 36.57834,-81.7 81.7,-81.7h0c45.12166,0 81.7,36.57834 81.7,81.7v0c0,45.12166 -36.57834,81.7 -81.7,81.7z"
                    fill="none"></path>
                  <path
                    d="M86,160.82c-41.32194,0 -74.82,-33.49806 -74.82,-74.82v0c0,-41.32194 33.49806,-74.82 74.82,-74.82h0c41.32194,0 74.82,33.49806 74.82,74.82v0c0,41.32194 -33.49806,74.82 -74.82,74.82z"
                    fill="none"></path>
                  <path
                    d="M86,166.84c-44.6467,0 -80.84,-36.1933 -80.84,-80.84v0c0,-44.6467 36.1933,-80.84 80.84,-80.84v0c44.6467,0 80.84,36.1933 80.84,80.84v0c0,44.6467 -36.1933,80.84 -80.84,80.84z"
                    fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96v0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,165.98c-44.17173,0 -79.98,-35.80827 -79.98,-79.98v0c0,-44.17173 35.80827,-79.98 79.98,-79.98h0c44.17173,0 79.98,35.80827 79.98,79.98v0c0,44.17173 -35.80827,79.98 -79.98,79.98z"
                    fill="none"></path>
                  <path
                    d="M86,159.1c-40.37202,0 -73.1,-32.72798 -73.1,-73.1v0c0,-40.37202 32.72798,-73.1 73.1,-73.1h0c40.37202,0 73.1,32.72798 73.1,73.1v0c0,40.37202 -32.72798,73.1 -73.1,73.1z"
                    fill="none"></path>
                  <path
                    d="M86,164.26c-43.2218,0 -78.26,-35.0382 -78.26,-78.26v0c0,-43.2218 35.0382,-78.26 78.26,-78.26h0c43.2218,0 78.26,35.0382 78.26,78.26v0c0,43.2218 -35.0382,78.26 -78.26,78.26z"
                    fill="none"></path>
                  <path
                    d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38h0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z"
                    fill="none"></path>
                  <path
                    d="M86,163.4c-42.74684,0 -77.4,-34.65316 -77.4,-77.4v0c0,-42.74684 34.65316,-77.4 77.4,-77.4v0c42.74684,0 77.4,34.65316 77.4,77.4v0c0,42.74684 -34.65316,77.4 -77.4,77.4z"
                    fill="none"></path>
                  <path
                    d="M86,156.52c-38.94712,0 -70.52,-31.57288 -70.52,-70.52v0c0,-38.94712 31.57288,-70.52 70.52,-70.52v0c38.94712,0 70.52,31.57288 70.52,70.52v0c0,38.94712 -31.57288,70.52 -70.52,70.52z"
                    fill="none"></path>
                  <path
                    d="M86,162.54c-42.27187,0 -76.54,-34.26813 -76.54,-76.54v0c0,-42.27187 34.26813,-76.54 76.54,-76.54h0c42.27187,0 76.54,34.26813 76.54,76.54v0c0,42.27187 -34.26813,76.54 -76.54,76.54z"
                    fill="none"></path>
                  <path
                    d="M86,155.66c-38.47216,0 -69.66,-31.18784 -69.66,-69.66v0c0,-38.47216 31.18784,-69.66 69.66,-69.66h0c38.47216,0 69.66,31.18784 69.66,69.66v0c0,38.47216 -31.18784,69.66 -69.66,69.66z"
                    fill="none"></path>
                  <path
                    d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z"
                    fill="none"></path>
                  <path
                    d="M86,154.8c-37.99719,0 -68.8,-30.80281 -68.8,-68.8v0c0,-37.99719 30.80281,-68.8 68.8,-68.8v0c37.99719,0 68.8,30.80281 68.8,68.8v0c0,37.99719 -30.80281,68.8 -68.8,68.8z"
                    fill="none"></path>
                  <path
                    d="M86,160.82c-41.32194,0 -74.82,-33.49806 -74.82,-74.82v0c0,-41.32194 33.49806,-74.82 74.82,-74.82v0c41.32194,0 74.82,33.49806 74.82,74.82v0c0,41.32194 -33.49806,74.82 -74.82,74.82z"
                    fill="none"></path>
                  <path
                    d="M86,153.94c-37.52223,0 -67.94,-30.41777 -67.94,-67.94v0c0,-37.52223 30.41777,-67.94 67.94,-67.94v0c37.52223,0 67.94,30.41777 67.94,67.94v0c0,37.52223 -30.41777,67.94 -67.94,67.94z"
                    fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96h0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08h0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                  <path
                    d="M86,159.1c-40.37202,0 -73.1,-32.72798 -73.1,-73.1v0c0,-40.37202 32.72798,-73.1 73.1,-73.1v0c40.37202,0 73.1,32.72798 73.1,73.1v0c0,40.37202 -32.72798,73.1 -73.1,73.1z"
                    fill="none"></path>
                  <path
                    d="M86,152.22c-36.5723,0 -66.22,-29.6477 -66.22,-66.22v0c0,-36.5723 29.6477,-66.22 66.22,-66.22v0c36.5723,0 66.22,29.6477 66.22,66.22v0c0,36.5723 -29.6477,66.22 -66.22,66.22z"
                    fill="none"></path>
                  <path
                    d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38v0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z"
                    fill="none"></path>
                  <path
                    d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5v0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z"
                    fill="none"></path>
                  <path
                    d="M86,156.52c-38.94712,0 -70.52,-31.57288 -70.52,-70.52v0c0,-38.94712 31.57288,-70.52 70.52,-70.52h0c38.94712,0 70.52,31.57288 70.52,70.52v0c0,38.94712 -31.57288,70.52 -70.52,70.52z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64v0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,153.94c-37.52223,0 -67.94,-30.41777 -67.94,-67.94v0c0,-37.52223 30.41777,-67.94 67.94,-67.94v0c37.52223,0 67.94,30.41777 67.94,67.94v0c0,37.52223 -30.41777,67.94 -67.94,67.94z"
                    fill="none"></path>
                  <path
                    d="M86,147.06c-33.72251,0 -61.06,-27.33749 -61.06,-61.06v0c0,-33.72251 27.33749,-61.06 61.06,-61.06v0c33.72251,0 61.06,27.33749 61.06,61.06v0c0,33.72251 -27.33749,61.06 -61.06,61.06z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08h0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                  <path
                    d="M86,146.2c-33.24754,0 -60.2,-26.95246 -60.2,-60.2v0c0,-33.24754 26.95246,-60.2 60.2,-60.2v0c33.24754,0 60.2,26.95246 60.2,60.2v0c0,33.24754 -26.95246,60.2 -60.2,60.2z"
                    fill="none"></path>
                  <path
                    d="M86,152.22c-36.5723,0 -66.22,-29.6477 -66.22,-66.22v0c0,-36.5723 29.6477,-66.22 66.22,-66.22v0c36.5723,0 66.22,29.6477 66.22,66.22v0c0,36.5723 -29.6477,66.22 -66.22,66.22z"
                    fill="none"></path>
                  <path
                    d="M86,145.34c-32.77258,0 -59.34,-26.56742 -59.34,-59.34v0c0,-32.77258 26.56742,-59.34 59.34,-59.34v0c32.77258,0 59.34,26.56742 59.34,59.34v0c0,32.77258 -26.56742,59.34 -59.34,59.34z"
                    fill="none"></path>
                  <path
                    d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5v0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z"
                    fill="none"></path>
                  <path
                    d="M86,143.62c-31.82265,0 -57.62,-25.79735 -57.62,-57.62v0c0,-31.82265 25.79735,-57.62 57.62,-57.62v0c31.82265,0 57.62,25.79735 57.62,57.62v0c0,31.82265 -25.79735,57.62 -57.62,57.62z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,148.78c-34.67244,0 -62.78,-28.10756 -62.78,-62.78v0c0,-34.67244 28.10756,-62.78 62.78,-62.78v0c34.67244,0 62.78,28.10756 62.78,62.78v0c0,34.67244 -28.10756,62.78 -62.78,62.78z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,147.92c-34.19747,0 -61.92,-27.72253 -61.92,-61.92v0c0,-34.19747 27.72253,-61.92 61.92,-61.92h0c34.19747,0 61.92,27.72253 61.92,61.92v0c0,34.19747 -27.72253,61.92 -61.92,61.92z"
                    fill="none"></path>
                  <path
                    d="M86,141.04c-30.39775,0 -55.04,-24.64225 -55.04,-55.04v0c0,-30.39775 24.64225,-55.04 55.04,-55.04v0c30.39775,0 55.04,24.64225 55.04,55.04v0c0,30.39775 -24.64225,55.04 -55.04,55.04z"
                    fill="none"></path>
                  <path
                    d="M86,147.06c-33.72251,0 -61.06,-27.33749 -61.06,-61.06v0c0,-33.72251 27.33749,-61.06 61.06,-61.06v0c33.72251,0 61.06,27.33749 61.06,61.06v0c0,33.72251 -27.33749,61.06 -61.06,61.06z"
                    fill="none"></path>
                  <path
                    d="M86,140.18c-29.92279,0 -54.18,-24.25721 -54.18,-54.18v0c0,-29.92279 24.25721,-54.18 54.18,-54.18v0c29.92279,0 54.18,24.25721 54.18,54.18v0c0,29.92279 -24.25721,54.18 -54.18,54.18z"
                    fill="none"></path>
                  <path
                    d="M86,146.2c-33.24754,0 -60.2,-26.95246 -60.2,-60.2v0c0,-33.24754 26.95246,-60.2 60.2,-60.2h0c33.24754,0 60.2,26.95246 60.2,60.2v0c0,33.24754 -26.95246,60.2 -60.2,60.2z"
                    fill="none"></path>
                  <path
                    d="M86,139.32c-29.44782,0 -53.32,-23.87218 -53.32,-53.32v0c0,-29.44782 23.87218,-53.32 53.32,-53.32v0c29.44782,0 53.32,23.87218 53.32,53.32v0c0,29.44782 -23.87218,53.32 -53.32,53.32z"
                    fill="none"></path>
                  <path
                    d="M86,145.34c-32.77258,0 -59.34,-26.56742 -59.34,-59.34v0c0,-32.77258 26.56742,-59.34 59.34,-59.34v0c32.77258,0 59.34,26.56742 59.34,59.34v0c0,32.77258 -26.56742,59.34 -59.34,59.34z"
                    fill="none"></path>
                  <path
                    d="M86,138.46c-28.97286,0 -52.46,-23.48714 -52.46,-52.46v0c0,-28.97286 23.48714,-52.46 52.46,-52.46v0c28.97286,0 52.46,23.48714 52.46,52.46v0c0,28.97286 -23.48714,52.46 -52.46,52.46z"
                    fill="none"></path>
                  <path
                    d="M86,144.48c-32.29761,0 -58.48,-26.18239 -58.48,-58.48v0c0,-32.29761 26.18239,-58.48 58.48,-58.48v0c32.29761,0 58.48,26.18239 58.48,58.48v0c0,32.29761 -26.18239,58.48 -58.48,58.48z"
                    fill="none"></path>
                  <path
                    d="M86,137.6c-28.49789,0 -51.6,-23.10211 -51.6,-51.6v0c0,-28.49789 23.10211,-51.6 51.6,-51.6v0c28.49789,0 51.6,23.10211 51.6,51.6v0c0,28.49789 -23.10211,51.6 -51.6,51.6z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,135.88c-27.54796,0 -49.88,-22.33204 -49.88,-49.88v0c0,-27.54796 22.33204,-49.88 49.88,-49.88v0c27.54796,0 49.88,22.33204 49.88,49.88v0c0,27.54796 -22.33204,49.88 -49.88,49.88z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,135.02c-27.073,0 -49.02,-21.947 -49.02,-49.02v0c0,-27.073 21.947,-49.02 49.02,-49.02h0c27.073,0 49.02,21.947 49.02,49.02v0c0,27.073 -21.947,49.02 -49.02,49.02z"
                    fill="none"></path>
                  <path
                    d="M86,141.04c-30.39775,0 -55.04,-24.64225 -55.04,-55.04v0c0,-30.39775 24.64225,-55.04 55.04,-55.04v0c30.39775,0 55.04,24.64225 55.04,55.04v0c0,30.39775 -24.64225,55.04 -55.04,55.04z"
                    fill="none"></path>
                  <path
                    d="M86,134.16c-26.59803,0 -48.16,-21.56197 -48.16,-48.16v0c0,-26.59803 21.56197,-48.16 48.16,-48.16v0c26.59803,0 48.16,21.56197 48.16,48.16v0c0,26.59803 -21.56197,48.16 -48.16,48.16z"
                    fill="none"></path>
                  <path
                    d="M86,140.18c-29.92279,0 -54.18,-24.25721 -54.18,-54.18v0c0,-29.92279 24.25721,-54.18 54.18,-54.18v0c29.92279,0 54.18,24.25721 54.18,54.18v0c0,29.92279 -24.25721,54.18 -54.18,54.18z"
                    fill="none"></path>
                  <path
                    d="M86,133.3c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v0c0,-26.12307 21.17693,-47.3 47.3,-47.3h0c26.12307,0 47.3,21.17693 47.3,47.3v0c0,26.12307 -21.17693,47.3 -47.3,47.3z"
                    fill="none"></path>
                  <path
                    d="M86,139.32c-29.44782,0 -53.32,-23.87218 -53.32,-53.32v0c0,-29.44782 23.87218,-53.32 53.32,-53.32v0c29.44782,0 53.32,23.87218 53.32,53.32v0c0,29.44782 -23.87218,53.32 -53.32,53.32z"
                    fill="none"></path>
                  <path
                    d="M86,132.44c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v0c0,-25.6481 20.7919,-46.44 46.44,-46.44v0c25.6481,0 46.44,20.7919 46.44,46.44v0c0,25.6481 -20.7919,46.44 -46.44,46.44z"
                    fill="none"></path>
                  <path
                    d="M86,138.46c-28.97286,0 -52.46,-23.48714 -52.46,-52.46v0c0,-28.97286 23.48714,-52.46 52.46,-52.46v0c28.97286,0 52.46,23.48714 52.46,52.46v0c0,28.97286 -23.48714,52.46 -52.46,52.46z"
                    fill="none"></path>
                  <path
                    d="M86,131.58c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v0c0,-25.17314 20.40686,-45.58 45.58,-45.58h0c25.17314,0 45.58,20.40686 45.58,45.58v0c0,25.17314 -20.40686,45.58 -45.58,45.58z"
                    fill="none"></path>
                  <path
                    d="M86,137.6c-28.49789,0 -51.6,-23.10211 -51.6,-51.6v0c0,-28.49789 23.10211,-51.6 51.6,-51.6v0c28.49789,0 51.6,23.10211 51.6,51.6v0c0,28.49789 -23.10211,51.6 -51.6,51.6z"
                    fill="none"></path>
                  <path
                    d="M86,130.72c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v0c0,-24.69817 20.02183,-44.72 44.72,-44.72v0c24.69817,0 44.72,20.02183 44.72,44.72v0c0,24.69817 -20.02183,44.72 -44.72,44.72z"
                    fill="none"></path>
                  <path
                    d="M86,136.74c-28.02293,0 -50.74,-22.71707 -50.74,-50.74v0c0,-28.02293 22.71707,-50.74 50.74,-50.74v0c28.02293,0 50.74,22.71707 50.74,50.74v0c0,28.02293 -22.71707,50.74 -50.74,50.74z"
                    fill="none"></path>
                  <path
                    d="M86,129.86c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v0c0,-24.22321 19.63679,-43.86 43.86,-43.86h0c24.22321,0 43.86,19.63679 43.86,43.86v0c0,24.22321 -19.63679,43.86 -43.86,43.86z"
                    fill="none"></path>
                  <path
                    d="M86,133.3c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v0c0,-26.12307 21.17693,-47.3 47.3,-47.3h0c26.12307,0 47.3,21.17693 47.3,47.3v0c0,26.12307 -21.17693,47.3 -47.3,47.3z"
                    fill="none"></path>
                  <path
                    d="M86,126.42c-22.32335,0 -40.42,-18.09665 -40.42,-40.42v0c0,-22.32335 18.09665,-40.42 40.42,-40.42v0c22.32335,0 40.42,18.09665 40.42,40.42v0c0,22.32335 -18.09665,40.42 -40.42,40.42z"
                    fill="none"></path>
                  <path
                    d="M86,132.44c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v0c0,-25.6481 20.7919,-46.44 46.44,-46.44v0c25.6481,0 46.44,20.7919 46.44,46.44v0c0,25.6481 -20.7919,46.44 -46.44,46.44z"
                    fill="none"></path>
                  <path
                    d="M86,125.56c-21.84838,0 -39.56,-17.71162 -39.56,-39.56v0c0,-21.84838 17.71162,-39.56 39.56,-39.56v0c21.84838,0 39.56,17.71162 39.56,39.56v0c0,21.84838 -17.71162,39.56 -39.56,39.56z"
                    fill="none"></path>
                  <path
                    d="M86,131.58c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v0c0,-25.17314 20.40686,-45.58 45.58,-45.58h0c25.17314,0 45.58,20.40686 45.58,45.58v0c0,25.17314 -20.40686,45.58 -45.58,45.58z"
                    fill="none"></path>
                  <path
                    d="M86,124.7c-21.37342,0 -38.7,-17.32658 -38.7,-38.7v0c0,-21.37342 17.32658,-38.7 38.7,-38.7v0c21.37342,0 38.7,17.32658 38.7,38.7v0c0,21.37342 -17.32658,38.7 -38.7,38.7z"
                    fill="none"></path>
                  <path
                    d="M86,130.72c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v0c0,-24.69817 20.02183,-44.72 44.72,-44.72v0c24.69817,0 44.72,20.02183 44.72,44.72v0c0,24.69817 -20.02183,44.72 -44.72,44.72z"
                    fill="none"></path>
                  <path
                    d="M86,123.84c-20.89845,0 -37.84,-16.94155 -37.84,-37.84v0c0,-20.89845 16.94155,-37.84 37.84,-37.84v0c20.89845,0 37.84,16.94155 37.84,37.84v0c0,20.89845 -16.94155,37.84 -37.84,37.84z"
                    fill="none"></path>
                  <path
                    d="M86,129c-23.74824,0 -43,-19.25176 -43,-43v0c0,-23.74824 19.25176,-43 43,-43v0c23.74824,0 43,19.25176 43,43v0c0,23.74824 -19.25176,43 -43,43z"
                    fill="none"></path>
                  <path
                    d="M86,122.12c-19.94853,0 -36.12,-16.17147 -36.12,-36.12v0c0,-19.94853 16.17147,-36.12 36.12,-36.12v0c19.94853,0 36.12,16.17147 36.12,36.12v0c0,19.94853 -16.17147,36.12 -36.12,36.12z"
                    fill="none"></path>
                  <path
                    d="M86,129.86c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v0c0,-24.22321 19.63679,-43.86 43.86,-43.86h0c24.22321,0 43.86,19.63679 43.86,43.86v0c0,24.22321 -19.63679,43.86 -43.86,43.86z"
                    fill="none"></path>
                  <path
                    d="M86,122.98c-20.42349,0 -36.98,-16.55651 -36.98,-36.98v0c0,-20.42349 16.55651,-36.98 36.98,-36.98v0c20.42349,0 36.98,16.55651 36.98,36.98v0c0,20.42349 -16.55651,36.98 -36.98,36.98z"
                    fill="none"></path>
                  <path
                    d="M86,132.44c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v0c0,-25.6481 20.7919,-46.44 46.44,-46.44v0c25.6481,0 46.44,20.7919 46.44,46.44v0c0,25.6481 -20.7919,46.44 -46.44,46.44z"
                    fill="none"></path>
                  <path
                    d="M86,125.56c-21.84838,0 -39.56,-17.71162 -39.56,-39.56v0c0,-21.84838 17.71162,-39.56 39.56,-39.56v0c21.84838,0 39.56,17.71162 39.56,39.56v0c0,21.84838 -17.71162,39.56 -39.56,39.56z"
                    fill="none"></path>
                  <path
                    d="M86,134.16c-26.59803,0 -48.16,-21.56197 -48.16,-48.16v0c0,-26.59803 21.56197,-48.16 48.16,-48.16v0c26.59803,0 48.16,21.56197 48.16,48.16v0c0,26.59803 -21.56197,48.16 -48.16,48.16z"
                    fill="none"></path>
                  <path
                    d="M86,127.28c-22.79831,0 -41.28,-18.48169 -41.28,-41.28v0c0,-22.79831 18.48169,-41.28 41.28,-41.28v0c22.79831,0 41.28,18.48169 41.28,41.28v0c0,22.79831 -18.48169,41.28 -41.28,41.28z"
                    fill="none"></path>
                  <path
                    d="M86,135.88c-27.54796,0 -49.88,-22.33204 -49.88,-49.88v0c0,-27.54796 22.33204,-49.88 49.88,-49.88v0c27.54796,0 49.88,22.33204 49.88,49.88v0c0,27.54796 -22.33204,49.88 -49.88,49.88z"
                    fill="none"></path>
                  <path
                    d="M86,129c-23.74824,0 -43,-19.25176 -43,-43v0c0,-23.74824 19.25176,-43 43,-43v0c23.74824,0 43,19.25176 43,43v0c0,23.74824 -19.25176,43 -43,43z"
                    fill="none"></path>
                  <path
                    d="M86,136.74c-28.02293,0 -50.74,-22.71707 -50.74,-50.74v0c0,-28.02293 22.71707,-50.74 50.74,-50.74v0c28.02293,0 50.74,22.71707 50.74,50.74v0c0,28.02293 -22.71707,50.74 -50.74,50.74z"
                    fill="none"></path>
                  <path
                    d="M86,129.86c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v0c0,-24.22321 19.63679,-43.86 43.86,-43.86h0c24.22321,0 43.86,19.63679 43.86,43.86v0c0,24.22321 -19.63679,43.86 -43.86,43.86z"
                    fill="none"></path>
                  <path
                    d="M86,138.46c-28.97286,0 -52.46,-23.48714 -52.46,-52.46v0c0,-28.97286 23.48714,-52.46 52.46,-52.46v0c28.97286,0 52.46,23.48714 52.46,52.46v0c0,28.97286 -23.48714,52.46 -52.46,52.46z"
                    fill="none"></path>
                  <path
                    d="M86,131.58c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v0c0,-25.17314 20.40686,-45.58 45.58,-45.58h0c25.17314,0 45.58,20.40686 45.58,45.58v0c0,25.17314 -20.40686,45.58 -45.58,45.58z"
                    fill="none"></path>
                  <path
                    d="M86,139.32c-29.44782,0 -53.32,-23.87218 -53.32,-53.32v0c0,-29.44782 23.87218,-53.32 53.32,-53.32v0c29.44782,0 53.32,23.87218 53.32,53.32v0c0,29.44782 -23.87218,53.32 -53.32,53.32z"
                    fill="none"></path>
                  <path
                    d="M86,132.44c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v0c0,-25.6481 20.7919,-46.44 46.44,-46.44v0c25.6481,0 46.44,20.7919 46.44,46.44v0c0,25.6481 -20.7919,46.44 -46.44,46.44z"
                    fill="none"></path>
                  <path
                    d="M86,140.18c-29.92279,0 -54.18,-24.25721 -54.18,-54.18v0c0,-29.92279 24.25721,-54.18 54.18,-54.18v0c29.92279,0 54.18,24.25721 54.18,54.18v0c0,29.92279 -24.25721,54.18 -54.18,54.18z"
                    fill="none"></path>
                  <path
                    d="M86,133.3c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v0c0,-26.12307 21.17693,-47.3 47.3,-47.3h0c26.12307,0 47.3,21.17693 47.3,47.3v0c0,26.12307 -21.17693,47.3 -47.3,47.3z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,135.02c-27.073,0 -49.02,-21.947 -49.02,-49.02v0c0,-27.073 21.947,-49.02 49.02,-49.02h0c27.073,0 49.02,21.947 49.02,49.02v0c0,27.073 -21.947,49.02 -49.02,49.02z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,135.88c-27.54796,0 -49.88,-22.33204 -49.88,-49.88v0c0,-27.54796 22.33204,-49.88 49.88,-49.88v0c27.54796,0 49.88,22.33204 49.88,49.88v0c0,27.54796 -22.33204,49.88 -49.88,49.88z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,135.02c-27.073,0 -49.02,-21.947 -49.02,-49.02v0c0,-27.073 21.947,-49.02 49.02,-49.02h0c27.073,0 49.02,21.947 49.02,49.02v0c0,27.073 -21.947,49.02 -49.02,49.02z"
                    fill="none"></path>
                  <path
                    d="M86,141.04c-30.39775,0 -55.04,-24.64225 -55.04,-55.04v0c0,-30.39775 24.64225,-55.04 55.04,-55.04v0c30.39775,0 55.04,24.64225 55.04,55.04v0c0,30.39775 -24.64225,55.04 -55.04,55.04z"
                    fill="none"></path>
                  <path
                    d="M86,134.16c-26.59803,0 -48.16,-21.56197 -48.16,-48.16v0c0,-26.59803 21.56197,-48.16 48.16,-48.16v0c26.59803,0 48.16,21.56197 48.16,48.16v0c0,26.59803 -21.56197,48.16 -48.16,48.16z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,135.02c-27.073,0 -49.02,-21.947 -49.02,-49.02v0c0,-27.073 21.947,-49.02 49.02,-49.02h0c27.073,0 49.02,21.947 49.02,49.02v0c0,27.073 -21.947,49.02 -49.02,49.02z"
                    fill="none"></path>
                  <path
                    d="M86,143.62c-31.82265,0 -57.62,-25.79735 -57.62,-57.62v0c0,-31.82265 25.79735,-57.62 57.62,-57.62v0c31.82265,0 57.62,25.79735 57.62,57.62v0c0,31.82265 -25.79735,57.62 -57.62,57.62z"
                    fill="none"></path>
                  <path
                    d="M86,136.74c-28.02293,0 -50.74,-22.71707 -50.74,-50.74v0c0,-28.02293 22.71707,-50.74 50.74,-50.74h0c28.02293,0 50.74,22.71707 50.74,50.74v0c0,28.02293 -22.71707,50.74 -50.74,50.74z"
                    fill="none"></path>
                  <path
                    d="M86,146.2c-33.24754,0 -60.2,-26.95246 -60.2,-60.2v0c0,-33.24754 26.95246,-60.2 60.2,-60.2h0c33.24754,0 60.2,26.95246 60.2,60.2v0c0,33.24754 -26.95246,60.2 -60.2,60.2z"
                    fill="none"></path>
                  <path
                    d="M86,139.32c-29.44782,0 -53.32,-23.87218 -53.32,-53.32v0c0,-29.44782 23.87218,-53.32 53.32,-53.32v0c29.44782,0 53.32,23.87218 53.32,53.32v0c0,29.44782 -23.87218,53.32 -53.32,53.32z"
                    fill="none"></path>
                  <path
                    d="M86,147.06c-33.72251,0 -61.06,-27.33749 -61.06,-61.06v0c0,-33.72251 27.33749,-61.06 61.06,-61.06v0c33.72251,0 61.06,27.33749 61.06,61.06v0c0,33.72251 -27.33749,61.06 -61.06,61.06z"
                    fill="none"></path>
                  <path
                    d="M86,140.18c-29.92279,0 -54.18,-24.25721 -54.18,-54.18v0c0,-29.92279 24.25721,-54.18 54.18,-54.18v0c29.92279,0 54.18,24.25721 54.18,54.18v0c0,29.92279 -24.25721,54.18 -54.18,54.18z"
                    fill="none"></path>
                  <path
                    d="M86,148.78c-34.67244,0 -62.78,-28.10756 -62.78,-62.78v0c0,-34.67244 28.10756,-62.78 62.78,-62.78v0c34.67244,0 62.78,28.10756 62.78,62.78v0c0,34.67244 -28.10756,62.78 -62.78,62.78z"
                    fill="none"></path>
                  <path
                    d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64h0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                    fill="none"></path>
                  <path
                    d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76v0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z"
                    fill="none"></path>
                  <path
                    d="M86,151.36c-36.09733,0 -65.36,-29.26267 -65.36,-65.36v0c0,-36.09733 29.26267,-65.36 65.36,-65.36h0c36.09733,0 65.36,29.26267 65.36,65.36v0c0,36.09733 -29.26267,65.36 -65.36,65.36z"
                    fill="none"></path>
                  <path
                    d="M86,144.48c-32.29761,0 -58.48,-26.18239 -58.48,-58.48v0c0,-32.29761 26.18239,-58.48 58.48,-58.48v0c32.29761,0 58.48,26.18239 58.48,58.48v0c0,32.29761 -26.18239,58.48 -58.48,58.48z"
                    fill="none"></path>
                  <path
                    d="M86,154.8c-37.99719,0 -68.8,-30.80281 -68.8,-68.8v0c0,-37.99719 30.80281,-68.8 68.8,-68.8h0c37.99719,0 68.8,30.80281 68.8,68.8v0c0,37.99719 -30.80281,68.8 -68.8,68.8z"
                    fill="none"></path>
                  <path
                    d="M86,147.92c-34.19747,0 -61.92,-27.72253 -61.92,-61.92v0c0,-34.19747 27.72253,-61.92 61.92,-61.92v0c34.19747,0 61.92,27.72253 61.92,61.92v0c0,34.19747 -27.72253,61.92 -61.92,61.92z"
                    fill="none"></path>
                  <path
                    d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38v0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z"
                    fill="none"></path>
                  <path
                    d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5v0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z"
                    fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96h0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08h0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96h0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08h0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                  <path d="" fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96v0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08v0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                  <path
                    d="M86,159.96c-40.84698,0 -73.96,-33.11302 -73.96,-73.96v0c0,-40.84698 33.11302,-73.96 73.96,-73.96v0c40.84698,0 73.96,33.11302 73.96,73.96v0c0,40.84698 -33.11302,73.96 -73.96,73.96z"
                    fill="none"></path>
                  <path
                    d="M86,153.08c-37.04726,0 -67.08,-30.03274 -67.08,-67.08v0c0,-37.04726 30.03274,-67.08 67.08,-67.08v0c37.04726,0 67.08,30.03274 67.08,67.08v0c0,37.04726 -30.03274,67.08 -67.08,67.08z"
                    fill="none"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <ng-template #statisticItem>
      <div class="sq-tests-card-list__card-row _label"
           *ngIf="statisticsEnabled"
           [ngSwitch]="node.defaultStatistics"
      >
        <ng-container *ngSwitchCase="'mos_pvqa'">PVQA</ng-container>
        <ng-container *ngSwitchCase="'mos_aqua'">AQUA</ng-container>
        <ng-container *ngSwitchCase="'r_factor'">Sevana R-factor</ng-container>
        <ng-container *ngSwitchCase="'mos_network'">MOS Network</ng-container>
        &nbsp;({{node.defaultDuration}}
        <ng-container [ngSwitch]="node.defaultPeriod">
          <ng-container *ngSwitchCase="'hour'">h</ng-container>
          <ng-container *ngSwitchCase="'day'">d</ng-container>
          <ng-container *ngSwitchCase="'month'">m</ng-container>
        </ng-container>
        )
      </div>
      <div class="sq-tests-card-list__card-row"
           [ngClass]="{
            _text: (selfLoading ? !node.statisticsInProgress : cardLoadStatus !== 'loading'),
            _progress: (selfLoading ? node.statisticsInProgress : cardLoadStatus === 'loading')
            }"
      >
        <ux-round-dots-loader *ngIf="(selfLoading ? node.statisticsInProgress : cardLoadStatus === 'loading')"
                              [visible]="(selfLoading ? node.statisticsInProgress : cardLoadStatus === 'loading')"
        >
        </ux-round-dots-loader>

        <ng-container *ngIf="(selfLoading ? !node.statisticsInProgress : cardLoadStatus !== 'loading')">
          <div class="_satisfaction"
               [ngClass]="node.entitySummaryVisible[node.defaultStatistics]?.avgLevel"
          ></div>
          <div class="_text">{{node.entitySummaryVisible[node.defaultStatistics]?.average}}</div>
        </ng-container>
      </div>
    </ng-template>

  </ng-template>

  <ng-template #cardExpandable>
    <div class="sq-tests-card-list__card-expandable">
      <div class="sq-tests-card-list__card-expandable-statistics">
        <div class="sq-tests-card-list__card-row">
          <div class="sq-tests-card-list__card-item _center">
            <div class="_label">
              Best
            </div>
            <div class="_value"
                 [ngClass]="node.entitySummaryVisible[node.defaultStatistics].maxLevel"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].max}}
            </div>
            <div class="_probe-link"
                 (tap)="onProbeStatistics.emit(node.entitySummaryVisible[node.defaultStatistics].max_probe_id)"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].max_timestamp ? (node.entitySummaryVisible[node.defaultStatistics].max_timestamp | date : 'yyyy/MM/dd HH:mm:ss') : ''}}
            </div>
          </div>
          <div class="sq-tests-card-list__card-item _center">
            <div class="_label">
              Worst
            </div>
            <div class="_value"
                 [ngClass]="node.entitySummaryVisible[node.defaultStatistics].minLevel"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].min}}
            </div>
            <div class="_probe-link"
                 (tap)="onProbeStatistics.emit(node.entitySummaryVisible[node.defaultStatistics].min_probe_id)"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].min_timestamp ? (node.entitySummaryVisible[node.defaultStatistics].min_timestamp | date : 'yyyy/MM/dd HH:mm:ss') : ''}}
            </div>
          </div>
          <div class="sq-tests-card-list__card-item _center">
            <div class="_label">
              Last
            </div>
            <div class="_value"
                 [ngClass]="node.entitySummaryVisible[node.defaultStatistics].lastLevel"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].last}}
            </div>
            <div class="_probe-link"
                 (tap)="onProbeStatistics.emit(node.entitySummaryVisible[node.defaultStatistics].last_probe_id)"
            >
              {{node.entitySummaryVisible[node.defaultStatistics].last_timestamp ? (node.entitySummaryVisible[node.defaultStatistics].last_timestamp | date : 'yyyy/MM/dd HH:mm:ss') : ''}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
