@import "../../../../common/common-vars.less";
@import "../../../../common/color-vars.less";
@import "../../../../common/component-states.less";

.ux-radio-field {
    display: block;
    height: 22px;

    &__label {
        display: inline-block;
        .font-regular;
        line-height: 18px;
        color: @main-text-color;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__icon {
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        .default_field_shadow;
        border: 1px solid @default-border-color; /*!-designToken-radio-field-border-width solid -designToken-radio-field-border-color*/
        border-radius: 9px;
        background-color: @main-background-color; /*!-designToken-radio-field-background-color*/
        transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
        .state_focus-passive(relative, 1px, 10px);
    }

    &__input:checked + &__icon {
        background-color: @primary-color; /*!-designToken-radio-field-checked-background-color*/
        border-color: @primary-color; /*!-designToken-radio-field-checked-border-color*/
        .state_focus-passive(relative, 0, 10px);

        &:before {
            display: block;
            content: '';
            width: 6px;
            height: 6px;
            background-color: @main-background-color;
            border-radius: 100%;
            margin: 5px;
        }
    }

    &__input:focus + &__icon {
        .state_action-focus-active(1px, 13px);
    }

    &__input:checked:focus + &__icon {
        .state_action-focus-active(1px, 13px);
    }

    &._disabled > &__label {
        .state_disabled;
    }

    &:not(._disabled) > &__label:hover {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &:not(._disabled) > &__label:hover > &__icon {
        .state_hover-active(1px, 13px);

        background-color: @main-background-color; /*!-designToken-radio-field-unchecked-hover-background-color*/
        border-color: @default-border-color; /*!-designToken-radio-field-unchecked-hover-border-color*/

        &::after {
            border: 2px solid @primary-warning-color; /*!-designToken-radio-field-unchecked-hover-active-border-width solid -designToken-radio-field-unchecked-hover-active-border-color*/
        }
    }

    &:not(._disabled) > &__label:active > &__icon {
        background-color: @primary-info-color;
        border-color: @primary-info-color;
        box-shadow: none;
    }

    &:not(._disabled) > &__label:hover &__input:checked + &__icon {
        .state_hover-active(1, 13px);

        background-color: @primary-color; /*!-designToken-radio-field-checked-hover-background-color*/
        border-color: @primary-color; /*!-designToken-radio-field-checked-hover-border-color*/

        &::after {
           border: 2px solid @primary-warning-color; /*!-designToken-radio-field-checked-hover-active-border-width solid -designToken-radio-field-checked-hover-active-border-color*/
        }
    }

    &:not(._disabled) > &__label:active &__input:checked + &__icon {
        background-color: @primary-info-color;
        border-color: @primary-info-color;
        box-shadow: none;
    }
}
