.ux-tab-panel-item {
  &__content {
    background: none;
    padding: 6px 0;
    border-top: none;
    display: none;
  }

  &._no-padding &__content {
    padding: 0;
  }

  &._selected &__content {
    display: block;
  }

  ._full-size-flex &._selected &__content,
  ._full-size-flex &._selected &__template,
  ._full-size-flex &._selected {
    flex-grow: 1;
    display: flex;
  }
}