@import "../../../common/common-vars.less";
@import "../../../common/component-states.less";

.ux-tab-panel-header {
    overflow: hidden;
    display: flex;
    position: relative;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &._mobile &__inner {
        flex-wrap: nowrap;
    }

    &._header-border {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: @default-border-color;
        }
    }

    &__item {
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;
        line-height: 32px;
        .font-bold;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &-title {
            vertical-align: top;
            display: block;
            text-align: center;
            padding-bottom: 5px;
        }

        ._light-font & {
            .font-regular;
            color: @main-background-color;
        }

        &:first-child {
            padding-left: 0;
        }

        &._selected,
        &._selected:hover {
            cursor: default;
        }

        &._disabled,
        &._disabled:hover {
            .state_disabled();
        }

        &-inner {
            text-decoration: none;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 4px;
                transition: background 0.2s ease;
                z-index: 1;
            }
        }

        &._selected:not(._disabled) &-inner:after {
            background: @primary-color;

            ._light-font & {
                background: @primary-warning-color;
            }
        }

        &:not(._selected):not(._disabled):hover &-inner:after {
            background: @default-info-color;

            ._light-font & {
                background: @default-warning-color;
            }
        }
    }
}
