<div class="sq-probes-report-list">
  <div class="sq-probes-report-list__cards">
    <ux-table [model]="_model"
              [rowHeight]="40"
              [minVerticalSliderSize]="30"
              [hasVirtualScroll]="false"
              [mobile]="false"
    >
    </ux-table>
  </div>
</div>
