<div class="sq-report-filter__container">
  <div class="sq-report-filter__container-row">
    <div class="sq-report-filter__container-row-item">
      <ux-label [text]="'Period:'"
                [ngClass]="{'_compact': isCompact}">
        <ux-switch-selector-field [items]="periodModel"
                                  [value]="selectedPeriod"
                                  (onValueChange)="_onPeriodSelected($event)"
                                  [compact]="isCompact"
        >
        </ux-switch-selector-field>
      </ux-label>
    </div>
  </div>
  <div class="sq-report-filter__container-row">
    <div class="sq-report-filter__container-row-item">
      <ux-label [text]="'Report type:'"
                [ngClass]="{'_compact': isCompact}">
        <ux-switch-selector-field [items]="reportTypesModel"
                                  [value]="selectedReportType"
                                  (onValueChange)="_onReportTypeSelected($event)"
                                  [compact]="isCompact"
        >
        </ux-switch-selector-field>
      </ux-label>
    </div>
  </div>
  <div class="sq-report-filter__container-row">
    <div class="sq-report-filter__container-row-item">
      <ux-label [text]="'Report range:'"
                [ngClass]="{'_compact': isCompact}">
        <ux-range-date-field [value]="selectedRange"
                             [placeholder]="_rangePlaceHolder"
                             [viewValue]="selectedViewRange"
                             [attachToBody]="false"
                             [disabled]="false"
                             [dateFormat]="null"
                             [beginAvailableDate]="null"
                             [endAvailableDate]="_endAvailableDate"
                             (valueChange)="_onRangeSelected($event)"
                             [mobile]="false">
        </ux-range-date-field>
      </ux-label>
    </div>
    <div class="sq-report-filter__container-row-item-message"
         [ngClass]="{'error': rangeError}"
    >
      {{rangeError}}
    </div>
  </div>
  <div class="sq-report-filter__container-row">
    <div class="sq-report-filter__container-row-item">
      <ux-label [text]="'Selected devices:'"
                [ngClass]="{'_compact': isCompact}">
        <ux-multiple-field [(value)]="selectedDevices"
                           [items]="availableDevices"
                           [showSelectAll]="true"
                           [selectAllCaption]="'Select All'"
                           (onValueChange)="_onDevicesSelected($event)"
                           [itemCaptionKey]="'caption'"
                           [popoverVisible]="false"
                           [disabled]="false"
                           [mobile]="false"
                           [class]="'ux-multiple-field-devices'"
                           [ngClass]="{'_compact': isCompact}"
        >
        </ux-multiple-field>
      </ux-label>
    </div>
    <div class="sq-report-filter__container-row-item-message"
         [ngClass]="{'error': devicesError}"
    >
      {{devicesError}}
    </div>
  </div>
  <div class="sq-report-filter__container-footer"
       [ngClass]="{'_compact': isCompact}">
    <div class="sq-report-filter__container-footer-item">
      <ux-button [text]="'Apply'"
                 (tap)="onApplyFilter.emit()"
                 [kind]="'primary'"
      >
      </ux-button>
    </div>
    <div class="sq-report-filter__container-footer-item">
      <ux-button [text]="'Reset'"
                 (tap)="onResetFilter.emit()"
      >
      </ux-button>
    </div>
  </div>
</div>
