<div class="sq-report-by-devices__wrapper">
  <div class="sq-report-by-devices__phone"
       *ngFor="let phoneCharts of _phonesCharts; let i=index; trackBy: _trackByChartEntity">
    <div class="sq-report-by-devices__phone-title">
      '{{phoneCharts.phone}}' device statistics:
    </div>

    <div class="sq-report-by-devices__phone-data"
         *ngFor="let dataTypeModels of phoneCharts.chartDataModels; let i=index; trackBy: _trackByFn">

      <div class="sq-report-by-devices__phone-data-chart"
           *ngFor="let chartModel of dataTypeModels.chartModels; let i=index; trackBy: _trackByFn">

        <ux-highchart [model]="chartModel.chartModel">
        </ux-highchart>
      </div>
    </div>
  </div>

  <ux-overlay [visible]="inProgress">
    <ux-round-dots-loader [visible]="inProgress"></ux-round-dots-loader>
  </ux-overlay>
</div>
