<div class="sq-report-by-results__back-to-tests"
     *ngIf="isReportActivated"
     (tap)="_onBackToTests()"
>
  << back to tests selection
</div>

<div class="sq-report-by-results__wrapper">
  <ux-card-tree [model]="_cardsModel"
                (onChecked)="_onCardChecked($event)"
                [selectAllCaption]="'Select all tests'"
  >
  </ux-card-tree>
</div>

<ng-template #commonTemplate
             let-node="node">
  <div class="sq-report-by-results__card">
    <ng-template
      [ngTemplateOutlet]="cardHeader"
    >
    </ng-template>
    <ng-template
      *ngIf="node.hasTestResults"
      [ngTemplateOutlet]="cardContent"
    >
    </ng-template>
  </div>

  <ng-template #cardHeader>
    <div class="sq-report-by-results__card-header">
      <div class="sq-report-by-results__card-header-title">
        <div class="sq-report-by-results__card-header-title _caption"
             [ngClass]="{_empty: !node.hasTestResults}"
        >
          {{node.caption}}
        </div>
        <div class="sq-report-by-results__card-header-title _progress">
          <ux-linear-dots-loader [debounce]="200"
                                 [visible]="node.isLoadInProgress"
          >
          </ux-linear-dots-loader>
        </div>
        <div class="sq-report-by-results__card-header-title _no_results"
             *ngIf="!node.isLoadInProgress && !node.hasTestResults && isReportActivated"
        >
          No tests results found
        </div>
      </div>
      <div class="sq-report-by-results__card-header-toolbar">
        <ng-template
          [ngTemplateOutlet]="toolbarItem"
          [ngTemplateOutletContext]="{ caption: 'Target', content: node.test.target}"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="toolbarItem"
          [ngTemplateOutletContext]="{ caption: 'Command', content: node.test.command}"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="toolbarItem"
          [ngTemplateOutletContext]="{ caption: 'Cron', content: node.test.schedule}"
        ></ng-template>
      </div>
    </div>

    <ng-template #toolbarItem
                 let-caption="caption"
                 let-content="content"
    >
      <div class="sq-report-by-results__card-header-toolbar-item">
        <div class="sq-report-by-results__card-header-toolbar-item _caption">
          {{caption}}
        </div>
        <div class="sq-report-by-results__card-header-toolbar-item _content">
          {{content}}
        </div>
      </div>
    </ng-template>

  </ng-template>

  <ng-template #cardContent
  >
    <div class="sq-report-by-results__card-content">
      <div class="sq-report-by-results__card-content-title"
           (tap)="_onNodeExpand(node)"
      >
        <div class="sq-report-by-results__card-content-title _caption">
          Test statistics:
        </div>
        <div class="sq-report-by-results__card-content-title _details">
          {{node.isExpanded ? 'hide details' : 'show more details'}}
        </div>
        <div class="sq-report-by-results__card-content-title _details _icon"
             [ngClass]="{_collapsed: node.isExpanded}"
        >
        </div>
      </div>
      <ng-template
        [ngTemplateOutlet]="node.isExpanded ? expandedContent : commonContent"
      ></ng-template>
    </div>

    <ng-template #commonContent>
      <div class="sq-report-by-results__card-content-statistics">
        <div class="sq-report-by-results__card-content-statistics-list">
          <ng-template
            *ngIf="node.pvqaVisibleSummary"
            [ngTemplateOutlet]="statisticItem"
            [ngTemplateOutletContext]="{ dataCaption: 'PVQA', dataEntry: node.pvqaVisibleSummary}"
          ></ng-template>
          <ng-template
            *ngIf="node.aquaVisibleSummary"
            [ngTemplateOutlet]="statisticItem"
            [ngTemplateOutletContext]="{ dataCaption: 'AQUA', dataEntry: node.aquaVisibleSummary}"
          ></ng-template>
          <ng-template
            *ngIf="node.rFactorVisibleSummary"
            [ngTemplateOutlet]="statisticItem"
            [ngTemplateOutletContext]="{ dataCaption: 'Sevana R-factor', dataEntry: node.rFactorVisibleSummary}"
          ></ng-template>
          <ng-template
            *ngIf="node.mosNetworkVisibleSummary"
            [ngTemplateOutlet]="statisticItem"
            [ngTemplateOutletContext]="{ dataCaption: 'MOS', dataEntry: node.mosNetworkVisibleSummary}"
          ></ng-template>
        </div>
      </div>

      <ng-template #statisticItem
                   let-dataCaption="dataCaption"
                   let-dataEntry="dataEntry"
      >
        <div class="sq-report-by-results__card-content-statistics-list-item">
          <div class="sq-report-by-results__card-content-statistics-list-item _caption">
            {{dataCaption}}
          </div>
          <div class="sq-report-by-results__card-content-statistics-list-item _values">
            <ng-template
              [ngTemplateOutlet]="levelItem"
              [ngTemplateOutletContext]="{ levelCaption: 'Best', levelValue: dataEntry.max, levelClass: dataEntry.maxLevel}"
            ></ng-template>
            <ng-template
              [ngTemplateOutlet]="levelItem"
              [ngTemplateOutletContext]="{ levelCaption: 'Avg', levelValue: dataEntry.average, levelClass: dataEntry.avgLevel}"
            ></ng-template>
            <ng-template
              [ngTemplateOutlet]="levelItem"
              [ngTemplateOutletContext]="{ levelCaption: 'Worst', levelValue: dataEntry.min, levelClass: dataEntry.minLevel}"
            ></ng-template>
          </div>
        </div>

        <ng-template #levelItem
                     let-levelCaption="levelCaption"
                     let-levelValue="levelValue"
                     let-levelClass="levelClass"
        >
          <div class="sq-report-by-results__card-content-statistics-list-item _values-group">
            <div class="sq-report-by-results__card-content-statistics-list-item _values-group _value"
                 [ngClass]="levelClass"
            >
              {{levelValue}}
            </div>
            <div class="sq-report-by-results__card-content-statistics-list-item _values-group _label">
              {{levelCaption}}
            </div>
          </div>
        </ng-template>

      </ng-template>

    </ng-template>

    <ng-template #expandedContent>
      <div class="sq-report-by-results__card-content-expanded-wrapper">
        <div class="sq-report-by-results__card-content-expanded">
          <ux-tab-panel (onChange)="_onDetailsTabChange($event, node)"
          >
            <ux-tab-panel-item [title]="'Summary'">
              <ng-template [ngTemplateOutlet]="summaryTabContent"></ng-template>
            </ux-tab-panel-item>

            <ux-tab-panel-item [title]="'PVQA'"
                               *ngIf="node.pvqaVisibleSummary"
            >
              <ng-template [ngTemplateOutlet]="pvqaSummaryTab"></ng-template>
            </ux-tab-panel-item>
            <ux-tab-panel-item [title]="'AQUA'"
                               *ngIf="node.aquaVisibleSummary"
            >
              <ng-template [ngTemplateOutlet]="aquaSummaryTab"></ng-template>
            </ux-tab-panel-item>
            <ux-tab-panel-item [title]="'Sevana R-factor'"
                               *ngIf="node.rFactorVisibleSummary"
            >
              <ng-template [ngTemplateOutlet]="rFactorSummaryTab"></ng-template>
            </ux-tab-panel-item>
            <ux-tab-panel-item [title]="'MOS Network'"
                               *ngIf="node.mosNetworkVisibleSummary"
            >
              <ng-template [ngTemplateOutlet]="mosNetworkSummaryTab"></ng-template>
            </ux-tab-panel-item>
            <ux-tab-panel-item [title]="'Test results list'"

            >
              <ng-template [ngTemplateOutlet]="probesSummaryTab"></ng-template>
            </ux-tab-panel-item>
          </ux-tab-panel>
        </div>
        <div class="sq-report-by-results__card-content-expanded-collaps"
             (tap)="_onNodeExpand(node)"
        >
          <div class="sq-report-by-results__card-content-title _details">
            {{node.isExpanded ? 'hide details' : 'show more details'}}
          </div>
          <div class="sq-report-by-results__card-content-title _details _icon"
               [ngClass]="{_collapsed: node.isExpanded}"
          >
          </div>
        </div>
      </div>

      <ng-template #summaryTabContent>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <div class="sq-report-by-results__card-content-expanded-summary-tab">
            <div class="sq-report-by-results__card-content-expanded-summary-tab__table">
              <table>
                <thead>
                <tr>
                  <td></td>
                  <td>Best</td>
                  <td>Average</td>
                  <td>Worst</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="node.pvqaVisibleSummary">
                  <td>PVQA</td>
                  <td [ngClass]="node.pvqaVisibleSummary.maxLevel">{{node.pvqaVisibleSummary.max}}</td>
                  <td [ngClass]="node.pvqaVisibleSummary.avgLevel">{{node.pvqaVisibleSummary.average}}</td>
                  <td [ngClass]="node.pvqaVisibleSummary.minLevel">{{node.pvqaVisibleSummary.min}}</td>
                </tr>
                <tr *ngIf="node.aquaVisibleSummary">
                  <td>AQUA</td>
                  <td [ngClass]="node.aquaVisibleSummary.maxLevel">{{node.aquaVisibleSummary.max}}</td>
                  <td [ngClass]="node.aquaVisibleSummary.avgLevel">{{node.aquaVisibleSummary.average}}</td>
                  <td [ngClass]="node.aquaVisibleSummary.minLevel">{{node.aquaVisibleSummary.min}}</td>
                </tr>
                <tr *ngIf="node.rFactorVisibleSummary">
                  <td>Sevana R-factor</td>
                  <td [ngClass]="node.rFactorVisibleSummary.maxLevel">{{node.rFactorVisibleSummary.max}}</td>
                  <td [ngClass]="node.rFactorVisibleSummary.avgLevel">{{node.rFactorVisibleSummary.average}}</td>
                  <td [ngClass]="node.rFactorVisibleSummary.minLevel">{{node.rFactorVisibleSummary.min}}</td>
                </tr>
                <tr *ngIf="node.mosNetworkVisibleSummary">
                  <td>MOS Network</td>
                  <td [ngClass]="node.mosNetworkVisibleSummary.maxLevel">{{node.mosNetworkVisibleSummary.max}}</td>
                  <td [ngClass]="node.mosNetworkVisibleSummary.avgLevel">{{node.mosNetworkVisibleSummary.average}}</td>
                  <td [ngClass]="node.mosNetworkVisibleSummary.minLevel">{{node.mosNetworkVisibleSummary.min}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="sq-report-by-results__card-content-expanded-summary-tab__satisfaction-chart">
              <sq-satisfaction-chart></sq-satisfaction-chart>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #pvqaSummaryTab>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <ng-container *ngFor="let pvqaChart of node.pvqaCharts; let i=index; trackBy: _trackByChartEntity">
            <div class="sq-report-by-results__card-content-expanded-tab__item-container"
                 *ngIf="!pvqaChart.isEmpty"
            >
              <div class="sq-report-by-results__card-content-expanded-tab__chart">
                <div class="sq-report-by-results__card-content-expanded-tab__chart-head">
                  '{{pvqaChart.phone}}' device statistics:
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-linear">
                  <ux-highchart [model]="pvqaChart.chartDataModelsMap.get('mos_pvqa').chartModelsMap.get('linear').chartModel"
                  >
                  </ux-highchart>
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-calendar">
                  <ux-highchart [model]="pvqaChart.chartDataModelsMap.get('mos_pvqa').chartModelsMap.get('calendar').chartModel"
                  >
                  </ux-highchart>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #aquaSummaryTab>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <ng-container *ngFor="let aquaChart of node.aquaCharts; let i=index; trackBy: _trackByChartEntity">
            <div class="sq-report-by-results__card-content-expanded-tab__item-container"
                 *ngIf="!aquaChart.isEmpty"
            >
              <div class="sq-report-by-results__card-content-expanded-tab__chart">
                <div class="sq-report-by-results__card-content-expanded-tab__chart-head">
                  '{{aquaChart.phone}}' device statistics:
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-linear">
                  <ux-highchart [model]="aquaChart.chartDataModelsMap.get('mos_aqua').chartModelsMap.get('linear').chartModel"
                  >
                  </ux-highchart>
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-calendar">
                  <ux-highchart [model]="aquaChart.chartDataModelsMap.get('mos_aqua').chartModelsMap.get('calendar').chartModel"
                  >
                  </ux-highchart>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #rFactorSummaryTab>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <ng-container *ngFor="let rFactorChart of node.rFactorCharts; let i=index; trackBy: _trackByChartEntity">
            <div class="sq-report-by-results__card-content-expanded-tab__item-container"
                 *ngIf="!rFactorChart.isEmpty"
            >
              <div class="sq-report-by-results__card-content-expanded-tab__chart">
                <div class="sq-report-by-results__card-content-expanded-tab__chart-head">
                  '{{rFactorChart.phone}}' device statistics:
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-linear">
                  <ux-highchart [model]="rFactorChart.chartDataModelsMap.get('r_factor').chartModelsMap.get('linear').chartModel"
                  >
                  </ux-highchart>
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-calendar">
                  <ux-highchart [model]="rFactorChart.chartDataModelsMap.get('r_factor').chartModelsMap.get('calendar').chartModel"
                  >
                  </ux-highchart>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #mosNetworkSummaryTab>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <ng-container *ngFor="let mosNetworkChart of node.mosNetworkCharts; let i=index; trackBy: _trackByChartEntity">
            <div class="sq-report-by-results__card-content-expanded-tab__item-container"
                 *ngIf="!mosNetworkChart.isEmpty"
            >
              <div class="sq-report-by-results__card-content-expanded-tab__chart">
                <div class="sq-report-by-results__card-content-expanded-tab__chart-head">
                  '{{mosNetworkChart.phone}}' device statistics:
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-linear">
                  <ux-highchart [model]="mosNetworkChart.chartDataModelsMap.get('mos_network').chartModelsMap.get('linear').chartModel"
                  >
                  </ux-highchart>
                </div>
                <div class="sq-report-by-results__card-content-expanded-tab__chart-calendar">
                  <ux-highchart [model]="mosNetworkChart.chartDataModelsMap.get('mos_network').chartModelsMap.get('calendar').chartModel"
                  >
                  </ux-highchart>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #probesSummaryTab>
        <div class="sq-report-by-results__card-content-expanded-tab">
          <div class="sq-report-by-results__card-content-expanded__probes">
            <div class="sq-report-by-results__card-content-expanded__probes-progress"
                 *ngIf="node.probesInProgress"
            >
              <ux-round-dots-loader [debounce]="200"
                                    [visible]="node.probesInProgress">
              </ux-round-dots-loader>
            </div>
            <div class="sq-report-by-results__card-content-expanded__probes-report"
                 *ngIf="!node.probesInProgress"
            >
              <sq-probes-report-list [items]="node.probesResults"
                                     [groupByDevices]="true"
              >
              </sq-probes-report-list>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>

  </ng-template>

</ng-template>

