<div class="sq-reports-view__wrapper">
  <div class="sq-reports-view__wrapper-initial"
       *ngIf="_isInitialView"
  >
    <ux-tab-panel (onChange)="_onTabPanelChange($event)">
      <ux-tab-panel-item [title]="'By devices'">
        <sq-report-filter [periodModel]="periodItemsModel"
                          [(selectedPeriod)]="devReportParameters.selectedPeriod"
                          [reportTypesModel]="reportTypesModel"
                          [(selectedReportType)]="devReportParameters.selectedReportType"
                          [selectedRange]="devReportParameters.range"
                          [selectedViewRange]="devReportParameters.rangeView"
                          (selectedRangeChange)="_onRangeSelected($event, devReportParameters)"
                          [rangeError]="devReportParameters.rangeError"
                          [availableDevices]="_availableDevices"
                          [selectedDevices]="devReportParameters.selectedDevices"
                          (selectedDevicesChange)="_onDevicesSelected($event, devReportParameters)"
                          [devicesError]="devReportParameters.devicesError"
                          (onApplyFilter)="_onApplyReport(reportByDevices, devReportParameters)"
                          (onResetFilter)="_onResetReport(reportByDevices, devReportParameters)"
        >
        </sq-report-filter>
      </ux-tab-panel-item>
      <ux-tab-panel-item [title]="'By test results'">
        <sq-report-filter [periodModel]="periodItemsModel"
                          [(selectedPeriod)]="resReportParameters.selectedPeriod"
                          [reportTypesModel]="reportTypesModel"
                          [(selectedReportType)]="resReportParameters.selectedReportType"
                          [selectedRange]="resReportParameters.range"
                          [selectedViewRange]="resReportParameters.rangeView"
                          (selectedRangeChange)="_onRangeSelected($event, resReportParameters)"
                          [rangeError]="resReportParameters.rangeError"
                          [availableDevices]="_availableDevices"
                          [selectedDevices]="resReportParameters.selectedDevices"
                          (selectedDevicesChange)="_onDevicesSelected($event, resReportParameters)"
                          [devicesError]="resReportParameters.devicesError"
                          (onApplyFilter)="_onApplyReport(reportByResults, resReportParameters)"
                          (onResetFilter)="_onResetReport(reportByResults, resReportParameters)"
        >
        </sq-report-filter>
      </ux-tab-panel-item>
    </ux-tab-panel>
  </div>
  <div class="sq-reports-view__navigation-panel"
       *ngIf="!_isInitialView">
    <ux-accordion (onItemToggle)="_onReportToggle($event)">
      <ux-accordion-item [caption]="'By devices'"
                         [opened]="selectedReport === 'by-devices'"
      >
        <sq-report-filter [isCompact]="true"
                          [periodModel]="periodItemsModel"
                          [(selectedPeriod)]="devReportParameters.selectedPeriod"
                          [reportTypesModel]="reportTypesModel"
                          [(selectedReportType)]="devReportParameters.selectedReportType"
                          [selectedRange]="devReportParameters.range"
                          [selectedViewRange]="devReportParameters.rangeView"
                          (selectedRangeChange)="_onRangeSelected($event, devReportParameters)"
                          [rangeError]="devReportParameters.rangeError"
                          [availableDevices]="_availableDevices"
                          [selectedDevices]="devReportParameters.selectedDevices"
                          (selectedDevicesChange)="_onDevicesSelected($event, devReportParameters)"
                          [devicesError]="devReportParameters.devicesError"
                          (onApplyFilter)="_onApplyReport(reportByDevices, devReportParameters)"
                          (onResetFilter)="_onResetReport(reportByDevices, devReportParameters)"
        >
        </sq-report-filter>
      </ux-accordion-item>

      <ux-accordion-item [caption]="'By test results'"
                         [opened]="selectedReport === 'by-results'"
      >
        <sq-report-filter [isCompact]="true"
                          [periodModel]="periodItemsModel"
                          [(selectedPeriod)]="resReportParameters.selectedPeriod"
                          [reportTypesModel]="reportTypesModel"
                          [(selectedReportType)]="resReportParameters.selectedReportType"
                          [selectedRange]="resReportParameters.range"
                          [selectedViewRange]="resReportParameters.rangeView"
                          (selectedRangeChange)="_onRangeSelected($event, resReportParameters)"
                          [rangeError]="resReportParameters.rangeError"
                          [availableDevices]="_availableDevices"
                          [selectedDevices]="resReportParameters.selectedDevices"
                          (selectedDevicesChange)="_onDevicesSelected($event, resReportParameters)"
                          [devicesError]="resReportParameters.devicesError"
                          (onApplyFilter)="_onApplyReport(reportByResults, resReportParameters)"
                          (onResetFilter)="_onResetReport(reportByResults, resReportParameters)"
        >
        </sq-report-filter>
      </ux-accordion-item>
    </ux-accordion>
  </div>
  <div class="sq-reports-view__container">
    <sq-report-by-devices #reportByDevicesEl
                          *ngIf="selectedReport === 'by-devices'"
    >
    </sq-report-by-devices>
    <sq-report-by-results #reportByResultsEl
                          *ngIf="selectedReport === 'by-results'"
                          [availableTests]="_availableTests"
    >
    </sq-report-by-results>
  </div>
</div>
