<div class="sq-testcase-chart__wrapper">

  <div class="sq-testcase-chart__card">
    <div class="sq-testcase-chart__card-content">
      <table>
        <tbody>
          <tr>
            <td class="_label">Test time</td>
            <td class="_value">{{result.endtime | date : 'yyyy/MM/dd HH:mm:ss'}}</td>
          </tr>
          <tr>
            <td class="_label">Result ID</td>
            <td class="_value">{{result.id}}</td>
          </tr>
          <tr>
            <td class="_label">Device</td>
            <td class="_value">{{result.phone_name}}</td>
          </tr>
          <tr>
            <td class="_label">Test</td>
            <td class="_value">{{result.task_name}}</td>
          </tr>
          <tr>
            <td class="_label">SIP source</td>
            <td class="_value">{{result.sip_src}}</td>
          </tr>
          <tr>
            <td class="_label">SIP destination</td>
            <td class="_value">{{result.sip_dst}}</td>
          </tr>
          <tr>
            <td class="_label">SIP callid</td>
            <td class="_value">{{result.sip_callid}}</td>
          </tr>
          <tr>
            <td class="_label">Packet loss</td>
            <td class="_value">{{result.packet_loss}}</td>
          </tr>
          <tr>
            <td class="_label">Packets total</td>
            <td class="_value">{{result.packets_total}}</td>
          </tr>
          <tr>
            <td class="_label">Packets lost</td>
            <td class="_value">{{result.packets_lost}}</td>
          </tr>
          <tr>
            <td class="_label">Jitter</td>
            <td class="_value">{{result.jitter}}</td>
          </tr>
          <tr>
            <td class="_label">RTT</td>
            <td class="_value">{{result.rtt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sq-testcase-chart__card">
    <div class="sq-testcase-chart__card-head _title">
      AQuA results
    </div>
    <div class="sq-testcase-chart__card-content">
      <table>
        <tbody>
          <tr>
            <td class="_label">MOS</td>
            <td class="_value">
              <div class="_row">
                <div class="_level" [ngClass]="_aquaReportVisual?.AQuAReport?.QualityResults.mosStyle"></div>
                {{_aquaReportVisual?.AQuAReport?.QualityResults.MOS + ' (' + _aquaReportVisual?.AQuAReport?.QualityResults.Percent + '%)'}}
              </div>
            </td>
          </tr>
          <ng-container *ngIf="_aquaReportVisual?.AQuAReport?.Reasons?.length > 0">
            <tr *ngFor="let reason of _aquaReportVisual?.AQuAReport?.Reasons; let idx=index">
              <td *ngIf="idx === 0"
                  class="_label _top"
                  [attr.rowspan]="_aquaReportVisual?.AQuAReport?.Reasons?.length">
                Reasons
              </td>
              <td class="_value">
                {{reason}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="sq-testcase-chart__card-content">
      <table class="_stripped">
        <thead>
          <tr>
            <td>Value</td>
            <td>Original</td>
            <td>Degraded</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aquaValue of _aquaReportVisual?.AQuAReport?.ValuesArray | keyvalue">
            <td class="_label">{{aquaValue.key}}</td>
            <td class="_value">{{aquaValue.value.SourceValue + (aquaValue.value.Units ? ' ' + aquaValue.value.Units : '')}}</td>
            <td class="_value">
                {{aquaValue.value.DegradedValue + (aquaValue.value.Units ? ' ' + aquaValue.value.Units : '')}}
            </td>
            <td class="_sign">
              <div *ngIf="aquaValue.value.up === true"
                   class="_icon"
              >
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="16" height="16"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M157.66667,86c0,39.57433 -32.09233,71.66667 -71.66667,71.66667c-39.57433,0 -71.66667,-32.09233 -71.66667,-71.66667c0,-39.57433 32.09233,-71.66667 71.66667,-71.66667c39.57433,0 71.66667,32.09233 71.66667,71.66667z" fill="#10a74f"></path><path d="M125.78217,92.80117l-11.1155,11.1155l-29.03217,-27.95358l-28.30117,27.95358l-11.1155,-11.1155l39.41667,-39.05117z" fill="#ffffff"></path></g></g></svg>
              </div>
              <div *ngIf="aquaValue.value.up === false"
                   class="_icon"
              >
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="16" height="16"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M157.66667,86c0,39.57433 -32.09233,71.66667 -71.66667,71.66667c-39.57433,0 -71.66667,-32.09233 -71.66667,-71.66667c0,-39.57433 32.09233,-71.66667 71.66667,-71.66667c39.57433,0 71.66667,32.09233 71.66667,71.66667z" fill="#e74c3c"></path><path d="M125.78217,79.19883l-11.1155,-11.1155l-29.03217,28.66667l-28.30117,-28.66667l-11.1155,11.1155l39.41667,39.41667z" fill="#ffffff"></path></g></g></svg>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sq-testcase-chart__card-content">
      <div class="sq-testcase-chart__card-content-title">
        Spectrum
      </div>
      <div class="sq-testcase-chart__card-content-chart">
        <ux-highchart [model]="_spectrumChart?.chartModel">
        </ux-highchart>
      </div>
    </div>
  </div>

  <div class="sq-testcase-chart__card">
    <div class="sq-testcase-chart__card-head _title">
      PVQA results
    </div>
    <div class="sq-testcase-chart__card-content">
      <table>
        <tbody>
          <tr>
            <td class="_label">MOS</td>
            <td class="_value">
              <div class="_row">
                <div class="_level" [ngClass]="_pvqaReportVisual?.mosStyle"></div>
                {{_pvqaReportVisual?.mos_pvqa}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sq-testcase-chart__card-content">
      <div class="sq-testcase-chart__card-content-chart">
        <ux-highchart [model]="_pvqaStatChart?.chartModel">
        </ux-highchart>
      </div>
    </div>
  </div>
</div>
