.sq-device-link-new-test-popup {

  & .sq-overlay-popup__footer {
    justify-content: space-between;
  }

  &__footer {

    &-message {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: #b1b1b1;

      & ._error {
        .font-bold-small;
        color: @primary-error-color;
      }
    }

    &-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > * {
        margin: 0 10px 0 10px;
      }

      & > *:first-child {
        margin: 0 10px 0 0;
      }

      & > *:last-child {
        margin: 0 0 0 10px;
      }
    }
  }
}
