.sq-devices-list {
  display: flex;
  flex-direction: column;

  &__wrapper {
    .flat_border;
    background-color: @default-background-color;

    padding: 16px 16px 16px 16px;

    & .ux-toolbar-left {
      width: 50%;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0;

    &-items {

    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & .ux-paging {
      width: auto;
    }

    & .ux-paging__navigation {
      margin: 0 32px 0 0;
    }
  }
}
