@import "../../../common/common-vars.less";
@import "../../../common/component-states.less";

.ux-navigation-button {
    &__button {
        display: inline-flex;
        position: relative;
        height: 32px;
        align-items: center;

        &._disabled, &:active._disabled {
          .state_disabled;
        }

        &._locked, &:active._locked {
            .state_locked;
        }

        &._type-back {
            padding: 0 25px 0 31px;

            &._no-text {
                padding-right: 2px;
            }
        }

        &._type-next {
            padding: 0 32px 0 23px;

            &._no-text {
                padding-left: 1px;
            }
        }
    }

    &._full-width &__button {
        width: 100%;
        justify-content: center;
    }

    &__text {
        position: relative;
        .font-regular;
        line-height: 1.21;
      margin: 0 auto;
    }

    &__border-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        fill: none;

        &-part {
            fill: inherit;
            position: absolute;
            transition: background-color 0.2s ease, fill 0.2s ease;

            &._tail {
                top: 0;
                width: 6px;
                height: 32px;
            }

            &._body {
                top: 0;
                bottom: 0;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            &._nose {
                top: 0;
                width: 19px;
                height: 32px;
            }
        }
    }

    &__button._type-back &__border-image-part {
        &._tail {
            right: 0;
        }

        &._body {
            left: 18px;
            right: 5px;
        }

        &._nose {
            left: 0;
        }
    }

    &__button._type-next &__border-image-part {
        &._tail {
            left: 0;
        }

        &._body {
            right: 18px;
            left: 5px;
        }

        &._nose {
            right: 0;
        }
    }

    &__outline-image {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        opacity: 0;
        transition: opacity 0.2s linear;
        stroke: @primary-warning-color;
        stroke-width: 2;

        &-part {
            fill: none;
            position: absolute;
            transition: stroke 0.2s ease, border-color 0.2s ease;

            &._tail {
                top: 0;
                width: 10px;
                height: 40px;
            }

            &._body {
                top: 0;
                bottom: 0;
                border-top: 2px solid @primary-warning-color;
                border-bottom: 2px solid @primary-warning-color;
            }

            &._nose {
                top: 0;
                width: 23px;
                height: 40px;
            }
        }
    }

    &__button._type-back &__outline-image-part {
        &._tail {
            right: 0;
        }

        &._body {
            left: 22px;
            right: 9px;
        }

        &._nose {
            left: 0;
        }
    }

    &__button._type-next &__outline-image-part {
        &._tail {
            left: 0;
        }

        &._body {
            left: 9px;
            right: 22px;
        }

        &._nose {
            right: 0;
        }
    }

    &__button:not(:disabled):focus &__outline-image {
        opacity: 1;
        stroke: @primary-background-color; /*!-designToken-state-action-focus-active-border-color*/

        &-part._body {
            border-color: @primary-background-color; /*!-designToken-state-action-focus-active-border-color*/
        }
    }

    &__button:not(:disabled):hover &__outline-image {
        opacity: 1;
        stroke: @primary-warning-color; /*!-designToken-state-hover-active-border-color*/

        &-part._body {
            border-color: @primary-warning-color; /*!-designToken-state-hover-active-border-color*/
        }
    }

    &__button._kind-default &__border-image {
        stroke: @default-border-color;
        fill: @main-background-color;

        &-part._body {
            border-color: @default-border-color;
            background-color: @main-background-color;
        }
    }

    &__button:not(:disabled):active._kind-default &__border-image {
        stroke: @default-border-color;
        fill: @default-background-color;

        &-part._body {
            background-color: @default-background-color;
        }
    }

    &__button._kind-primary & {
        &__text {
            color: @main-background-color;
        }

        &__border-image {
            stroke: @primary-border-color;
            fill: @primary-border-color;

            &-part._body {
                border-color: @primary-border-color;
                background-color: @primary-border-color;
            }
        }
    }

    &__button:not(:disabled):active._kind-primary &__border-image {
        stroke: @primary-active-border-color;
        fill: @primary-active-border-color;

        &-part._body {
            background-color: @primary-active-border-color;
        }
    }

    .ux-toolbar & + &,
    .ux-toolbar .ux-button + &,
    .ux-toolbar .ux-multiple-button + & {
        margin-left: 8px;
    }
}
