@import "../../../common/color-vars.less";
@import "../../../common/common-vars.less";
@import "../../../common/mixins.less";

.calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-height: 0;

    &-header {
        margin-bottom: 15px;
    }

    &-body {
        position: relative;
        width: 252px;
        height: 290px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid @default-color;
        border-radius: 2px;
        background-color: @main-background-color; /*!-designToken-date-field-calendar-body-background-color*/
    }

    &__month {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: ~'calc(100% + 20px)';
        overflow: auto;
        transform: translate3d(0, 0, 0);
    }

    &-months-wrapper,
    &-years-wrapper {
        flex: 1 1 auto;
    }

    &__week,
    &__week-header {
        display: flex;
        flex: 1 0 auto;
    }

    &__week {
        align-items: center;
        padding: 0 14px;

        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 8px;
        }

        &:hover {
            background-color: @default-background-color;
        }
    }

    &__week-header {
        padding: 2px 14px 6px 14px;
        border-bottom: 1px solid @primary-background-color; /*!-designToken-date-field-calendar-week-header-border-width solid -designToken-date-field-calendar-week-header-border-color*/
        background-color: @default-background-color; /*!-designToken-date-field-calendar-week-header-background-color*/
    }

    &__day-header {
        width: ~'calc(100% / 7)';
        min-width: ~'calc(100% / 7)';
        padding: 0 4px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px; /*!-designToken-date-field-calendar-day-header-font-size*/
        line-height: 16px;
        color: @primary-icon-color; /*!-designToken-date-field-calendar-day-header-color*/

        &:first-child {
            color: @primary-error-color;
        }
    }

    &__day {
        display: flex;
        justify-content: center;
        align-items: center;
        width: ~'calc(100% / 7)';
        min-width: ~'calc(100% / 7)';
        padding: 6px;
        color: @main-text-color; /*!-designToken-date-field-calendar-day-color*/
        opacity: 0.5;
        height: 28px;
        text-align: center;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;

        &._visible-month {
            opacity: 1;
        }

        &._current {
            color: @main-text-color; /*!-designToken-date-field-calendar-day-current-color*/
            background-color: @primary-warning-color; /*!-designToken-date-field-calendar-day-current-background-color*/
            opacity: 1;
        }

        &:not(._disabled):hover {
            background-color: @default-warning-color; /*!-designToken-date-field-calendar-day-hover-background-color*/
        }

        &._disabled {
            color: @main-text-color; /*!-designToken-date-field-calendar-day-disabled-color*/
            opacity: 0.2;
            cursor: default;

            &._clicked {
                background-color: @default-warning-color;
            }
        }

        &._range,
        &._range-middle {
            color: @main-text-color;
            background-color: @primary-info-color;
            opacity: 1;
        }

        &._range-middle {
            background-color: @default-info-color;
        }
    }

    &__panel {
        font-size: 12px;

        &-dates {
            display: flex;
            width: 100%;
            padding: 12px 18px;
            background-color: @default-background-color; /*!-designToken-date-field-calendar-panel-dates-background-color*/
        }

        &-month, &-year {
            margin-right: 4px;
            font-size: 13px; /*!-designToken-date-field-calendar-panel-month-year-font-size*/
            color: @primary-color; /*!-designToken-date-field-calendar-panel-month-year-color*/
            cursor: pointer;
            padding: 4px 0;

            &:hover {
                text-decoration: underline;
            }
        }

        &-prev,
        &-next {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;

            &-icon {
                width: 9px;
                height: 12px;
                position: absolute;
                top: 3px;
                left: 6px;
                fill: @default-dark-color;
            }

            &:hover &-icon {
                fill: @primary-warning-color;
            }
        }

        &-next {
            &-icon {
                left: 5px;
                transform: rotate(-180deg);
            }
        }

        &-current {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 38px;
            color: @main-text-color; /*!-designToken-date-field-calendar-panel-current-color*/

            &-info-from + &-info {
                margin-left: 4px;
            }

            &-info._no-select {
                color: @default-icon-color;
            }
        }
    }

    &-months-wrapper,
    &-years-wrapper {
        display: none;
        position: relative;
    }

    &-months {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 8px 12px;

        &-wrapper {
            z-index: 1;
        }

        &__month {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 33.333%;
            height: 46px;
            font-size: 12px;
            color: @main-text-color;
            cursor: pointer;

            &:hover {
                background-color: @default-warning-color; /*!-designToken-date-field-calendar-month-hover-background-color*/
            }

            &._current {
                color: @main-text-color; /*!-designToken-date-field-calendar-month-current-color*/
                background-color: @primary-warning-color; /*!-designToken-date-field-calendar-month-current-background-color*/
            }

        }
    }

    &-years {
        display: flex;
        flex-wrap: wrap;
        width: ~'calc(100% + 20px)';
        justify-content: center;
        max-height: 250px;
        overflow: auto;

        &-wrapper {
            overflow: hidden;
            border-top: 1px solid @primary-background-color;
        }

        &__year {
            width: 56px;
            height: 46px;
            font-size: 12px;
            line-height: 46px;
            text-align: center;
            color: @main-text-color;
            cursor: pointer;

            &:hover {
                background-color: @default-warning-color; /*!-designToken-date-field-calendar-year-hover-background-color*/
            }

            &._current {
                color: @main-text-color; /*!-designToken-date-field-calendar-year-current-color*/
                background-color: @primary-warning-color; /*!-designToken-date-field-calendar-year-current-background-color*/
            }

            &-arrow {
                &-prev,
                &-next {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 40px;
                    background-color: @main-background-color;
                    transition: all 0.2s;
                    z-index: 2;
                    cursor: pointer;
                    border-radius: 4px 4px 0 0;

                    // don't remove
                    //display: flex;
                    justify-content: center;
                    align-items: center;

                    &-icon {
                        width: 24px;
                        height: 24px;
                    }

                    &:hover {
                        background-color: @default-background-color;
                    }
                }

                &-prev {
                    bottom: 0;
                    top: auto;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
