.date-base() {
    display: block;

    .state_focus-passive(relative, 0px);

    &:after {
        z-index: -1;
    }

    &._focused {
        .state_focus-active(0px);
    }

    &__input, &__input[type=text] {
        .state_default;
        display: flex;
        min-width: 100%;
        padding-right: 32px;

        &:hover:not(:disabled), &:hover:not(._disabled) {
            .state_hover;
        }

        &:active:not(:disabled), &:active:not(._disabled) {
            .state_active;
        }

        &:disabled, &:active:disabled, &._disabled, &:active._disabled {
            .state_disabled;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &._disabled &__calendar-icon {
        cursor: default;
    }

    &__content-wrapper {
        display: flex;

        &:focus {
            outline: none;
        }
    }

    &__calendar {
        z-index: 502;
        user-select: none;
        .font-regular;

        &-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 32px;
        }

        &-icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 32px;
            fill: @default-icon-color; /*!-designToken-date-field-icon-color*/
            fill-rule: evenodd;
            stroke: none;
            overflow: hidden;
            opacity: 0.5;
            cursor: pointer;
            z-index: 10;

            &._visible .ux-date-field__icon > :first-child,
            &._visible .ux-range-date-field__icon > :first-child {
                fill: @primary-warning-color; /*!-designToken-date-field-icon-active-color*/
            }
        }
    }

    &__icon-svg {
        width: 18px;
        height: 18px;
        display: block;
    }
}
