@import "../../../common/component-states.less";
@import "../../../common/color-vars.less";
@import "../../../common/mixins.less";
@import "./date-mixins.less";
@import "./calendar.less";

.ux-range-date-field {
    min-width: 228px;

    .date-base();

    &__input, &__input[type=text] {
        flex: 1 1 auto;
        min-width: 0;
        height: 30px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 1px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        text-align: center;
    }

    &__calendar-wrapper,
    &__calendar-icon-wrapper {
        width: 38px;
    }

    &__calendar {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: @main-background-color;
        min-height: 0;
    }

    &__range {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 32px;
        padding: 0 38px 0 10px;
        .default_field_border();
        background-color: @main-background-color; /*!-designToken-range-date-field-range-background-color*/

        &-separator {
            padding: 0 5px;
        }
    }

    &._error &__range {
        .state_error;
        padding: 0 37px 0 9px; 
    }

    &._disabled &__range-separator,
    &._disabled &__calendar-wrapper,
    &._disabled &__calendar-icon-wrapper {
        .state_disabled();
    }
}

