@import "../../common/common-vars.less";

.ux-route-tab-panel-header-dropdown {
    position: relative;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.2s, visibility 0s;

    &._active &__icon,
    &._active &__list {
        background-color: @default-background-color;
        border: 1px solid @default-border-color;
    }

    &._active &__icon>:first-child {
        opacity: 1;
    }

    &._active &__icon:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 3px;
        background-color:  @default-background-color;
    }

    &._visible,
    &._active &__list {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s;

        .ux-route-tab-panel._light-font & {
            transform: translate3d(0, 0, 0);
        }
    }

    &._right &__list {
        left: 0;
        right: auto;
    }

    &__item {
        display: none;

        &._visible {
            display: block;
        }
    }

    &__link,
    &__link:hover,
    &__link:visited {
        display: block;
        position: relative;
        padding: 0 20px;
        .font-bold;
        line-height: 32px;
        text-decoration: none;
        color: @main-text-color;
        white-space: nowrap;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            transition: background-color 0.2s ease;
            z-index: 1;
        }

        &:hover:before {
            background-color: @default-info-color;

            .ux-route-tab-panel._light-font & {
                background-color: @default-warning-color;
            }
        }

        &._selected:before {
            background-color: @primary-color;

            .ux-route-tab-panel._light-font & {
                background-color: @primary-warning-color;
            }
        }
    }

    &__icon {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        transition: background-color 0.2s;
        user-select: none;
        z-index: 10;

        .ux-route-tab-panel._light-font & {
            width: 41px;
            height: 41px;
        }

        &>:first-child {
            width: 16px;
            height: 16px;
            fill: @default-dark-color;
            opacity: 0.8;
        }

        .ux-route-tab-panel._light-font &>:first-child {
            width: 18px;
            height: 18px;
            fill: @default-background-color;
            transform: translate3d(0, -2px, 0);
        }

        &:hover>:first-child {
            opacity: 1;
        }
    }

    .ux-route-tab-panel._light-font &._active &__icon>:first-child {
        fill: @default-dark-color;
    }
}
