@import "../../common/common-vars.less";
@import "./route-tab-panel-header-dropdown.component.less";

.ux-route-tab-panel {
    display: flex;
    width: 100%;
    background-color: transparent; /*!-designToken-route-tab-panel-background-color*/

    &._header-border {
        border-bottom: 1px solid @default-border-color; /*!-designToken-route-tab-panel-header-border-size solid -designToken-route-tab-panel-header-border-color*/
    }

    &-header {
        display: flex;
        position: relative;
        align-self: flex-end;
        flex-wrap: nowrap;
        overflow: visible;
        max-width: 0;
        min-width: 50px;

        ._light-font & {
            padding: 15px 6px 0;
        }

        &__item {
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            text-decoration: none;
            line-height: 32px;
            .font-bold;
            margin-right: 30px;
            background-color: transparent; /*!-designToken-route-tab-panel-item-background-color*/

            &:last-child {
                margin-right: 0;
            }

            &-inner {
                color: @main-text-color; /*!-designToken-route-tab-panel-item-inner-color*/
                background-color: transparent; /*!-designToken-route-tab-panel-item-inner-background-color*/
                padding-bottom: 5px;

                ._light-font & {
                    padding-bottom: 9px;
                    color: @main-background-color; /*!-designToken-route-tab-panel-item-inner-light-font-color*/
                }
            }

            &-title {
                vertical-align: top;
                display: block;
                text-align: center;
            }

            ._light-font & {
                .font-regular;
                color: @main-background-color;  /*!-designToken-route-tab-panel-item-light-font-color*/
            }

            &._hidden {
                display: none;
            }

            &:first-child {
                padding-left: 0;
            }

            &._selected,
            &._selected:hover {
                cursor: default;
            }

            &-inner {
                text-decoration: none;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 4px;
                    transition: background 0.2s ease;
                    z-index: 1;
                }
            }

            &._selected &-inner:after {
                background: @primary-color; /*!-designToken-route-tab-panel-active-item-color*/

                ._light-font & {
                    background: @primary-warning-color; /*!-designToken-route-tab-panel-active-item-light-font-color*/
                }
            }

            &:not(._selected):hover &-inner:after {
                background: @default-info-color; /*!-designToken-route-tab-panel-inactive-item-hover-background*/

                ._light-font & {
                    background: @default-warning-color; /*!-designToken-route-tab-panel-inactive-item-hover-light-font-background*/
                }
            }
        }
    }
}
