@import "../../common/common-vars.less";

.ux-sidebar {
  &__control:not(._custom)>:first-child {
    width: 24px;
    height: 24px;
    fill: @main-color;
    cursor: pointer;
  }

  &__panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    transform: translate3d(-220px,0,0);
    transition: transform .3s ease;
    z-index: 10000;
    background-color: @default-background-color;
    border-right: 1px solid @default-border-color;

    &._active {
      transform: translate3d(0,0,0);
    }

    &-content {
      flex: 1 1 100%;
      transform: translate3d(0, 0, 0);
    }
  }

  &__animated-element {
    display: block;
    transform: scale3d(.8,.9,1);
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;

    &._active {
      display: block;
    }
  }

  &__overflow {
    overflow: hidden !important;
  }
}
