@import "../../common/color-vars.less";
@import "../../common/font-vars.less";
@import "../../common/mixins.less";

.ux-table-header {
    display: block;
    margin-bottom: 5px;

    &__title {
        margin: 0 auto 0 0;
        padding-right: 61px;
        font-size: 22px;
        line-height: 36px;
        text-align: left;
        color: @main-text-color;
        white-space: nowrap;
        transform: translate3d(0, 1px, 0);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 1;
    }

    &__block {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        margin: 0 44px 0 0;
        padding: 9px 0;

        &-item {
            display: flex;
            position: relative;
            padding: 0 37px 0 20px;
            .font-regular-small;
            line-height: 22px;
            border-radius: 12px;
            color: inherit; /*!-designToken-table-header-info-item-color*/
            background-color: @main-background-color; /*!-designToken-table-header-info-item-background-color*/
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
            border: solid 1px @default-border-color;
            cursor: pointer;

            & + & {
                margin-left: 8px;
            }
        }

        &-cross {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 11px;
            margin-top: -10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: opacity 0.2s;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        &-text {
            white-space: nowrap;
        }

        &-svg {
            fill: @default-dark-color;
            width: 16px;
            height: 16px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        padding: 9px 0;
    }
}
