@import "../../common/color-vars.less";
@import "../../common/font-vars.less";
@import "../../common/mixins.less";

.ux-table {
    display: block;
    position: relative;
    font-size: 14px;

    &._resizable>&__ux-scroll {
        position: absolute;
        top: 41px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__header {
        border-radius: 4px; /*!-designToken-table-header-border-radius*/
        background-color: @header-background-color; /*!-designToken-table-header-background-color*/
        color: @main-text-color; /*!-designToken-table-header-color*/

        &._scroll {
            //padding-right: 12px;
        }
    }

    &__body {
        &-shadow {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 80px;
            background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.8) 100%);
            pointer-events: none;
            z-index: 1;
            .visibility-transition();
        }

        margin-right: 1px;
    }

    &__ux-scroll._scroll &__body {
        margin-right: 16px;
    }

    &__row {
        display: flex;
        position: relative;
        padding: 0 6px;
        cursor: pointer;
        min-height: 40px;
        border: 2px solid transparent; /*!-designToken-table-row-border-width solid -designToken-table-row-border-color*/

        &._header {
            align-items: normal;
            height: 36px;
            min-height: 36px;
            .font-regular-small;
            cursor: default;
            border: 2px solid transparent; /*!-designToken-table-row-header-border-width solid -designToken-table-row-header-border-color*/
            border-top: none;
            border-bottom: none;
        }

        &:not(._header):hover {
            border-color: @primary-warning-color;
        }

        &:not(._header):after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &._last {
            position: relative;
            z-index: 1;
        }
    }

    &__row:hover &__pin {
        opacity: 1;
    }

    &__column {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        /* fix for ie 11 */
        min-height: 36px;

        &._link {
            position: relative;
            z-index: 1;
        }

        &._sort {
            cursor: pointer;
        }

        &._header {

          & > ._resizer {
            width: 4px;
            border-left: ridge 1px @default-info-color;
            border-right: ridge 1px @default-info-color;
            position: absolute;
            right: 4px;
            height: 80%;
            cursor: col-resize;
          }
        }

        &._checkbox {
            border-bottom-color: transparent;
        }

        &-text {
            transition: font-weight 0.2s;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @main-text-color;
            font-size: 14px;

          ._header > & {
            color: @header-text-color;
          }
        }

        &._asc &-text,
        &._desc &-text {
            font-weight: 700;
        }

        &._checkbox {
            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                z-index: 2;
                cursor: pointer;
            }
        }
    }

    &__pin {
        display: none;
        width: 20px;
        height: 20px;
        margin-left: 15px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;

        &._pinnable {
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: initial;
        }

        &._pinned {
            opacity: 1;
            pointer-events: initial;
        }

        &-svg {
            fill: @default-active-color;
            width: 16px;
            height: 16px;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        margin-left: 5px;
        cursor: pointer;

        &._opened {
            background-color: @default-active-color;
            border-radius: 4px;
            box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.07);
        }

        &-svg {
            width: 12px;
            height: 12px;
            fill: @default-active-color; /*!-designToken-table-filter-svg-color*/
        }

        &._filtered &-svg {
            fill: @primary-color; /*!-designToken-table-filtered-svg-color*/
        }

        &._opened &-svg {
            fill: @main-background-color;
        }
    }

    &__sort {
        display: none;
        width: 12px;
        height: 14px;
        margin-left: 7px;

        &-svg {
            width: 12px;
            height: 14px;
            fill: @primary-color;
        }
    }

    &__column._asc &__sort {
        display: block;
        transform: rotate(-180deg);
    }

    &__column._desc &__sort {
        display: block;
    }

    .visibility-transition-config(0.2s, ~"__sort", ~"__column._asc .ux-table__sort, .ux-table__column._desc .ux-table__sort");

    &__link {
        position: relative;
        .font-regular;
        color: @primary-active-color;
        line-height: 1.2;

        &:hover {
            text-decoration: underline;
        }
    }

    &__virtual-scroll {
        display: block;
        overflow: visible !important;
        overflow-y: visible !important;
    }

    &__empty-content {
        padding: 15px 0;
        text-align: center;
        color: @main-text-color;
    }

    &__disable-pointer-events {
        pointer-events: none !important;
    }
}
