@import "../../common/common-vars.less";
@import "../../common/color-vars.less";
@import "../../common/font-vars.less";
@import "../../common/component-states.less";

@button-padding-lr: 23px;
@button-icon-width: 30px;

.ux-button {
  position: relative;
  display: inline-block;

  &._full-width {
    width: 100%;
  }

  &__button {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 @button-padding-lr;
    border: 1px solid transparent;
    border-radius: 4px; /*!-designToken-button-border-radius*/
    box-shadow: 0 1px 1px 0 @default-border-shadow-color; /*!-designToken-button-box-shadow*/
    transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    .state_focus-passive(relative);

    &._kind-default {
      border: 1px solid @default-border-color; /*!-designToken-button-default-border-size solid -designToken-button-default-border-color*/
      background-color: @main-background-color; /*!-designToken-button-default-background-color*/
      color: @main-text-color; /*!-designToken-button-default-color*/

      &:active:not(:disabled) {
        border-color: @default-border-color; /*!-designToken-button-default-active-border-color*/
        background-color: @default-background-color; /*!-designToken-button-default-active-background-color*/
      }
    }

    &._kind-primary {
      border: 1px solid @primary-border-color; /*!-designToken-button-primary-border-size solid -designToken-button-primary-border-color*/
      background-color: @primary-color; /*!-designToken-button-primary-background-color*/
      color: @main-background-color; /*!-designToken-button-primary-color*/

      &:active:not(:disabled) {
        border-color: @primary-active-border-color; /*!-designToken-button-primary-active-border-color*/
        background-color: @primary-active-color; /*!-designToken-button-primary-active-background-color*/
      }
    }

    &._disabled, &:active._disabled {
      .state_disabled;
    }

    &._locked, &:active._locked {
      .state_locked;
    }

    &:focus:not(:disabled) {
      .state_action-focus-active();
    }

    &:hover:not(:disabled) {
      .state_hover-active();
    }

    &._with-icon {
      padding-left: @button-icon-width;
    }

    &._with-icon._no-text {
      padding-right: 0;
    }
  }

  &._full-width &__button {
    width: 100%;
    justify-content: center;
  }

  &._size-m &__button {
    height: 40px;
  }

  &__text {
    .font-regular();
    line-height: 1.21;
    margin: 0 auto;
  }

  &__icon {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

    & > :first-child {
      width: 20px;
      height: 20px;
      fill-rule: evenodd;
      stroke: none;
      overflow: hidden;
    }

    &_white > :first-child {
      fill: @main-background-color;
    }

    &_black > :first-child {
      fill: @main-color;
    }
  }

  .ux-table-header & + &,
  .ux-table-header .ux-multiple-button + &,
  .ux-toolbar & + &,
  .ux-toolbar .ux-multiple-button + & {
    margin-left: 8px;
  }
}
