.sq-results-full-list {
  display: flex;
  flex-direction: column;

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: row;

      &-button {
        padding: 0 16px 0 0;
      }

      &-search {
        margin: 0 2.6em 0 0;
        width: 20em;
      }
    }
  }

  &-table {
    display: flex;
    flex-direction: column;

    &__functions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__function {
      &._icon {
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin: 8px 16px 8px 16px;
        opacity: 0.8;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      &._delete {
      }

      &._chart {
      }

      &._error {
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      & .ux-paging {
        width: auto;
      }

      & .ux-paging__navigation {
        margin: 0 32px 0 0;
      }
    }




    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 50px;

      &-item {
        margin: 0 16px 0 0;
      }
    }

    & > .ux-table {
      width: 100%;

      & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 1 15%; min-width: 15%;}
        &:nth-of-type(2) {  flex: 0 1 15%; min-width: 15%;}
        &:nth-of-type(3) {  flex: 0 1 70%; min-width: 15%; width: ~'calc(70% - 790px)';}
        &:nth-of-type(4) {  flex: 0 1 200px; min-width: 200px}
        &:nth-of-type(5) {  flex: 0 1 100px; min-width: 100px}
        &:nth-of-type(6) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(7) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(8) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(9) {  flex: 0 1 120px; min-width: 120px;}
        &:nth-of-type(10) {  flex: 0 0 112px; min-width: 112px;}
      }
    }

    & > .ux-paging {
      margin: 40px 0 40px 0;
    }
  }
}
