.sq-results-report-pvqa {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.breadcrumbs {
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 0 0;

    &-message {
    }
  }

  &__table {
    &-header {
    }
    &-body {

      & > .ux-table {
        width: 100%;
      }

      & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 0 12%; min-width: 12%;}
        &:nth-of-type(2) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(3) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(4) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(5) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(6) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(7) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(8) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(9) {  flex: 0 0 9.5%; min-width: 9.5%;}
        &:nth-of-type(10) {  flex: 0 0 ~'calc(12% - 40px)'; min-width: ~'calc(12% - 40px)';}
        &:nth-of-type(11) {
          flex: 0 1 40px;
          min-width: 40px;
          width: 40px;
          max-width: 40px;
          justify-content: flex-end;
        }
      }
    }
  }
}
