.sq-results-report-aqua {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.breadcrumbs {
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 0 0;

    &-message {
    }
  }

  &__table {
    margin: 0 0 40px 0;

    &-header {
    }
    &-body {

      & > .ux-table {
        width: 100%;
      }

      .qualityResultsTable & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 0 40px; min-width: 40px;}
        &:nth-of-type(2) {  flex: 0 0 15%; min-width: 15%;}
        &:nth-of-type(3) {  flex: 0 0 ~'calc(85% - 40px)'; min-width: ~'calc(85% - 40px)';}
      }

      .reasonsTable & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 0 40px; min-width: 40px;}
        &:nth-of-type(2) {  flex: 0 0 ~'calc(100% - 40px)'; min-width: ~'calc(100% - 40px)';}
      }

      .valuesTable & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 0 40px; min-width: 40px;}
        &:nth-of-type(2) {  flex: 0 0 20%; min-width: 20%;}
        &:nth-of-type(3) {  flex: 0 0 20%; min-width: 20%;}
        &:nth-of-type(4) {  flex: 0 0 20%; min-width: 20%;}
        &:nth-of-type(5) {  flex: 0 0 ~'calc(40% - 40px)'; min-width: ~'calc(40% - 40px)';}
      }

      .spectrumTable & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 0 40px; min-width: 40px;}
        &:nth-of-type(2) {  flex: 0 0 30%; min-width: 30%;}
        &:nth-of-type(3) {  flex: 0 0 ~'calc(70% - 40px)'; min-width: ~'calc(70% - 40px)';}
      }
    }
  }
}
