@import "../../../common/component-states.less";
@import "../../../common/mixins.less";

.ux-text-field {
    display: block;

    .state_focus-passive(relative, 0px);

    &._focused {
        .state_focus-active(0px);
    }

    &__input {
        position: relative;
        z-index: 1;
        .state_default;
        color: @main-text-color; /*!-designToken-text-field-color*/
        background-color: @main-background-color; /*!-designToken-text-field-background-color*/
        border-width: 1px solid @default-border-color; /*!-designToken-text-field-border-width solid -designToken-text-field-border-color*/
        border-radius: 4px; /*!-designToken-text-field-border-radius*/
        .field-placeholder-default;

        &:hover:not(:disabled), &:hover:not(._disabled) {
            .state_hover;
        }

        &:active:not(:disabled), &:active:not(._disabled) {
            .state_active;
        }

        &:disabled, &:active:disabled, &._disabled, &:active._disabled {
            .state_disabled;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &._error &__input {
        .state_error;
    }

    &._height-m &__input,
    &._size-m &__input {
        height: 40px;
        font-size: 18px; /*!-designToken-text-field-font-size-m*/
    }
}
