@import "../../../../common/color-vars.less";

.ux-reference-field-toolbar {
    background-color: @default-background-color;
    border-bottom: 1px solid @default-border-color;
    height: 32px;
    padding: 0 7px;

    display: flex;
    align-items: center;
}
