@import "../../common/color-vars.less";
@import "../../common/font-vars.less";

.ux-label {
    .font-regular;
    display: flex;
    flex-direction: column;

    &._align-left {
        flex-direction: row;
    }

    &__text {
        padding-bottom: 4px;
        color: @default-active-color; /*!-designToken-label-text-color*/
    }

    &._error > &__text {
        color: @primary-error-color;
    }


    &._align-left &__text {
        padding: 6px 20px 0 0;
    }

    &__optional {
        font-size: 12px;
        color: @default-active-color; /*!-designToken-label-optional-color*/
    }

    &._dark &__text {
        color: @main-color; /*!-designToken-label-dark-text-color*/
    }

    &._required &__text {
        position: relative;
        padding-left: 10px;

        &:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: @primary-error-color; /*!-designToken-label-required-background-color*/
            top: 8px;
            position: absolute;
            left: 1px;
        }
    }
}
