@import "../../common/color-vars.less";
@import "../../common/common-vars.less";
@import "../../common/mixins.less";

.ux-header {
    display: flex;
    height: 56px;
    min-height: 56px;
    padding: 0 30px 0 40px;
    color: @main-background-color;
    background-color: @header-background-color; /*!-designToken-header-background-color*/
    border-bottom: solid 1px #0091dc;

    &__logo {
        display: inline-block;
        width: 178px;
        height: 40px;
        margin-right: 36px;
        background-image: url(/assets/images/icons/logo-sevana-178x40.png);
        background-repeat: no-repeat;
    }

    &__inner {
        display: flex;
        width: 100%;
    }
}
