@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";

.ux-router-link {
    display: block;

    &__ref {
        padding: 10px 12px 0;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;

        &, &:visited, &:not(:visited) {
            color: @main-background-color;
        }

        &-content {
            padding: 0 6px 0 0;
            line-height: 42px;
            transition: border 300ms ease;
            border-bottom: 4px solid transparent;
        }

        &:hover &-content {
            border-bottom-color: @primary-warning-color;
        }

        &._active {
            cursor: default;
        }

        &._active &-content {
            border-bottom-color: @primary-warning-color;
        }
    }
}
