.ux-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &._mobile {
        flex-wrap: wrap;
        transform: translate3d(0, -20px, 0);
        margin-bottom: -20px;
    }

    /*TODO Remove in 2.0.0*/
    &__left {
        float: left;
    }

    &__right {
        float: right;
    }
    /*********/
}
