@import "../../../common/color-vars.less";

.ux-circular-loader {
  display: block;
  width: 24px;
  height: 24px;
  fill: @primary-error-color;

  &._absolute {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: ~"calc(50% - 12px)";
    left: ~"calc(50% - 12px)";
  }

  &__svg {
    height: 100%;
    width: 100%;
  }

  &__loader {
    fill: @primary-color;
  }

  &__back {
    fill: transparent;
    stroke-width: 2;
    stroke: @primary-active-color;
  }

  &._blue &__loader {
    fill: @primary-color;
  }
  &._blue &__back {
    stroke: @primary-active-color;
  }

  &._white &__loader {
    fill: @main-background-color;
  }
  &._white &__back {
    stroke: @main-background-color;
  }

  &._grey &__loader {
    fill: @default-color;
  }
  &._grey &__back {
    stroke: @default-active-color;
  }

}
