<div class="ux-multiple-menu__title"
     *ngIf="!model?.template">
    {{model?.title}}
</div>


<ux-scroll
            #scroll
            class="ux-multiple-menu__list-wrapper"
           *ngIf="!model?.template"
>
    
<ul class="ux-multiple-menu__list">

    <li class="ux-multiple-menu__list-item"
        [ngClass]="{
            '_active': link.showChild
        }"
        *ngFor="let link of model?.links; trackBy: _trackByFn">

        <a *ngIf="link?.url"
           [href]="link?.url"
           [ngClass]="{
                '_simple': !link?.url,
                'ux-multiple-menu__link': true,
                '_active': link.showChild
           }"
           (mouseenter)="_onLinkMouseEnter(link, $event)"
           (mouseleave)="_onLinkMouseLeave(link, $event)"
           (click)="_onMenuLinkClick(link, $event)"
        >
            <ng-template
                    [ngTemplateOutlet]="linkTemplate"
                    [ngTemplateOutletContext]="{link: link}"
            ></ng-template>
        </a>

        <span
                *ngIf="!link?.url"
                tabindex="0"
                [ngClass]="{
                '_active': link.showChild,
                'ux-multiple-menu__content': true
           }"
                (mouseenter)="_onLinkMouseEnter(link, $event)"
                (mouseleave)="_onLinkMouseLeave(link, $event)"
                (click)="_onMenuLinkClick(link, $event)"
        >
             <ng-template
                     [ngTemplateOutlet]="linkTemplate"
                     [ngTemplateOutletContext]="{link: link}"
             ></ng-template>
        </span>

    </li>

</ul>

</ux-scroll>

<ux-scroll class="ux-multiple-menu__custom-content"
           *ngIf="model?.template"
>
    <ng-template
            #customTemplate
            [ngTemplateOutlet]="model?.template"
            [ngTemplateOutletContext]="{templateModel: model?.templateModel}"
    ></ng-template>
</ux-scroll>


<ng-template #linkTemplate let-link="link">

     <span class="ux-multiple-menu__link-caption">
         {{link?.caption}}
     </span>

    <ux-multiple-menu
            [menuHeight]="menuHeight"
            [ngClass]="{
                        '_child': _childMenuLevel !== 0,
                        '_visible': link.showChild && _childMenuLevel !== 0
                    }"
            [model]="link?.data"
            [menuLevel]="_childMenuLevel"
            *ngIf="link?.data?.links?.length ||
                    link?.data?.template"
            (onMenuLinkClick)="onMenuLinkClick.emit($event)"
    ></ux-multiple-menu>

</ng-template>
