@main-color: #000;
@main-background-color: #fff;
@main-text-color: #262626;
@main-text-color-revert: #ffffff;

@primary-background-color: #e1e2e3;
@default-background-color: #f5f6f7;

@header-background-color: #78c4eb;
@header-text-color: #fff;

@default-color: #d4d7d9;
@default-active-color: #aaaeb3;
@default-inactive-color: #8a8d91;
@default-dark-color: #7f8387;

@default-icon-color: #92a0b3;
@primary-icon-color: #363d4d;

@primary-color: #1f8eda;
@primary-active-color: #0c6cb0;
@primary-dark-color: #022a4a;

@default-info-color: #aeddf5;
@primary-info-color: #78c4eb;

@default-success-color: #c3e8a2;
@primary-success-color: #5bc029;

@default-warning-color: #ffdf99;
@primary-warning-color: #ffbb29;

@default-error-color: #fac5af;
@primary-error-color: #f04d30;

@primary-border-color: #1b81c4;
@primary-active-border-color: #0b5f9c;

@default-border-color: #ccd2d9;
@default-active-border-color: @default-border-color;

@default-border-shadow-color: rgba(0, 0, 0, 0.06);
@default-field-border-shadow-color: rgba(0, 0, 0, 0.07);

@visited-color: #9515bf;

.default_border() {
    box-shadow: inset 0 2px 2px 0 @default-border-shadow-color;
    border: solid 1px @default-border-color;
    border-radius: 4px;
}

.default_field_shadow() {
    box-shadow: inset 0 2px 2px 0 @default-field-border-shadow-color;
}

.default_field_border() {
    .default_field_shadow;
    border: 1px solid @default-border-color;
    border-radius: 4px; /*!-designToken-default-field-border-border-radius*/
}
