@import "font-vars.less";
@import "color-vars.less";

// Sources for root
@images-src: "../../images";
@icons-src: "@{images-src}/icons";
@fonts-src: "../../fonts";

@images-field-src: "../../images";
@icons-field-src: "@{images-field-src}/icons";
@fonts-field-src: "../../fonts";


