@font-family: NotoSans, sans-serif;
@font-small-size: 12px;
@font-normal-size: 14px;
@font-medium-size: 16px;
@font-big-size: 18px;
@font-large-size: 22px;



/*base*/
.font-base() {
    font-family: @font-family; /*!-designToken-font-base-font-family*/
    font-weight: 400; /*!-designToken-font-base-font-weight*/
    font-style: normal;
    font-size: @font-normal-size; /*!-designToken-font-base-font-size*/
}
/*****/



/*font-light*/
.font-light() {
    .font-base;
    font-weight: 300; /*!-designToken-font-light-font-weight*/
}

.font-light-small() {
    .font-light;
    font-size: @font-small-size; /*!-designToken-font-light-small-font-size*/
}

.font-light-medium() {
    .font-light;
    font-size: @font-medium-size; /*!-designToken-font-light-medium-font-size*/
}

.font-light-big() {
    .font-light;
    font-size: @font-big-size; /*!-designToken-font-light-big-font-size*/
}

.font-light-large() {
    .font-light;
    font-size: @font-large-size; /*!-designToken-font-light-large-font-size*/
}
/**********/



/*font-regular*/
.font-regular() {
    .font-base;
}

.font-regular-small() {
    .font-regular;
    font-size: @font-small-size; /*!-designToken-font-regular-small-font-size*/
}

.font-regular-medium() {
    .font-regular;
    font-size: @font-medium-size; /*!-designToken-font-regular-medium-font-size*/
}

.font-regular-big() {
    .font-regular;
    font-size: @font-big-size; /*!-designToken-font-regular-big-font-size*/
}

.font-regular-large() {
    .font-regular;
    font-size: @font-large-size; /*!-designToken-font-regular-large-font-size*/
}
/**********/



/*font-bold*/
.font-bold() {
    .font-base;
    font-weight: 700; /*!-designToken-font-bold-font-weight*/
}

.font-bold-small() {
    .font-bold;
    font-size: @font-small-size; /*!-designToken-font-bold-small-font-size*/
}

.font-bold-medium() {
    .font-bold;
    font-size: @font-medium-size; /*!-designToken-font-bold-medium-font-size*/
}

.font-bold-big() {
    .font-bold;
    font-size: @font-big-size /*!-designToken-font-bold-big-font-size*/
}

.font-bold-large() {
    .font-bold;
    font-size: @font-large-size /*!-designToken-font-bold-large-font-size*/
}
/**********/
