* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

._margin_no {
    margin: 0 !important;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    &,
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
}

._page-limiter {
    max-width: 1180px;
    margin: auto;
}

button {
    padding: 0;
}

h3, h1 {
    margin: 40px 0 20px;
}

._unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}