@import "../../common/color-vars.less";
@import "../../common/common-vars.less";
@import "../../common/font-vars.less";
@import "../../common/mixins.less";

.ux-editable-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 32px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    transform: translate3d(-1px, 1px, 0);

    &._visible {
        opacity: 1;
        visibility: visible;
    }

    &-invisible-host {
        opacity: 0;
        visibility: hidden;
    }

    &._edit:after {
        width: 100%;
    }

    &__text {
        opacity: 0;
    }

    &__textarea {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 16px;
        right: 16px;
        width: ~"calc(100% - 32px)";
        padding: 10px 16px 14px;
        margin: 0;
        border: none;
        resize: none;
        outline: none;
        overflow: hidden;
    }

    &__down {
        display: none;
        opacity: 0.8;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }

        &-icon {
            width: 17px;
            height: 17px;
            margin-top: 7px;
            fill: @default-icon-color;
        }
    }

    ._ux-editable-dropdown:hover > &__down {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 32px;
        top: -1px;
        bottom: -1px;
        right: 0;
        background-color: @default-background-color;
        border: 1px solid @default-border-color;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }

    &__button {
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px @default-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 0;

        &-icon {
            width: 18px;
            height: 18px;
            opacity: 0.8;
            transition: opacity 0.3s;
        }

        &:hover &-icon {
            opacity: 1;
        }

        &._ok {
            fill: @primary-success-color;
            right: -32px;
        }
        &._cancel {
            fill: @default-icon-color;
            right: -64px;
        }
    }
}

._ux-editable-dropdown {
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    min-height: 32px;

    &:hover {
        border: 1px solid @default-border-color;
        border-radius: 4px;
        border-right: none;
    }

}
