@import "../../common/color-vars.less";
@import "../../common/font-vars.less";
@import "../../common/component-states.less";

.ux-paging {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: none;
    color: @default-dark-color;
    .font-regular-small;

    &__navigation {
        display: inline-flex;
        flex-direction: row;
    }

    &__link {
        margin: 0 6px;
        display: inline-block;
        cursor: pointer;
        text-align: center;

        &._selected {
            color: @main-color
        }
    }

    &__arrow {
        margin: 0;
        display: flex;
        align-items: center;
        width: 17px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }

        &._disabled,
        &._disabled:hover {
            opacity: 0.2;
            cursor: default;
        }

        & > :first-child {
            display: block;
            width: 12px;
            height: 12px;
        }
    }

    ._focused {
        box-shadow: none;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__info-per-page {
        margin-left: 2px;
    }

    &__info-items-shown {
        margin-right: 4px;
    }

    &__dropdown {
        display: inline-block;
    }

}
