@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";

@switch-selector-border-color: #c4c9cc;

.ux-switch-selector-field {
  position: relative;
  display: block;
  width: 100%;
  transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;

    border-top: 1px solid @default-border-color;
    border-bottom: 1px solid @default-border-color;

    height: 30px;
    align-items: center;
    border-right: 1px solid @default-border-color;
    background-color: @main-background-color; /*!-designToken-button-default-active-background-color*/

    .state_focus-passive(relative, 1px, 0);

    &:first-child {
      border-left: 1px solid @default-border-color;
      border-radius: 15px 0 0 15px;

      &:hover:after {
        border-radius: 15px 0 0 15px;
      }
    }
    &:last-child {
      border-right: 1px solid @default-border-color;
      border-radius: 0 15px 15px 0;

      &:hover:after {
        border-radius: 0 15px 15px 0;
      }
    }

    &:hover {
      cursor: pointer;
      .state_hover-active(1px, 0, 1px);
    }

    &.selected {
      background-color: @primary-info-color; /*!-designToken-button-default-active-background-color*/
    }

    &-content {
      display: flex;
      user-select: none;
    }
  }
}
