@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";
@import "../../../common/common-vars.less";
@import "../../../common/mixins.less";

@light-text-color: #ffffff;

.ux-reference-field {
    display: block;
    position: relative;
    touch-action: manipulation;

    &__wrapper {
        .state_default;
        .state_focus-passive();
        display: flex;
        flex-wrap: wrap;
        height: auto;
        min-height: 32px;
        padding: 0 0 0 28px;
        border: 1px solid @default-border-color; /*!-designToken-reference-field-border-width solid -designToken-reference-field-border-color*/
        background-color: @main-background-color; /*!-designToken-reference-field-background-color*/
        color: @main-text-color; /*!-designToken-reference-field-color*/

        &._show-dropdown {
            padding-right: 22px;
        }
    }

    &._error &__wrapper {
        .state_error;
        .state_focus-passive(relative, 2px);
        line-height: 27px;
        padding: 0 0 0 34px;

        &._show-dropdown {
            padding-right: 34px;
        }
    }

    &:active._disabled &__wrapper {
        .default_field_border;
    }

    &._disabled &__wrapper {
        .state_disabled;
    }

    &._focused:not(._disabled) &__wrapper,
    &._opened &__wrapper {
        .state_focus-active();
    }

    &._error._focused:not(._disabled) &__wrapper,
    &._error._opened &__wrapper {
        .state_focus-active(2px);
    }

    &._disabled:after {
        z-index: 2;
    }

    &._loading &__dropdown-button {
        visibility: hidden;
    }

    &._multiple {
        height: auto;
        min-height: 32px;
    }

    &__loader-wrapper {
        width: 12px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }

    &__input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 29px;
        width: 100%;
        z-index: 1;
    }

    &._multiple:not(._input-visible) &__input-wrapper {
        opacity: 0;
        left: 0;
        top: 0;
        position: absolute;
    }

    &._multiple:not(._input-visible):not(._disabled) &__input-wrapper {
        cursor: pointer;
    }

    &._multiple:not(._input-visible):not(._disabled) &__input {
        cursor: pointer;
    }

    input&__input {
        position: relative;
        width: ~'calc(100% - 24px)';
        border: none;
        background: @main-background-color; /*!-designToken-reference-field-input-background-color*/
        .font-regular;

        &._button-enabled {
            padding-right: 35px;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__dropdown-button {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 4px;
        z-index: 1;
        display: none;

        &._show-dropdown {
            display: block;
            cursor: pointer;
            vertical-align: top;

            &._disabled {
                cursor: default;
            }
        }

    }

    &__icon > :first-child {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        fill: @main-color;
        fill-rule: evenodd;
        stroke: none;
        overflow: hidden;
    }

    &._mobile &__icon > :first-child {
        transform: rotate(-90deg);
    }

    &__suggestion-item {
        cursor: pointer;
        padding: 6px 10px 4px 10px;
        line-height: 1.21;
        position: relative;
        .font-regular-medium;
        color: inherit;  /*!-designToken-reference-field-suggestion-item-color*/

        & + & {
            margin-top: 1px;
        }

        &._highlighted {
            background: @default-warning-color; /*!-designToken-reference-field-suggestion-item-hover-background*/
        }

        &._selected {
            background: @default-info-color; /*!-designToken-reference-field-suggestion-item-selected-background*/
        }

        &._highlighted._selected {
            background: @default-color; /*!-designToken-reference-field-suggestion-item-selected-hover-background*/
        }

        &-add {
            width: 40px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &-icon {
                width: 20px;
                height: 20px;
                fill: @default-border-color;
            }
        }
    }

    &._mobile &__suggestion-item {
        padding-right: 40px;
    }

    &__suggestions-popup {
        padding: 7px 0;
    }

    &__values {
        padding: 3px 0;
        overflow-x: hidden;
        width: 100%;

        &-wrapper {
            max-height: 78px;
            min-height: 100%;
            width: 100%;
            display: flex;
            z-index: 2;
            position: relative;

            .ux-scroll__inner {
                padding-right: 10px;

                /*Temporary hack to make scroll works as expected*/
                overflow-x: hidden !important;
                margin-bottom: 0 !important;
                height: 100% !important;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;
        }
    }

    &._mobile &__values-wrapper {
        max-height: 100%;
    }

    &._disabled &__value-remove:hover {
        background-color: @primary-color;
    }

    &__value {

        &-caption {
            .font-regular;
            line-height: 1.21;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:after {
                content: "";
                display: none;
                position: absolute;
                top: 0;
                right: 2px;
                width: 40px;
                height: 100%;
                background: linear-gradient(to left, #aeddf5 30%, transparent);
            }
        }

        &-item-wrapper._token &-caption {
            width: ~'calc(100% - 16px)';
        }

        &-item-wrapper:not(._token):not(._disabled):hover &-caption:after {
            display: block;
        }

        &-item {
            position: relative;
            width: 100%;
            display: flex;
            overflow: hidden;
            padding: 2px 8px 2px 8px;
            border-radius: 3px;
            .font-regular;
            background-color: @default-info-color; /*!-designToken-reference-field-value-item-background-color*/
            color: @main-text-color; /*!-designToken-reference-field-value-item-color*/

            &-wrapper._token & {
                padding-right: 4px;
            }

            &-wrapper._token._opened-options & {
                background-color: @primary-color;
                color: @main-background-color;
            }

            &-wrapper {
                position: relative;
                display: flex;
                margin: 2px;
                max-width: 100%;
                z-index: 2;
            }

            &-remove {
                display: none;
                position: absolute;
                top: 3px;
                right: 1px;
                width: 18px;
                height: 18px;
                cursor: pointer;

                &._disabled {
                    cursor: default;
                }

                &-icon {
                    width: 14px;
                    height: 14px;
                    fill: @primary-icon-color;
                    vertical-align: top;
                }
            }

            &-wrapper:not(._token):not(._disabled):hover &-remove {
                display: block;
            }

            &-arrow {
                margin-left: 2px;
                width: 16px;
                height: 16px;

                &-icon {
                    width: 16px;
                    height: 16px;
                    fill: @primary-icon-color;
                    vertical-align: top;
                }
            }

            &-arrow:not(._disabled):hover {
                opacity: 0.7;
                cursor: pointer;
            }

            &-wrapper._token._opened-options &-arrow-icon {
                fill: @main-background-color;
            }
        }
    }

    &__empty-message {
        display: flex;
        justify-content: center;
        padding: 8px;

        &-text {
            color: @default-dark-color;
            .font-regular;
            font-style: italic;
            margin-left: 6px;
        }

        &-icon {
            fill: @default-icon-color;
            width: 20px;
            height: 20px;
            transform: translate3d(0, -1px, 0);
        }

        &._enter &-text {
            margin-left: 10px;
        }

        &._enter &-icon {
            width: 23px;
            height: 24px;
            transform: scale(1, -1) translate3d(0, 2px, 0);
        }
    }

    &__search-icon {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 19px;
        height: 19px;
        fill: @default-icon-color;
    }

    &__popover {
        &-input {

            width: 100%;

            &-wrapper {
                padding: 10px;
                border-bottom: 1px solid @default-border-color;
                display: flex;
            }

            &-cross {
                fill: @default-border-color;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        &-toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: @default-background-color;
            border-bottom: 1px solid @default-border-color;

            &-text {
                padding: 0 10px;
                text-align: center;
            }
        }

        &-values {
            padding: 3px 8px 0 8px;
        }
    }

    &__label {
        width: 100%;
        height: 29px;
        line-height: 29px;
        z-index: 1;
        outline: 0;

        &-text {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            display: block;
        }
    }
}
