<sq-overlay-popup [title]="_creatingMode ? 'Create new device' : 'Device details'"
                  [visible]="_visible"
                  [contentTemplate]="contentTemplate"
                  [controlsTemplate]="controlsTemplate"
                  [statusEnable]="_operationErrorText"
                  [statusTemplate]="statusTemplate"
                  (onClose)="_onCloseClick()"
>

</sq-overlay-popup>


<ng-template #contentTemplate>
  <form novalidate
        #deviceEditForm
        class="sq-device-edit__form"
        [formGroup]="_formGroup">
    <ux-label [text]="'Name'"
              [required]="true"
    >
      <ux-text-field #deviceName
                     formControlName="deviceName"
                     [(value)]="_deviceModel.instance"
                     [placeholder]="'Enter device name'"
                     [uxTooltip]="!deviceName.focused && !_formGroup.controls.deviceName.untouched && _getErrorText('deviceName')"
                     uxTooltipAppendTo="target"
                     [ngClass]="{
                          '_error': !deviceName.focused && !_formGroup.controls.deviceName.untouched && _getErrorText('deviceName')
                       }"
      >
      </ux-text-field>
    </ux-label>

    <ux-label [text]="'Type'"
              [required]="true"
    >
      <ux-dropdown-field #deviceType
                         formControlName="deviceType"
                         [items]=_typesItemsModel
                         [(value)]="_typesItemsValue"
                         (onValueChange)="_onDeviceTypeChange($event)"
                         [itemLabelKey]="'label'"
                         [placeholder]="'Select device type'"
                         [opened]="false"
                         [mobile]="false"
      >
      </ux-dropdown-field>
    </ux-label>

    <ux-label [text]="'Number'"
              [required]="true"
    >
      <ux-text-field #deviceNumber
                     formControlName="deviceNumber"
                     [(value)]="_deviceModel.number"
                     [placeholder]="'Enter number'"
                     [uxTooltip]="!deviceNumber.focused && !_formGroup.controls.deviceNumber.untouched && _getErrorText('deviceNumber')"
                     uxTooltipAppendTo="target"
                     [ngClass]="{
                          '_error': !deviceNumber.focused && !_formGroup.controls.deviceNumber.untouched && _getErrorText('deviceNumber')
                       }"
      >
      </ux-text-field>
    </ux-label>
  </form>
</ng-template>

<ng-template #controlsTemplate>
  <ux-button *ngIf="!creatingMode"
             (tap)="_onLinkedTest()"
             [text]="'Linked tests'"
  >
  </ux-button>
  <ux-button (tap)="_onEditConfirm()"
             [text]="creatingMode ? 'Create' : 'Update'"
             [kind]="'primary'"
             [disabled]="!_formGroup.valid"
  >
  </ux-button>
</ng-template>


<ng-template #statusTemplate>
  <ux-label [text]="_operationErrorText"
            [ngClass]="'_error'"
  >
  </ux-label>
</ng-template>

<sq-device-linked-test #linkedTestsPopup>
</sq-device-linked-test>
