@import "../../../common/color-vars.less";
@import "../../../common/common-vars.less";
@import "../../../common/mixins.less";



.ux-header-button {
    height: 100%;
    display: block;
    padding: 19px 12px 21px 12px;
    margin: 0;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    position: relative;

    &:hover {
        border-bottom: 4px solid @primary-warning-color;
    }

    &__icon {
        display: flex;
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
        position: relative;

        & > :first-child {
            fill: @main-background-color;
            fill-rule: evenodd;
            stroke: @main-background-color;
            stroke-width: 0.4;
            overflow: hidden;
            height: 100%;
        }

        &._active-bell {
            width: 14px;

            & > :first-child {
                width: 14px;
            }

            &:after {
                display: block;
                content: '';
                width: 6px;
                height: 6px;
                background-color: @primary-warning-color;
                border-radius: 6px;
                position: absolute;
                top: -2px;
                right: 1px;
            }
        }

        &._language {
            width: 21px;

            & > :first-child {
                width: 21px;
            }
        }

        &._bell {
            width: 14px;

            & > :first-child {
                width: 14px;
            }
        }

        &._plus {
            width: 20px;

            & > :first-child {
                width: 20px;
                height: 20px;
            }
        }

        &._search > :first-child {
            width: 16px;
        }

        &._location,
        &._user {
            width: 15px;

            & > :first-child {
                width: 15px;
            }
        }
    }
}
