<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"
     version="1.1" class="ux-circular-loader__svg"
     *ngIf="duration && visible">
    <circle r="10" cx='12' cy='12'
            class="ux-circular-loader__back"
            [style.stroke]="color ? color : ''"
    ></circle>
    <path #loader
          class="ux-circular-loader__loader"
          transform="translate(12, 12)"
          [style.fill]="color ? color : ''"
    ></path>
</svg>
