<div class="ux-tab-panel-item__content" *ngIf="!template && selected">
    <ng-content></ng-content>
</div>

<div class="ux-tab-panel-item__template" *ngIf="template && selected">
    <ng-template [ngTemplateOutlet]="template"></ng-template>
</div>