@import "../../../common/component-states.less";

.ux-password-field {
  display: block;
  .state_composite("__input", undefined, "__icon-container");

  &__icon-container {
      width: 24px;
      height: 32px;
      display: flex;
      align-items: center;

      &:hover {
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
      }
  }

  &._disabled &__icon-container {
    cursor: default;
  }

  &__icon {
      display: flex;
      align-items: center;

      & > :first-child {
          width: 16px;
          height: 12px;
          fill: @main-color;
          fill-rule: evenodd;
          stroke: none;
          overflow: hidden;
      }
  }

  &._error {
    .state_error;
  }

    &._size-m {
        height: 40px;
        font-size: 18px; /*!-designToken-text-field-font-size-m*/
    }
}
