@main-color: #000;
@main-background-color: #fff;
@container-background-color: #e1e2e3;
@main-text-color: #262626;
@main-text-gray-color: #8a8d91;
@main-text-darkgray-color: #686868;

@primary-background-color: #e1e2e3;
@default-background-color: #faf9f7;
@light-background-color: #fafafa;

@default-color: #d4d7d9;
@default-active-color: #aaaeb3;
@default-inactive-color: #8a8d91;
@default-dark-color: #7f8387;

@default-icon-color: #92a0b3;
@primary-icon-color: #363d4d;

@primary-color: #1f8eda;
@primary-active-color: #0c6cb0;
@primary-dark-color: #022a4a;

@default-info-color: #aeddf5;
@primary-info-color: #78c4eb;

@default-success-color: #c3e8a2;
@primary-success-color: #5bc029;

@default-warning-color: #ffdf99;
@primary-warning-color: #ffbb29;

@default-error-color: #fac5af;
@primary-error-color: #f04d30;

@primary-border-color: #1b81c4;
@primary-active-border-color: #0b5f9c;

@default-border-color: #cfceca;
@default-active-border-color: @default-border-color;

@default-border-shadow-color: rgba(0, 0, 0, 0.06);
@default-field-border-shadow-color: rgba(0, 0, 0, 0.07);

@visited-color: #9515bf;

@level_u: #CECECE;
@level_0: #CE0010;
@level_1: #DE2429;
@level_2: #F75521;
@level_3: #FFBA21;
@level_4: #84C339;
@level_5: #219A18;


.flat_border() {
  border: solid 1px @default-border-color;
  border-radius: 4px;
}

.default_border() {
  box-shadow: inset 0 2px 2px 0 @default-border-shadow-color;
  border: solid 1px @default-border-color;
  border-radius: 4px;
}

.default_field_shadow() {
  box-shadow: inset 0 2px 2px 0 @default-field-border-shadow-color;
}

.default_field_border() {
  .default_field_shadow;
  border-width: 1px;
  border-style: solid;
  border-color: @default-border-color;
  border-radius: 4px;
}
