@import "color-vars.less";
@import "font-vars.less";

@focus: @primary-warning-color;
@main-text-color: #262626;

//composite - start
.state_composite_main(@main) {
    @mainSelectorName: ~'@{main}';

    .component-states;
    display: flex;
    align-items: center;

    &@{mainSelectorName} {
        position: relative;
        flex: 1 1 auto;
        min-width: 1px;
        border: 0 none;
        background-color: transparent;
        z-index: 1;

        &:focus:not(:disabled) {
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.state_composite_prefix(@prefix) {
    @prefixSelectorName: ~'@{prefix}';

    &@{prefixSelectorName} {
        position: relative;
        flex: 0 0 auto;
        color: @default-icon-color;
        padding-right: 6px;
        z-index: 1;
    }
}

.state_composite_suffix(@suffix) {
    @suffixSelectorName: ~'@{suffix}';

    &@{suffixSelectorName} {
        transform: translate3d(1px, 0, 0);
        position: relative;
        flex: 0 0 auto;
        margin-left: auto;
        color: @default-icon-color;
        padding-left: 6px;
        z-index: 1;
    }
}

.state_composite(@main, @prefix, @suffix) when not (isstring(@prefix)) {
    .state_composite_main(@main);
    .state_composite_suffix(@suffix);
}

.state_composite(@main, @prefix, @suffix) when not (isstring(@suffix)) {
    .state_composite_main(@main);
    .state_composite_prefix(@prefix);
}

.state_composite(@main, @prefix, @suffix) when (isstring(@prefix)) and (isstring(@suffix))  {
    .state_composite_main(@main);
    .state_composite_prefix(@prefix);
    .state_composite_suffix(@suffix);
}

//composite - end

//simple - start
.state_default() {
    .font-regular;
    .default_field_border;
    width: 100%;
    height: 32px;
    line-height: 1.21;
    background-color: @main-background-color;
    color: @main-text-color;
    outline: none;
    padding: 0 11px 1px 11px;
    transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.state_locked() {
    cursor: default;
}

.state_disabled() {
    .state_locked;
    opacity: 0.5;
}

.state_active() {
    //by default change nothing
}

.state_focus-passive(@position: relative, @element-border-width: 1px,  @outline-radius: 7px) {
    position: @position;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -@element-border-width - 2px;
        bottom: -@element-border-width - 2px;
        left: -@element-border-width - 2px;
        right: -@element-border-width - 2px;
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: @outline-radius; /*!-designToken-state-focus-passive-border-radius*/
        transition: border-color 0.1s linear, border-radius 0.1s linear,
                    top 0.1s linear, bottom 0.1s linear,
                    left 0.1s linear, right 0.1s linear;
    }
}

.state_focus-active(@element-border-width: 1px,  @outline-radius: 7px) {
    &::after {
        top: -@element-border-width - 4px;
        bottom: -@element-border-width - 4px;
        left: -@element-border-width - 4px;
        right: -@element-border-width - 4px;
        border-color: @primary-warning-color; /*!-designToken-state-focus-active-border-color*/
        border-radius: @outline-radius; /*!-designToken-state-focus-active-border-radius*/
    }
}

.state_action-focus-active(@element-border-width: 1px,  @outline-radius: 7px) {
    &::after {
        top: -@element-border-width - 4px;
        bottom: -@element-border-width - 4px;
        left: -@element-border-width - 4px;
        right: -@element-border-width - 4px;
        border-color: @primary-background-color; /*!-designToken-state-action-focus-active-border-color*/
        border-radius: @outline-radius; /*!-designToken-state-action-focus-active-border-radius*/
    }
}

.state_hover-active(@element-border-width: 1px,  @outline-radius: 7px) {
    &::after {
        top: -@element-border-width - 4px;
        bottom: -@element-border-width - 4px;
        left: -@element-border-width - 4px;
        right: -@element-border-width - 4px;
        border-color: @primary-warning-color; /*!-designToken-state-hover-active-border-color*/
        border-radius: @outline-radius; /*!-designToken-state-hover-active-border-radius*/
    }
}

.state_hover() {
    // cursor: text
}

.state_error() {
    padding: 0 10px 1px 10px;
    border: 2px solid @primary-error-color; /*!-designToken-state-error-border-size solid -designToken-state-error-border-color*/
}

.component-states(@position: relative, @element-border-width: 1px,  @outline-radius: 7px) {
    .state_default;
    .state_focus-passive(@position, @element-border-width, @outline-radius);

    &:hover:not(:disabled), &:hover:not(._disabled) {
        .state_hover;
    }

    &:active:not(:disabled), &:active:not(._disabled) {
        .state_active;
    }

    &:focus:not(:disabled), &:focus:not(._disabled), ._focused, &._focused:not(._disabled) {
        .state_focus-active(@element-border-width, @outline-radius);

        &._error {
            border-color: @primary-error-color;
        }
    }

    &:disabled, &:active:disabled, &._disabled, &:active._disabled {
        .state_disabled;
    }
}

//simple - end
