@import "font-vars.less";

.font-face(@file-name, @font-family, @font-weight: 400, @font-style: normal) {
    @font-face {
        font-family: "@{font-family}";
        src: url("../../fonts/@{file-name}.woff") format('woff'); /*!-designToken-font-src*/
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face(notosans_light, NotoSans, 300);
.font-face(notosans_regular, NotoSans, 400);
.font-face(notosans_regular, NotoSans, 500);
.font-face(notosans_bold, NotoSans, 700);
