@import "color-vars.less";

.box-shadow() {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.visibility-transition(@duration: 0.2s) {
  .visibility-transition-selector(@duration, ~"._visible");
}

.visibility-transition-selector(@duration: 0.2s, @selector) {
  visibility: hidden;
  opacity: 0;
  transition: visibility @duration linear, opacity @duration linear, transform @duration linear;

  &@{selector} {
    visibility: visible;
    opacity: 1;
  }
}

.visibility-transition-config(@duration: 0.2s, @invisibleSelector, @visibleSelector) {
  &@{invisibleSelector} {
    visibility: hidden;
    opacity: 0;
    transition: visibility @duration linear, opacity @duration linear, transform @duration linear;
  }

  &@{visibleSelector} {
    visibility: visible;
    opacity: 1;
  }
}

.field-placeholder-default {
    &::placeholder {
        font-family: inherit; /*!-designToken-field-placeholder-font-family*/
        font-size: inherit; /*!-designToken-field-placeholder-font-size*/
        color: @default-dark-color; /*!-designToken-field-placeholder-color*/
    }
}

.ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
