@import "../../common/color-vars.less";

.ux-overlay {
  display: block;

  &._absolute > &__inner {
    position: absolute;
  }

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: fade(@default-dark-color, 60%);
  }

  &._light &__inner {
    background-color: fade(@main-background-color, 10%);
  }
}
