<label class="ux-switcher-field__label" onmousedown="event.preventDefault()">

    <span *ngIf="leftLabel"
          class="ux-switcher-field__label-text _left"
    >{{leftLabel}}</span>

    <div class="ux-switcher-field__control-wrapper">
        <div class="ux-switcher-field__control">
            <span class="ux-switcher-field__icon"></span>
            <input
                class="ux-switcher-field__input"
                type="checkbox"
                (focus)="_onFocus($event)"
                (blur)="_onBlur($event)"
                [checked]="value"
                [disabled]="disabled"
                (change)="_toggleState()"
            >
        </div>
    </div>

    <span *ngIf="label"
          class="ux-switcher-field__label-text _right"
    >{{label}}</span>

</label>

