<div class="ux-sidebar__inner">

    <div class="ux-sidebar__control-wrapper"
        (tap)="_onControlClick()"
    >
        <div class="ux-sidebar__control _custom" *ngIf="_customControl">
            <ng-content select="[customControl]"></ng-content>
        </div>

        <div class="ux-sidebar__control" *ngIf="!_customControl">
            <svg
                #customIcon
                xmlns="http://www.w3.org/2000/svg"
                width="0" height="0"
                viewBox="0 0 20 20"
                [attr.role]="'img'"
                [attr.aria-label]="dataOptions?.iconLabel?.activateSidebarIcon"
            ><path d="M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z"/></svg>
        </div>
    </div>

    <div
        class="ux-sidebar__panel"
        [ngClass]="{
            '_active': active
        }"
        #sidebarPanel
    >
        <div class="ux-sidebar__panel-header">
            <ng-content select="[headerContent]"></ng-content>
        </div>

        <ux-scroll class="ux-sidebar__panel-content">
            <ng-content></ng-content>
        </ux-scroll>

        <div class="ux-sidebar__panel-footer">
            <ng-content select="[footerContent]"></ng-content>
        </div>
    </div>

    <div class="ux-sidebar__overlay"
         [ngClass]="{
            '_active': active
         }"
         #overlay
         (tap)="_onOverlayClick()"
    ></div>
</div>


