.sevana-qualtest {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-inner {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px) {
      min-width: 800px;
    }

    @media screen and (min-width: 801px) and (max-width: 1024px) {
      width: calc(100% - 2*@virtual-scroll-width);
    }

    @media screen and (min-width: 1025px) and (max-width: 1025px + 2*@virtual-scroll-width) {
      width: calc(1025px - 2*@virtual-scroll-width);
    }

    @media screen and (min-width: 1026px + 2*@virtual-scroll-width) {
      min-width: 1024px;
    }

    & > .ux-notification {
      &._error {
        background-color: #fce7e7;
      }
    }

    &-header {
      display: flex;
      flex-direction: row;

      align-items: center;

      &-item {
        margin: 0 24px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &._username {
          .font-bold-small;
          white-space: nowrap;
        }
        &._logout {
          cursor: pointer;
        }
      }
    }

    &-content {
      margin: 24px 36px 24px 36px;

      &._login {
        margin-top: 0;
      }
    }
  }
}
