<li class="ux-wizard-navigation__step {{step?.styleClass}}"
    *ngFor="let step of steps; trackBy: _trackByFn"
    [ngClass]="{
             _active: step?.isActive,
             _passed: step?.isPassed
         }"
>
    <div class="ux-wizard-navigation__step-inner">{{step?.name}}</div>
</li>