@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";

.ux-header-group {
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;

    &[position="right"] {
        margin: 0 13px 0 auto;
        order: 1;
    }
}
