@import "../../common/common-vars.less";
@import "../../common/mixins.less";

.ux-notification {
    display: block;
    position: relative;
    padding: 8px 24px 8px 10px;
    margin-bottom: 8px;
    overflow-y: hidden;
    z-index: 1000;
    pointer-events: none;
    .visibility-transition();
    text-align: left;

    background-color: @main-background-color; /*!-designToken-notification-background-color*/
    border: solid 1px @default-border-color;
    border-left: 12px solid transparent; /*!-designToken-notification-border-left*/
    border-radius: 4px; /*!-designToken-notification-border-radius*/
    box-shadow: 0 1px 1px 0 fade(@main-color, 8%), 0 4px 16px 0 fade(@main-color, 4%);

    &._top-right {
        position: absolute;
        top: 30px;
        right: 30px;
        min-width: 300px;
        max-width: 400px;
        transform: translate3d(0, -100%, 0);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        z-index: 1005;

        &._visible {
            transform: translate3d(0, 0, 0);
        }
    }

    &._mobile {
        border-radius: 0;
        border-top: none;
        border-right: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
    }

    &._visible {
        pointer-events: auto;
    }

    &._closable {
        padding-right: 46px;
    }

    &._none {
        padding-left: 21px;
        border: solid 1px @default-border-color;
    }

    &._info {
        border-left-color: @primary-info-color;
    }

    &._warn {
        border-left-color: @primary-warning-color;
    }

    &._error {
        border-left-color: @primary-error-color;
    }

    &._success {
        border-left-color: @primary-success-color;
    }

    &__icon {
        width: 10px;
        height: 10px;
       
        &-wrapper {
            position: absolute;
            top: 9px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

    &__content {
        .font-regular-small;
        color: inherit; /*!-designToken-notification-content-color*/
        line-height: 1.42;
        word-wrap: break-word;
    }

    &__caption {
        .font-bold-small;
        color: inherit; /*!-designToken-notification-caption-color*/
        line-height: 1.42;
        word-wrap: break-word;
    }
}

