<button class="ux-button__button taButton"
        [ngClass]="_styleClasses"
        [disabled]="disabled || locked"
        [type]="type"
        [name]="name"
        (tap)="_onClick($event)">
  <i *ngIf="_customIcon" class="ux-button__icon">
    <ng-content select="svg"></ng-content>
  </i>

  <i *ngIf="!_customIcon && icon === 'search-white'"
     class="ux-button__icon ux-button__icon_white">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20">
      <path d="M17.545,15.467l-3.779-3.779c0.57-0.935,0.898-2.035,0.898-3.21c0-3.417-2.961-6.377-6.378-6.377
		C4.869,2.1,2.1,4.87,2.1,8.287c0,3.416,2.961,6.377,6.377,6.377c1.137,0,2.2-0.309,3.115-0.844l3.799,3.801
		c0.372,0.371,0.975,0.371,1.346,0l0.943-0.943C18.051,16.307,17.916,15.838,17.545,15.467z M4.004,8.287
		c0-2.366,1.917-4.283,4.282-4.283c2.366,0,4.474,2.107,4.474,4.474c0,2.365-1.918,4.283-4.283,4.283
		C6.111,12.76,4.004,10.652,4.004,8.287z"></path>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'plus-black'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="-5 0 30 20">
      <path d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
		C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
		C15.952,9,16,9.447,16,10z"></path>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'minus-black'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="-5 0 30 20">
      <path d="M16,10c0,0.553-0.048,1-0.601,1H4.601C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1h10.799C15.952,9,16,9.447,16,10z"></path>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'funnel-black'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="-2 0 24 20">
      <path d="M10,1C5.092,1,2,2.512,2,4.001v2c0,0.918,6,6,6,6v6c-0.001,0.684,1,1,2,1s2.001-0.316,2-1v-6c0,0,6-5.082,6-6v-2
		C18,2.512,14.908,1,10,1z M10,6.123C6.409,6.122,3.862,4.79,3.862,4.292C3.86,3.797,6.41,2.461,10,2.463
		c3.59-0.002,6.14,1.334,6.138,1.828C16.138,4.79,13.591,6.122,10,6.123z"></path>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'trash-black'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="-2 0 24 20">
      <path d="M3.389,7.113L4.49,18.021C4.551,18.482,6.777,19.998,10,20c3.225-0.002,5.451-1.518,5.511-1.979l1.102-10.908
		C14.929,8.055,12.412,8.5,10,8.5C7.59,8.5,5.072,8.055,3.389,7.113z M13.168,1.51l-0.859-0.951C11.977,0.086,11.617,0,10.916,0
		H9.085c-0.7,0-1.061,0.086-1.392,0.559L6.834,1.51C4.264,1.959,2.4,3.15,2.4,4.029v0.17C2.4,5.746,5.803,7,10,7
		c4.198,0,7.601-1.254,7.601-2.801v-0.17C17.601,3.15,15.738,1.959,13.168,1.51z M12.07,4.34L11,3H9L7.932,4.34h-1.7
		c0,0,1.862-2.221,2.111-2.522C8.533,1.588,8.727,1.5,8.979,1.5h2.043c0.253,0,0.447,0.088,0.637,0.318
		c0.248,0.301,2.111,2.522,2.111,2.522H12.07z"></path>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'add-link'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 16 16">
      <path d="M 11.380859 1 C 10.684859 1 10.029109 1.2716719 9.5371094 1.7636719 L 7.7304688 3.5703125 C 7.0804687 4.2203125 6.8520625 5.1306563 7.0390625 5.9726562 L 8.0371094 4.9726562 C 8.1081094 4.7186562 8.2375 4.4773438 8.4375 4.2773438 L 10.246094 2.4707031 C 10.549094 2.1677031 10.951859 2 11.380859 2 C 11.809859 2 12.212203 2.1672813 12.533203 2.4882812 C 12.836203 2.7912812 13.003906 3.1940469 13.003906 3.6230469 C 13.003906 4.0520469 12.836203 4.4548125 12.533203 4.7578125 L 11.279297 6.0117188 C 11.353297 6.0087187 11.426 6 11.5 6 C 11.875 6 12.241703 6.037375 12.595703 6.109375 L 13.240234 5.4648438 C 14.255234 4.4488437 14.256656 2.7976719 13.222656 1.7636719 C 12.731656 1.2716719 12.076859 1 11.380859 1 z M 9.4941406 4.9960938 A 0.50005 0.50005 0 0 0 9.1503906 5.1464844 L 5.1503906 9.1464844 A 0.50005 0.50005 0 1 0 5.8574219 9.8535156 L 9.8574219 5.8535156 A 0.50005 0.50005 0 0 0 9.4941406 4.9960938 z M 5.4160156 6.9648438 C 4.7200156 6.9648438 4.0652187 7.2355625 3.5742188 7.7265625 L 1.765625 9.5351562 C 0.749625 10.551156 0.75015625 12.202328 1.7851562 13.236328 C 2.2921562 13.744328 2.9599531 13.998047 3.6269531 13.998047 C 4.2939531 13.998047 4.96075 13.745281 5.46875 13.238281 L 6.109375 12.595703 C 6.037375 12.241703 6 11.875 6 11.5 C 6 11.426 6.0087187 11.35425 6.0117188 11.28125 L 4.7617188 12.529297 C 4.1357187 13.154297 3.1146562 13.156719 2.4726562 12.511719 C 2.1696563 12.208719 2.0039062 11.805953 2.0039062 11.376953 C 2.0039062 10.947953 2.1696563 10.543234 2.4726562 10.240234 L 4.28125 8.4335938 C 4.47725 8.2375938 4.7185156 8.10425 4.9785156 8.03125 L 5.9804688 7.0292969 C 5.7964687 6.9892969 5.6090156 6.9648437 5.4160156 6.9648438 z M 11.5 7 C 9.0206409 7 7 9.0206409 7 11.5 C 7 13.979359 9.0206409 16 11.5 16 C 13.979359 16 16 13.979359 16 11.5 C 16 9.0206409 13.979359 7 11.5 7 z M 11.5 8 C 13.438919 8 15 9.5610811 15 11.5 C 15 13.438919 13.438919 15 11.5 15 C 9.5610811 15 8 13.438919 8 11.5 C 8 9.5610811 9.5610811 8 11.5 8 z M 11 9 L 11 11 L 9 11 L 9 12 L 11 12 L 11 14 L 12 14 L 12 12 L 14 12 L 14 11 L 12 11 L 12 9 L 11 9 z"/>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'add-folder'"
     class="ux-button__icon ux-button__icon_black">
    <svg width="24" height="24" enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(.020406 0 0 .020008 1.7959 1.9973)"><path d="m835.3 667.6h116.1c21.4 0 38.7 17.3 38.7 38.7s-17.4 38.7-38.8 38.7h-116v116.1c0 21.4-17.3 38.7-38.7 38.7s-38.7-17.3-38.7-38.7v-116.1h-116.1c-21.4 0-38.7-17.3-38.7-38.7s17.3-38.7 38.7-38.7h116.1v-116c0-21.4 17.3-38.7 38.7-38.7s38.7 17.3 38.7 38.7m-25.8-141.9h-51.6v-103.1c0-28.5-23.1-51.6-51.6-51.6h-335.3v-25.8c0-28.5-23.1-51.6-51.6-51.6h-180.5c-28.5 0-51.6 23.1-51.6 51.6v541.6c0 28.5 23.1 51.6 51.6 51.6h412.6v77.3h-438.3c-57 0-103.2-46.2-103.2-103.2v-593.2c0-57 46.2-103.2 103.2-103.2h232.1c48 0 88 32.9 99.5 77.4h287.3c57 0 103.2 46.2 103.2 103.2v128.9h-25.8z"/></g>
    </svg>
  </i>

  <i *ngIf="!_customIcon && icon === 'add-device'"
     class="ux-button__icon ux-button__icon_black">
    <svg enable-background="new 0 0 503.604 503.604" version="1.1" viewBox="0 0 503.6 503.6" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path d="m167.19 0c-28.924 0-53.5 23.584-53.5 52.5v398.66c0 28.916 24.056 52.439 52.98 52.439l170.41-0.1836c28.92 0 52.58-23.527 52.58-52.447l0.05664-90.844a109.9 109.9 0 0 1-10.812 0.64453 109.9 109.9 0 0 1-13.42-0.91797v65.053h-224.26v-350.15h224.26v67.186a109.9 109.9 0 0 1 13.42-0.96094 109.9 109.9 0 0 1 10.949 0.54687l0.05469-89.055c-4e-3 -29.02-23.548-52.473-52.588-52.473h-170.13zm60.488 31.477h49.359c4.336 0 7.8691 3.5192 7.8691 7.8672s-3.5331 7.8691-7.8691 7.8691h-49.359c-4.348 0-7.8672-3.5211-7.8672-7.8691s3.5192-7.8672 7.8672-7.8672zm-24.09 0.30469c2.0555-5e-3 4.1104 0.72322 5.5664 2.1992 1.46 1.456 2.3242 3.4999 2.3242 5.5879 0 2.048-0.86422 4.0869-2.3242 5.5469-1.452 1.46-3.5048 2.3203-5.5488 2.3203-2.084 0-4.0879-0.86031-5.5879-2.3203-1.452-1.456-2.2793-3.4989-2.2793-5.5469-4e-3 -2.088 0.8273-4.1319 2.2793-5.5879 1.458-1.456 3.5148-2.1942 5.5703-2.1992zm47.182 409.13c12.984 0 23.545 10.565 23.545 23.549 0 12.98-10.565 23.547-23.545 23.547-12.984 0-23.543-10.567-23.543-23.547 0-12.984 10.559-23.549 23.543-23.549z" fill="#000000"/>
<path d="m393.9 236.16h44.968c8.2886 0 14.989 6.5699 14.989 14.697 0 8.1271-6.7394 14.697-15.028 14.697h-44.929v44.09c0 8.1269-6.7005 14.697-14.989 14.697-8.2886 0-14.989-6.5699-14.989-14.697v-44.09h-44.968c-8.2886 0-14.989-6.5697-14.989-14.697 0-8.1269 6.7005-14.697 14.989-14.697h44.968v-44.052c0-8.1269 6.7005-14.697 14.989-14.697 8.2886 0 14.989 6.5699 14.989 14.697" fill="#000000" stroke-width=".38352"/>
</svg>
  </i>

  <span class="ux-button__text">{{text}}</span>
</button>
