@import "../../../common/common-vars.less";

.ux-linear-dots-loader {
  &._absolute {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__inner {
    width: 40px;
    height: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    opacity: 0;
    background-color: @primary-color;
    animation: blink-animation 2s infinite;

    &._second-dot {
      animation-delay: 0.2s;
    }

    &._third-dot {
      animation-delay: 0.4s;
    }
  }

  @keyframes blink-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
