@import "../../common/common-vars.less";

.ux-wizard-navigation {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    &__step {
        position: relative;
        white-space: nowrap;
        text-decoration: none;
        line-height: 31px;
        padding: 4px 30px 0 0;
        .font-bold;

        &-inner {
            vertical-align: top;
            display: block;
            text-align: center;
            opacity: .4;
            text-decoration: none;
            border-bottom: 4px solid transparent;
        }

        ._light-font & {
            color: @main-background-color;
        }

        &._active &-inner {
            opacity: 1;
            border-bottom-color: @primary-color;

            ._light-font & {
                border-bottom-color: @primary-warning-color;
            }
        }

        &._passed &-inner {
            opacity: 0.6;
        }
    }
}
