<svg width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
     *ngIf="visible"
     class="ux-bagel-loader__svg" viewBox="0 0 24 24">
    <circle class="ux-bagel-loader__svg-background-circle"
            r="10" cx="12" cy="12"></circle>

    <circle class="ux-bagel-loader__svg-foreground-circle"
            r="10" cx="12" cy="12"
            #circle
            [style.stroke]="color ? color : ''"></circle>
</svg>