<ng-container *ngFor="let item of items; trackBy: _trackByFn;">

    <li *ngIf="_itemHasChildren(item)"
        [attr.data-level]="level"
        class="ux-tree-sub-menu__item _branch"
        [ngClass]="{'_disabled': item.disabled}">

        <div class="ux-tree-sub-menu__item-content"
             [ngClass]="{'_active': item.selected, '_opened': item?.opened, '_disabled': item.disabled}"
             (tap)="!item.disabled && _itemClick($event, item)">

            <i class="ux-tree-sub-menu__item-arrow-icon"
               (tap)="_itemArrowClick($event, item)">
                <svg width="0" height="0"
                     viewBox="0 0 20 20">
                    <path d="M11,10L7.859,6.58c-0.268-0.27-0.268-0.707,0-0.978c0.268-0.27,0.701-0.27,0.969,0l3.83,3.908
		    c0.268,0.271,0.268,0.709,0,0.979l-3.83,3.908c-0.267,0.272-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.978L11,10z"></path>
                </svg>
            </i>

            <ng-template [ngTemplateOutlet]="template || defaultTemplate"
                         [ngTemplateOutletContext]="{item: item}">
            </ng-template>

            <div *ngIf="item.closeable"
                 [ngClass]="{'ux-tree-sub-menu__item-close': true}"
                 (tap)="_itemClose($event, item)"></div>
        </div>

        <ux-tree-sub-menu *ngIf="item?.opened"
                          class="ux-tree-sub-menu__item-subtree"
                          [items]="item.children"
                          [itemCaptionKey]="itemCaptionKey"
                          [template]="template"
                          [level]="level + 1"
                          (onItemClick)="onItemClick.emit($event)"
                          (onItemClose)="onItemClose.emit($event)"
        >
        </ux-tree-sub-menu>
    </li>

    <li *ngIf="!_itemHasChildren(item)"
        [attr.data-level]="level"
        class="ux-tree-sub-menu__item _leaf"
        [ngClass]="{'_active': item.selected, '_disabled': item.disabled}">
        <div class="ux-tree-sub-menu__item-content" [ngClass]="{'_active': item.selected, '_disabled': item.disabled}"
             (tap)="!item.disabled && _itemClick($event, item)">

            <ng-template [ngTemplateOutlet]="template || defaultTemplate"
                         [ngTemplateOutletContext]="{item: item}">
            </ng-template>

            <div *ngIf="item.closeable" [ngClass]="{'ux-tree-sub-menu__item-close': true}"
                 (tap)="_itemClose($event, item)"></div>
        </div>
    </li>
</ng-container>

<ng-template #defaultTemplate let-item="item">
    <span class="ux-tree-sub-menu__item-caption">{{item[itemCaptionKey]}}</span>
</ng-template>
