@import "../../../common/common-vars.less";
@import "../../../common/color-vars.less";
@import "../../../common/component-states.less";

.ux-checkbox-field {
    display: block;

    &._disabled {
        .state_disabled;
    }

    &__label {
        display: flex;
        .font-regular;
        line-height: 18px;
        text-align: left;
    }

    &:not(._disabled) > &__label:hover {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &__input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-transform: none;
        width: 1px;
    }

    &:active:not(._disabled) &__label &__icon {
        background-color: @primary-info-color;
        border: solid 1px @primary-info-color;
    }

    &._active &__icon,
    &:active._active._disabled &__icon {
        background-color: @primary-color; /*!-designToken-checkbox-field-checked-background-color*/
        border: 1px solid @primary-color; /*!-designToken-checkbox-field-checked-border-width solid -designToken-checkbox-field-checked-border-color*/

        & > :first-child {
            display: block;
        }
    }

    &__icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        .default_field_shadow;
        border: 1px solid @default-border-color; /*!-designToken-checkbox-field-unchecked-border-width solid -designToken-checkbox-field-unchecked-border-color*/
        border-radius: 4px; /*!-designToken-checkbox-field-border-radius*/
        vertical-align: bottom;
        background-color: @main-background-color; /*!-designToken-checkbox-field-unchecked-background-color*/
        transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
        .state_focus-passive;
        user-select: none;
    }

    &__icon > :first-child {
        fill: @main-background-color; /*!-designToken-checkbox-field-tick-color*/
        fill-rule: evenodd;
        stroke: none;
        overflow: hidden;
        width: 16px;
        height: 16px;
        padding: 0;
        display: none;
    }

    &__input:not(:disabled):focus + &__icon {
        .state_action-focus-active(1px, 8px);
    }

    &:not(._disabled) &__label:hover &__icon {
        .state_hover-active(1px);
    }

    &._pseudo-selected:not(._active) .ux-checkbox-field__icon > :first-child {
        display: block;
        fill: @primary-color;
    }

    &._round &__icon {
        width: 24px;
        height: 24px;
        border-radius: 11px;
        padding: 3px;
    }

    &:not(._disabled)._round &__label &__icon:after {
        border-radius: 15px;
    }
}

