.ux-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.ux-col,
.ux-col-1, .ux-col-2, .ux-col-3, .ux-col-4, .ux-col-5, .ux-col-6, .ux-col-7, .ux-col-8, .ux-col-9, .ux-col-10, .ux-col-11, .ux-col-12, .ux-col, .ux-col-auto,
.ux-col-sm-1, .ux-col-sm-2, .ux-col-sm-3, .ux-col-sm-4, .ux-col-sm-5, .ux-col-sm-6, .ux-col-sm-7, .ux-col-sm-8, .ux-col-sm-9, .ux-col-sm-10, .ux-col-sm-11, .ux-col-sm-12, .ux-col-sm, .ux-col-sm-auto,
.ux-col-md-1, .ux-col-md-2, .ux-col-md-3, .ux-col-md-4, .ux-col-md-5, .ux-col-md-6, .ux-col-md-7, .ux-col-md-8, .ux-col-md-9, .ux-col-md-10, .ux-col-md-11, .ux-col-md-12, .ux-col-md, .ux-col-md-auto,
.ux-col-lg-1, .ux-col-lg-2, .ux-col-lg-3, .ux-col-lg-4, .ux-col-lg-5, .ux-col-lg-6, .ux-col-lg-7, .ux-col-lg-8, .ux-col-lg-9, .ux-col-lg-10, .ux-col-lg-11, .ux-col-lg-12, .ux-col-lg, .ux-col-lg-auto,
.ux-col-xl-1, .ux-col-xl-2, .ux-col-xl-3, .ux-col-xl-4, .ux-col-xl-5, .ux-col-xl-6, .ux-col-xl-7, .ux-col-xl-8, .ux-col-xl-9, .ux-col-xl-10, .ux-col-xl-11, .ux-col-xl-12, .ux-col-xl, .ux-col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.make-col-style-without-index() {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.make-col-style-with-index(@size) {
    flex: 0 0 percentage(@size / 12);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage(@size / 12);
}

@breakpoints: null 0,
    // Small screen / phone
sm 576px,
    // Medium screen / tablet
md 768px,
    // Large screen / desktop
lg 992px,
    // Extra large screen / wide desktop
xl 1200px;

.make-col-with-breakpoint (@i, @breakpoint, @min-width) when (@i <= 12) {

    // not media. no breakpoint
    & when (@breakpoint = null) {

        // without index
        & when (@i  = 0) {
            .ux-col {
                .make-col-style-without-index();
            }
        }

        // with index
        & when (@i  > 0) {
            .ux-col-@{i} {
                .make-col-style-with-index(@i);
            }
        }
    }

    // media. with breakpoint
    & when not (@breakpoint = null) {

        @media (min-width: @min-width) {

            // without index
            & when (@i  = 0) {
                .ux-col-@{breakpoint} {
                    .make-col-style-without-index();
                }
            }

            // with index
            & when (@i  > 0) {
                .ux-col-@{breakpoint}-@{i} {
                    .make-col-style-with-index(@i);
                }
            }
        }
    }

    .make-col-with-breakpoint(@i + 1, @breakpoint, @min-width);
}

.make-col(@i : 1) when (@i <= length(@breakpoints)) {

    @breakpoint-value: extract(@breakpoints, @i);

    @breakpoint: extract(@breakpoint-value, 1);
    @min-width: extract(@breakpoint-value, 2);

    .make-col-with-breakpoint(0, @breakpoint, @min-width);

    .make-col(@i + 1);
}

.make-col();
