.ux-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__footer,
    &__header {
        flex: 0 0 auto;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        &-sidebar {
            max-width: 360px;
            min-width: 50px;
            flex: 0 0 25%;
            display: flex;
        }

        &-main {
            flex: 1 1 auto;
            display: flex;

            &._center {
                max-width: 1024px;
                margin: 0 auto;
            }

            &._column {
                flex-direction: column;
            }
        }
    }
}
