.ux-row {
    display: flex;
    flex-wrap: wrap;

    &._justify-content-start {
        justify-content: flex-start;
    }

    &._justify-content-center {
        justify-content: center;
    }

    &._justify-content-end {
        justify-content: flex-end;
    }

    &._justify-content-around {
        justify-content: space-around;
    }

    &._justify-content-between {
        justify-content: space-between;
    }
}
