@import "../../../common/color-vars.less";
@import "../../../common/mixins.less";

.ux-field-suggestion-popup {
    display: block;

    &__inner {
        max-width: 240px;
        background: @main-background-color; /*!-designToken-suggestion-popup-inner-suggestion-background-color*/

        &:focus {
            outline: none;
        }

        .ux-paging & {
            min-width: 50px;
        }
    }
}
