@import "../../../common/common-vars.less";
@import "../../../common/mixins.less";
@import "../../../common/component-states.less";

.ux-multiple-menu {
    display: inline-block;
    position: relative;
    border-right: 1px solid @default-border-color;

    &._child {
        position: absolute;
        top: 0;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        min-width: 0;
        transition: opacity 0.2s linear 0.05s, visibility 0.2s linear 0.05s;
    }

    &._visible {
        opacity: 1;
        visibility: visible;
    }

    &__title {
        min-height: 40px;
        padding: 0 20px;
        .font-bold;
        color: @main-text-color;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        white-space: nowrap;
    }

    &__list {
        list-style: none;
    }

    &__list-wrapper,
    &__custom-content {
        height: ~"calc(100% - 40px)";
    }

    &__link,
    &__content {
        display: block;
        outline: none;

        &-caption {
            display: block;
            position: relative;
            padding: 10px 20px;
            .font-light;
            line-height: 1.2;
            color: @main-text-color;
            border-radius: 4px;
            white-space: nowrap;

            &:after {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              width: 1px;
              transition: background-color 0.2s;
            }
        }
    }

    &__content {
        color: @main-text-color;
        cursor: auto;

        &:hover {
            color: @main-text-color;
            cursor: auto;
        }
    }

    &__link._active > &,
    &__content._active > & {
        display: inline-block;
    }

    &__link > &__link-caption,
    &__content > &__link-caption {
        min-width: 100%;
    }


    &__link._active > &__link-caption,
    &__content._active > &__link-caption {
        color: @primary-active-color;

        &:after {
            background-color: @primary-active-color;
        }
    }

    &__link._active > &__link-caption {
        text-decoration: underline;
    }

    /*Only for multiple-menu*/
    .ux-scroll,
    .ux-scroll__inner {
        position: static;
    }

    .ux-scroll__slider-vertical-wrap {
        transform: translate3d(0, 40px, 0);
        height: ~"calc(100% - 40px)";
    }

    .ux-scroll__content {
        transform: none !important;
    }
    /***********************/
}
