<ng-container *ngFor="let item of items; trackBy: _trackByFn;">
    <li *ngIf="item.children && item.children.length > 0"
        class="ux-tree-sub-menu__item _branch"
        [attr.data-level]="level"
    >
        <div class="ux-tree-sub-menu__item-content-wrapper"
             (tap)="_itemClick($event, item)">

            <div class="ux-tree-sub-menu__item-content"
                 [ngClass]="{
                '_active': item.selected,
                '_opened': item?.opened
             }"
                 uxDraggable="drag-drop-tree-menu-items"
                 uxDroppable="drag-drop-tree-menu-items"
                 (onDragStart)="_dragStartHandler(item)"
                 (onDragEnd)="_dragEndHandler()"
                 (onDragEnter)="_dragEnterHandler($event, item)"
                 (onDragLeave)="_dragLeaveHandler($event, item)"
                 (onDrop)="_dropHandler($event, item)"
            >


                <i class="ux-tree-sub-menu__item-arrow-icon"
                   (tap)="_itemArrowClick($event, item)">
                    <svg width="0" height="0"
                         viewBox="0 0 20 20">
                        <path d="M11,10L7.859,6.58c-0.268-0.27-0.268-0.707,0-0.978c0.268-0.27,0.701-0.27,0.969,0l3.83,3.908
                             c0.268,0.271,0.268,0.709,0,0.979l-3.83,3.908c-0.267,0.272-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.978L11,10z">
                        </path>
                    </svg>
                </i>

                <ng-template [ngTemplateOutlet]="template || defaultTemplate"
                             [ngTemplateOutletContext]="{item: item}">
                </ng-template>

                <div *ngIf="item.closeable"
                     class="ux-tree-sub-menu__item-close"
                     (tap)="_itemClose($event, item)"
                ></div>
            </div>
        </div>

        <ux-draggable-tree-sub-menu *ngIf="item?.opened"
                                    class="ux-tree-sub-menu__item-subtree"
                                    [items]="item.children"
                                    [itemCaptionKey]="itemCaptionKey"
                                    [template]="template"
                                    [level]="level + 1"
                                    (onItemClick)="onItemClick.emit($event)"
                                    (onItemClose)="onItemClose.emit($event)"
                                    (onDragStart)="onDragStart.emit($event)"
                                    (onToggle)="onToggle.emit($event)"
                                    (onDragEnd)="onDragEnd.emit()"
                                    (onDrop)="onDrop.emit($event)">
        </ux-draggable-tree-sub-menu>
    </li>

    <li *ngIf="!(item.children && item.children.length > 0)"
        class="ux-tree-sub-menu__item _leaf"
        [ngClass]="{
            '_active': item.selected
        }"
        [attr.data-level]="level">

        <div class="ux-tree-sub-menu__item-content-wrapper"
             (tap)="_itemClick($event, item)">

            <div class="ux-tree-sub-menu__item-content"
                 [ngClass]="{
                 '_active': item.selected
             }"
                 uxDraggable="drag-drop-tree-menu-items"
                 uxDroppable="drag-drop-tree-menu-items"
                 (onDragStart)="_dragStartHandler(item)"
                 (onDragEnd)="_dragEndHandler()"
                 (onDragEnter)="_dragEnterHandler($event, item)"
                 (onDragLeave)="_dragLeaveHandler($event, item)"
                 (onDrop)="_dropHandler($event, item)">


                <ng-template [ngTemplateOutlet]="template || defaultTemplate"
                             [ngTemplateOutletContext]="{item: item}">
                </ng-template>

                <div *ngIf="item.closeable"
                     class="ux-tree-sub-menu__item-close"
                     (tap)="_itemClose($event, item)">
                </div>

            </div>
        </div>
    </li>
</ng-container>

<ng-template #defaultTemplate let-item="item">
    <span class="ux-tree-sub-menu__item-caption">
        {{item[itemCaptionKey]}}
    </span>
</ng-template>
