@import "../../common/common-vars.less";

.ux-breadcrumbs {
  display: block;
  background-color: transparent; /*!-designToken-breadcrumbs-background-color*/

  &__item {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid transparent;
    background-color: transparent; /*!-designToken-breadcrumbs-item-background-color*/
    line-height: 1.21;
    .font-regular;
    color: @primary-active-color; /*!-designToken-breadcrumbs-item-color*/

    &._label {
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover, &:active {
        border-bottom: 1px solid @primary-active-color;
      }
    }

    &._separator {
      width: 18px;
      height: 18px;
    }
  }
}
