/*UX Menu*/
@import "../../common/common-vars.less";
@import "../../common/mixins.less";
@import "../../common/component-states.less";

.ux-menu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &__caption {
        padding: 13px 12px;
        .font-light;
        font-size: 24px;
        color: @main-text-color;
    }

    &__list {
        &-wrapper {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            height: 100%;
        }

        &-content {
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            height: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        border-radius: 4px; /*!-designToken-menu-item-border-radius*/
        cursor: pointer;

        &._disabled {
            .state_disabled;
        }

        & + & {
            margin-top: 1px;
        }

        &:not(._disabled):hover {
            background-color: @default-warning-color; /*!-designToken-menu-item-hover-background-color*/
        }

        &._active {
            background-color: @default-info-color; /*!-designToken-menu-item-active-background-color*/
        }

        &-icon {
            display: inline-block;
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            margin: 3px 12px 0 0;
        }

        &-close {
            display: inline-block;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            margin: 0 0 0 20px;
            transform: translate3d(0, -1px, 0);

            &:hover {
                border-radius: 2px;
            }

            & > :first-child {
                width: 16px;
                height: 16px;
            }
        }

        .visibility-transition-config(0.2s, ~"-close", ~":hover .ux-menu__item-close");

        &-caption {
            line-height: 1.2;

            &-wrapper {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-break: break-word;
                .font-light;
                color: @main-text-color; /*!-designToken-menu-item-color*/
            }

            display: block;
        }

        &-description {
            display: block;
            margin-top: 4px;
            font-size: 11px;
            color: @default-dark-color;
        }
    }
}
