<div *ngIf="visible"
     class="ux-linear-dots-loader__inner">
    <div class="ux-linear-dots-loader__dot _first-dot"
         [style.background]="color ? color : ''"></div>
    <div class="ux-linear-dots-loader__dot _second-dot"
         [style.background]="color ? color : ''"></div>
    <div class="ux-linear-dots-loader__dot _third-dot"
         [style.background]="color ? color : ''"></div>
</div>