.sq-probes-report-list {
  &__cards {

    & > .ux-table {
      width: 100%;

      & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 1 20%; min-width: 20%;}
        &:nth-of-type(2) {  flex: 0 1 20%; min-width: 20%;}
        &:nth-of-type(3) {  flex: 0 1 20%; min-width: 20%;}
        &:nth-of-type(4) {  flex: 0 1 10%; min-width: 10%}
        &:nth-of-type(5) {  flex: 0 1 10%; min-width: 10%}
        &:nth-of-type(6) {  flex: 0 1 5%; min-width: 5%}
        &:nth-of-type(7) {  flex: 0 1 5%; min-width: 5%}
        &:nth-of-type(8) {  flex: 0 1 5%; min-width: 5%}
        &:nth-of-type(9) {  flex: 0 1 5%; min-width: 5%}
      }
    }
  }

  &__simple {

  }
}
