.sq-report-by-devices {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    display: flex;
    flex-direction: column;

    &-title {
      .font-bold-medium;
    }

    &-data {
      display: flex;
      flex-direction: column;

      &-chart {

      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    &-row {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-message {
          margin-top: 8px;
          &.error {
            color: @primary-error-color;
          }
        }
      }
    }

    &-charts {
      @media screen and (max-width: 800px) {
        min-width: 800px;
        max-width: 800px;
      }

      @media screen and (min-width: 801px) and (max-width: 1024px) {
        width: calc(100% - 2*@virtual-scroll-width);
      }

      @media screen and (min-width: 1025px) and (max-width: 1025px + 2*@virtual-scroll-width) {
        width: calc(1025px - 2*@virtual-scroll-width);
      }

      @media screen and (min-width: 1026px + 2*@virtual-scroll-width) {
        min-width: 1024px;
        width: 1024px;
      }
    }

    &-chart {
      width: 100%;
      height: 300px;
      margin: 40px 0 40px 0;
      display: block;

      & > .ux-highchart {
        height: 300px;
      }
    }
  }
}
