.sq-report-wizard {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-head {
      display: flex;
      flex-direction: column;

      &._title {
        .font-bold-large
      }

      &._subtitle {
      }
    }

    &-navigation {
      display: flex;
      flex-direction: row;

      &-item {
        width: 200px;

        &:first-child {
          margin-right: 4px;
        }

        &:last-child {
          margin-left: 4px;
        }

        & button {
          width: 200px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: 16px 0 0 0;
    padding: 16px;
    .flat_border;
    background: @light-background-color;
  }

  &__page {
    display: flex;
    flex-direction: column;

    & .ux-label {
      width: 300px;
      margin: 20px 0 20px 0;
    }
  }
}
