.sq-report-view {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 20px 0;
  }

  &__content {
    display: flex;
    flex-direction: row;

    &-references {
      display: flex;
      flex-direction: column;
      width: 200px;
      min-width: 200px;

      &-item {
        .font-bold-small;
        height: 24px;
        line-height: 24px;
        padding: 0 24px 0 24px;
        margin: 4px 16px 4px 0;
        cursor: pointer;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background: @light-background-color;
        }
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      flex: 1;

      &-card {

        .flat_border;
        display: flex;
        flex-direction: column;
        background: @light-background-color;
        margin: 24px 0 24px 0;
        padding: 24px 16px 24px 16px;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-item {
          display: flex;
          flex-direction: column;
          margin: 16px 0 16px 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-row {
          display: flex;
          flex-direction: row;
        }

        &-column {
          display: flex;
          flex-direction: column;
          flex: auto;
          margin: 0 16px 0 16px;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
        }

        ._loading {
          position: relative;
          .font-bold-small;
          color: @main-text-gray-color;
        }

        ._title {
          .font-bold-medium;
          color: @main-text-gray-color;
          margin: 0 0 16px 0;
        }

        ._chart {
          &._summary {
            max-width: 400px;
          }

          &._satisfaction {
          }

          &._linear {
          }

          &._calendar {
          }

          &._testcase {
          }
        }
      }

    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-functions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &-function {
      &._icon {
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin: 8px 16px 8px 16px;
        opacity: 0.8;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      &._chart {
      }

      &._error {
      }
    }

    & > .ux-table {
      width: 100%;

      & .ux-table__column {
        &:nth-of-type(1) {  flex: 0 1 15%; min-width: 15%;}
        &:nth-of-type(2) {  flex: 0 1 15%; min-width: 15%;}
        &:nth-of-type(3) {  flex: 0 1 70%; min-width: 15%; width: ~'calc(70% - 756px)';}
        &:nth-of-type(4) {  flex: 0 1 200px; min-width: 200px}
        &:nth-of-type(5) {  flex: 0 1 100px; min-width: 100px}
        &:nth-of-type(6) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(7) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(8) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(9) {  flex: 0 1 86px; min-width: 86px;}
        &:nth-of-type(10) {  flex: 0 0 112px; min-width: 112px;}
      }
    }

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      & > .ux-paging {
        margin: 40px 0 40px 0;
        width: auto;
      }
    }
  }
}
