.sq-report-filter {
  &__container {
    display: flex;
    flex-direction: column;

    &-row {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-message {
          margin-top: 8px;
          &.error {
            color: @primary-error-color;
          }
        }
      }
    }

    &-footer {
      margin-top: 20px;
      width: 416px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &._compact {
        width: 300px;
      }

      &-item {
        margin: 0 20px 0 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }

    ux-label {
      width: 416px;
      &._compact {
        width: 300px;
      }
    }

    .ux-multiple-field-devices {
      min-width: 600px;
      max-width: 600px;

      &._compact {
        min-width: 300px;
        max-width: 300px;
      }
    }
  }
}
