.sq-reports-view {
  &__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__wrapper-initial {
    display: flex;
    flex-direction: column;
  }
  &__navigation-panel {
    display: flex;
    flex-direction: column;
    margin: 0 36px 0 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 20px 30px 20px ;

    &-row {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-message {
          margin-top: 8px;
          &.error {
            color: @primary-error-color;
          }
        }
      }
    }

    &-footer {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &-item {
        margin: 0 20px 0 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }

    ux-label {
      width: 228px;
    }

    .ux-multiple-field-devices {
      min-width: 228px;
      max-width: 228px;
    }

    &-charts {
      @media screen and (max-width: 800px) {
        min-width: 800px;
        max-width: 800px;
      }

      @media screen and (min-width: 801px) and (max-width: 1024px) {
        width: calc(100% - 2*@virtual-scroll-width);
      }

      @media screen and (min-width: 1025px) and (max-width: 1025px + 2*@virtual-scroll-width) {
        width: calc(1025px - 2*@virtual-scroll-width);
      }

      @media screen and (min-width: 1026px + 2*@virtual-scroll-width) {
        min-width: 1024px;
        width: 1024px;
      }
    }

    &-chart {
      width: 100%;
      height: 300px;
      margin: 40px 0 40px 0;
      display: block;
    }
  }
}
