.sq-satisfaction-chart {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: @main-background-color;

    border: solid 1px @default-border-shadow-color;
    border-radius: 4px;
  }

  &__header {
    .font-bold-small;
    color: @main-text-gray-color;
    margin: 0 auto;
    line-height: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-level {
      .font-regular-small;
      display: flex;
      flex-direction: row;

      line-height: 30px;
      padding: 0 16px;

      &-axe-value {
        color: @main-text-color;
        padding: 0 4px 0 16px;
      }

      &-legend {
        color: @main-text-color-revert;
        width: 100%;
        position: relative;
        top: 15px;

        &-caption {
          margin: 0 auto;
          width: fit-content;
        }

        &._level_empty {
          background-color: transparent;
        }
        &._level_0 {
          background-color: #CE0010;
        }
        &._level_1 {
          background-color: #DE2429;
        }
        &._level_2 {
          background-color: #F75521;
        }
        &._level_3 {
          background-color: #FFBA21;
        }
        &._level_4 {
          background-color: #84C339;
        }
        &._level_5 {
          background-color: #219A18;
        }
      }
    }
  }
}
