.sq-summary-chart {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: @main-background-color;

    border: solid 1px @default-border-shadow-color;
    border-radius: 4px;

    padding: 32px 32px 32px 32px;

    & tr td {
      padding: 8px 0 8px 0
    }
  }

  &__statistic {

    &._title {
      .font-regular-small;
      color: @main-text-color;
    }

    &._label {
      .font-bold-small;
      color: @main-text-gray-color;
    }

    &._value {
      .font-bold-small;

      &._level_u {
        color: @level_u;
      }
      &._level_0 {
        color: @level_0;
      }
      &._level_1 {
        color: @level_1;
      }
      &._level_2 {
        color: @level_2;
      }
      &._level_3 {
        color: @level_3;
      }
      &._level_4 {
        color: @level_4;
      }
      &._level_5 {
        color: @level_5;
      }
    }
  }
}
