.sq-testcase-chart {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: @main-background-color;
    padding: 32px 32px 32px 32px;
    .flat_border;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 10px 0 10px 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &-head {
      & ._title {
        .font-bold-big;
        color: @main-text-gray-color;
      }
    }

    &-content {
      margin: 0 0 24px 0;

      &-title {
        .font-bold-small;
        color: @main-text-gray-color;
      }

      &-chart {

      }

      & table {

        &._stripped {
          & tbody {
            & tr:nth-child(odd) {
              background: @light-background-color;
            }
          }
        }

        & thead {
          & tr td {
            .font-bold-small;
            color: @main-text-gray-color;
            background: @primary-background-color;
            padding: 8px 0 8px 0;
          }
        }
        & tbody {

          & tr td {
            .font-regular-small;
            padding: 8px 0 8px 0;

            &._label {
              .font-bold-small;
              color: @main-text-gray-color;
              min-width: 200px;

              &._top {
                vertical-align: top;
              }
            }

            &._value {
              .font-regular-small;
              color: @main-text-gray-color;
              min-width: 100px;

              ._row {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }

            &._sign {
              min-width: 40px;

              & ._icon {
                height: 16px;
                width: 16px;
              }
            }

            & ._level {
              width: 12px;
              height: 12px;
              margin: 0 8px 0 0;

              &._level_u {
                background: @level_u;
              }
              &._level_0 {
                background: @level_0;
              }
              &._level_1 {
                background: @level_1;
              }
              &._level_2 {
                background: @level_2;
              }
              &._level_3 {
                background: @level_3;
              }
              &._level_4 {
                background: @level_4;
              }
              &._level_5 {
                background: @level_5;
              }
            }
          }
        }
      }
    }
  }
}
