@import "../../common/common-vars.less";
@import "../../common/color-vars.less";
@import "../../common/mixins.less";
@import "../../common/component-states.less";

.ux-popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    &__inner {
        padding: 30px 30px 23px;
        display: block;
        height: 100%;
        outline: none;
        border: 1px solid @default-color; /*!-designToken-popover-inner-border-width solid -designToken-popover-inner-border-color*/
        background-color: @default-background-color; /*!-designToken-popover-inner-background-color*/
        border-radius: 4px; /*!-designToken-popover-inner-border-radius*/
        .box-shadow();

        &._mobile {
            border-radius: 0;
            border: none;
        }
    }

    &._white &__inner, &._white &__arrow:before {
        background-color: @main-background-color;
    }

    &._no-padding &__content,
    &._no-padding &__inner {
        padding: 0;
    }

    &__arrow {
        overflow: hidden;
        position: absolute;
        z-index: 2;

        &:before {
            .box-shadow();
            background-color: @default-background-color; /*!-designToken-popover-arrow-background-color*/
            border: 1px solid @default-color; /*!-designToken-popover-arrow-border-width solid -designToken-popover-arrow-border-color*/
            position: absolute;
            transform: rotate(45deg);
            margin: 2px;
            content: "";
            width: 13px;
            height: 13px;
        }
    }

    &._calendar &__inner {
        border: none;
    }

    &._calendar &__arrow {
        z-index: 520;
    }

    &._calendar &__arrow:before {
        background-color: @main-background-color;
    }

    &__inner._top &__arrow,
    &__inner._bottom &__arrow {
        width: 20px;
        height: 12px;
        top: 0;
        left: 50%;
    }

    &__inner._right &__arrow,
    &__inner._left &__arrow {
        width: 12px;
        height: 20px;
        left: 0;
        top: 50%;
    }

    &__inner._top &__arrow {
        top: calc(~'100% - 1px');
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        margin-top: -1px;

        &:before {
            left: 1px;
            bottom: 3px;
        }
    }

    &__inner._bottom &__arrow {
        left: 50%;
        transform: translate3d(-50%, -100%, 0);
        margin-top: 1px;

        &:before {
            left: 1px;
            top: 3px;
        }
    }

    &__inner._left &__arrow {
        top: 50%;
        left: calc(~'100% - 1px');
        transform: translate3d(0, -50%, 0);
        margin-left: -1px;

        &:before {
            left: calc(~'-100% + 3px');
            top: 1px;
        }
    }

    &__inner._right &__arrow {
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
        margin-left: 1px;

        &:before {
            left: 3px;
            top: 1px;
        }
    }

    &__header {
        padding-right: 30px;
        line-height: 18px;
        position: relative;
        .font-bold-large;
        color: inherit; /*!-designToken-popover-header-color*/
    }

    &__close-icon {
        position: absolute;
        right: -5px;
        top: -5px;
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: border-color .2s ease,
        background-color .2s ease,
        box-shadow .2s ease;

        .state_focus-passive(absolute);

        &:hover, &:focus {
            .state_focus-active();
        }

        &-svg {
            fill: @primary-icon-color;
            width: 20px;
            height: 20px;

            .ux-date-field__calendar-popover &,
            .ux-range-date-field__calendar-popover & {
                fill: @default-icon-color;
            }
        }
    }

    &._calendar &__close-icon {
        z-index: 600;
        transform: translate3d(-13px, 13px, 0);
    }

    &__content {
        padding-top: 16px;
        height: ~'calc(100% - 18px)';
        background-color: transparent; /*!-designToken-popover-content-background-color*/
        color: inherit; /*!-designToken-popover-content-color*/
    }

    &__inner._no-caption &__content {
        height: 100%;
    }

    &._no-padding &__content {
        padding-top: 0;
    }

    &._mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }

    &._suggestion &__arrow:before {
        background-color: @main-background-color; /*!-designToken-popover-suggestion-background-color*/
    }
    &._suggestion &__inner {
        background-color: @main-background-color; /*!-designToken-popover-suggestion-inner-background-color*/
    }

    &._mobile &__arrow,
    &._no-arrow &__arrow {
        display: none;
    }

    /*Transitions*/
    &._transition {
        transition: transform 0.3s ease;
    }

    &._initial-bottom-to-top {
        transform: translate3d(0, 80vh, 0);
    }

    &._bottom-to-top {
        transform: translate3d(0, 0, 0);
    }

    &._initial-right-to-left {
        transform: translate3d(80vw, 0, 0);
    }

    &._right-to-left {
        transform: translate3d(0, 0, 0);
    }
}
