.sq-tests-list {
  display: flex;
  flex-direction: column;

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: row;

      &-button {
        padding: 0 16px 0 0;
      }

      &-search {
        margin: 0 2.6em 0 0;
        width: 20em;
      }
    }
  }

  &-table {
    display: flex;
    flex-direction: column;

    & > .ux-table {
      width: 100%;
    }

    & .ux-table__column {
      &:nth-of-type(1) {  flex: 0 0 28px; min-width: 28px;}
      &:nth-of-type(2) {  flex: 0 1 20%; min-width: ~'calc(20% - 28px)';}
      &:nth-of-type(3) {  flex: 0 1 20%; min-width: 20%;}
      &:nth-of-type(4) {  flex: 0 1 20%; min-width: 20%}
      &:nth-of-type(5) {  flex: 0 1 20%; min-width: 20%}
      &:nth-of-type(6) {  flex: 0 1 20%; min-width: 20%}
    }
  }
}
