.sq-test-view {
  &-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__sidepanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
    margin-top: 18px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 36px;

    &-header {
      font-size: 22px;
      line-height: 36px;
      text-align: left;
      color: #262626;
      white-space: nowrap;
    }

    &-body {
      display: table;
      width: fit-content;
      border-spacing: 10px;

      &-row {
        display: table-row;

        &-item {
          display: table-cell;
          &.label {
            vertical-align: text-top;
            width: 10em;
            color: @default-active-color; /*!-designToken-label-text-color*/
          }
          &.field {
            width: 20em;
            position: relative;

            &__input {
              width: 20em;
              padding-top: 8px;
              display: inline-block;
              word-break: break-all;
            }
          }
        }
      }
    }

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &-item {
        margin: 0 16px 0 0;
      }
    }
  }

  &__results-table {
    display: flex;
    flex-direction: column;
  }
}
